[2021-07-28 05:13] nishantlnmiit commented on #310
@LEDfan , would request you to help me out on this.

[2021-07-29 10:50] panoptikum opened #313 "proper configuration of access-groups via keycloak"
Dear Folks,

Thanks again for this great tool. I really enjoy working with shinyproxy.

I've got a setup where the authentication runs via keycloak, but I had no luck so far to define the access-groups with group memberships that should come from keycloak. I'm new to use keycloack based authentication. It might be that I do not fully understand how it works. Is it possible to specfiy access-groups

[2021-07-29 12:13] Dusan-Dingarac commented on #313
Hi Panoptikum,

Keycloak groups you can use just to group deiifernt users at your Keycloak. But to use Keycloak to define Shinyproxy access rights (groups) you need roles. For your realm define role for client which you create for shinyproxy.  That role you give to users (or to Keycloak group for easier user mgm). That role name will appear in Shinyproxy as access-group but also as enviroment vari

[2021-07-29 12:37] panoptikum commented on #313
Hi Dusan,

I'm not sure whether I have understood you correctly. We have several groups/teams in our company like:

Team A
Team B
Team C
...
Team Z

There is already a claim for this in our identity management. Then I will have several apps like:

App 1
App 2
...
App 10

Now I want for example the following access rights:
App 1: Team A, Team B
App 10: Team C, Team F, Team Z

If I only define one r

[2021-07-29 13:14] Dusan-Dingarac commented on #313
For your case, you need to create one client role per app. And then to assign that role to teams.
Client role eg. role_app_1, role_app_2....
And for groups Team A and Team B assign role_app_1

And in application.yml for App 1 put:
access-groups: [role_app_1]

I think that would be your setup and later with joining or removing users from group (Team X) in Keycloak you can control access to apps in

[2021-07-30 08:07] LEDfan commented on #310
That configuration should work and cause no timeouts. Are you sure it's configured at the correct location? (i.e. in the correct server block) If so, I suspect you have another proxy or loadbalancer in front of nginx which is causing the timeout. Sometimes you can determine the software which is causing the error from the exact error page that is shown.

I cannot help much further with this, as I

[2021-07-30 08:08] LEDfan commented on #312
Hi @nik-humphries

I think this changed again when we did some refactoring in the code. I'll open this ticket open as an feature request to change it again, but I cannot promise if we will do this soon.

[2021-07-30 08:10] LEDfan commented on #138
Hi @Adt-HamzahJamal

Such an error is often caused because of an error/bug in the application you are running. Feel free to open a new request with some more details of your environment (application.yml, shinyproxy logs, type of application, when you experience this error etc), so that we can have a more in-depth look at the issue.

[2021-07-30 08:22] LEDfan commented on #301
The handling of the session (and thus also the cookies) is done by a different layer of the software. When you enable secure cookies and don't access ShinyProxy over a secure connection, this layer will already handle the request (because no session cookie is present) and therefore the request never reaches the part of the code that handles the authentication. Therefore ShinyProxy will not send an

[2021-07-30 09:05] spokowodza opened #314 "No authentication + app in an iframe leads to producing number of docker containers"
Hello,
I would like to start with big thank you to all openanalytics team for such a great tool.

I have some problem with shinyproxy. Our internal shiny application works on the server with shinyproxy (address1). There is no authentication set there `authentication: none`. If I go directly to adress1, everything works fine. Each person entering addres1 gets 1 docker container. But if I put addres

[2021-07-30 12:08] LEDfan commented on #305
Hi @markwsac

After thinking about this a bit more, I think I know the cause of this issue. ShinyProxy 2.5.0 sends a session cookie to the browser without a same site cookie policy. Modern browsers are blocking these kind of cookies in a third-party context. (to be precise, browsers are treating them as cookies with a Lax policy). Therefore ShinyProxy is unable to identify a session for each of th

[2021-07-30 12:10] LEDfan commented on #314
Hi @spokowodza

This is a very similar issue as in #305, please have a look at the comment I just posted [in that issue](https://github.com/openanalytics/shinyproxy/issues/305#issuecomment-889849259).

[2021-07-30 12:12] LEDfan commented on #299
Hi @shosaco

As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 12:12] #299 closed

[2021-07-30 12:15] LEDfan commented on #279
Hi

We created a repo demonstrating how to run a Flask app in the upcoming version of ShinyProxy: https://github.com/openanalytics/shinyproxy-flask-demo

As I believe this question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 12:15] #279 closed

[2021-07-30 12:17] LEDfan commented on #244
Hi @yusfilpulungan

Since we need more information to solve your issue and we did not hear back from you, I'm closing this issue.
However, please re-open the issue if you have some more information or need more help.

[2021-07-30 12:17] #244 closed

[2021-07-30 12:18] LEDfan commented on #236
Hi @gazetapl

As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 12:18] #236 closed

[2021-07-30 12:29] LEDfan commented on #216
Hi @bianchenhao
Since we need more information to solve your issue and we did not hear back from you, I'm closing this issue.
However, please re-open the issue if you have some more information or need more help.

[2021-07-30 12:29] #216 closed

[2021-07-30 12:30] LEDfan commented on #202
Hi everyone

As I believe this question is answered, I'm closing this issue. Feel free to re-open it if you need more help. (Please open a new issue if it's unrelated to this one)

[2021-07-30 12:30] #202 closed

[2021-07-30 12:35] nbbn commented on #301
I get your point, but talking about layer handling the request, this layer could see mismatch between protocol (if behind proxy, then through X-Forwarded-Proto header) and shinyproxy configuration (with secureCookies) and emit warning (because there might be some strange setup e.g. with proxy without non-standard header). I don't know architecture, but I guess it might be cumbersome, as first laye

[2021-07-30 12:58] LEDfan commented on #301
You are right :) Spring provides a way to hook into these kind of errors. Next ShinyProxy server will generate a warning:

[code]

[2021-07-30 13:02] LEDfan commented on #192
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:02] #192 closed

[2021-07-30 13:06] LEDfan commented on #231
Duplicate of #162

Hi @kuzmenkov111 I just noticed you already create a very similar issue :P

I was aware of your feature request, and I understand the use-case, but currently we have no plans to implement it.
(I'm keeping the other issue open as feature request)

[2021-07-30 13:06] #231 closed

[2021-07-30 13:08] LEDfan commented on #155
Hi I think this is caused by a misconfiguration of the `server.servlet.context-path` of ShinyProxy.
However, since this is quite an old issue, I'm going to close it.
Of course, if you still experience the issue, feel free to re-open it.

[2021-07-30 13:08] #155 closed

[2021-07-30 13:08] LEDfan commented on #157
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:08] #157 closed

[2021-07-30 13:09] LEDfan commented on #158
Hi @PauloJhonny

Great to hear that 2.5.0 solved your issue!
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:09] #158 closed

[2021-07-30 13:11] LEDfan commented on #139
As I believe that your question is answered (since the issue is solved in Chrome), I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:11] #139 closed

[2021-07-30 13:13] LEDfan commented on #114
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:13] #114 closed

[2021-07-30 13:13] LEDfan commented on #113
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:13] #113 closed

[2021-07-30 13:16] LEDfan commented on #112
Hi have a look at https://github.com/openanalytics/shinyproxy/issues/257#issuecomment-749400781 which should give you a way to logout from the app.

[2021-07-30 13:16] #112 closed

[2021-07-30 13:19] LEDfan commented on #75
This seems like an old bug which should be fixed in the latest ShinyProxy versions. Therefore I'm closing this isssue.
Feel free to re-open it if you need more help.

[2021-07-30 13:19] LEDfan commented on #74
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:19] #74 closed

[2021-07-30 13:21] LEDfan commented on #40
Hi

This is quite an old issue and in the meantime we have updated our documentation. Therefore I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:21] #40 closed

[2021-07-30 13:22] LEDfan commented on #26
As I believe that your question is answered, I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:22] #26 closed

[2021-07-30 13:22] #75 closed

[2021-07-30 13:23] LEDfan commented on #46
Hi

This is quite an old issue and in the meantime we have updated our documentation. Therefore I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:23] #46 closed

[2021-07-30 13:23] LEDfan commented on #45
This is quite an old issue and in the meantime we never had (AFAIK) a similar issue. Therefore I'm closing this issue. Feel free to re-open it if you need more help.

[2021-07-30 13:23] #45 closed

[2021-07-30 13:31] spokowodza commented on #314
Hi @LEDfan
Thanks a lot !

[2021-07-30 13:31] #314 closed

[2021-07-30 14:49] nbbn commented on #301
Great!

[2021-07-31 11:46] mskyttner commented on #192
Sorry, late response, this seems to have solved the issue, thanks!

[2021-08-02 10:33] panoptikum commented on #313
This is not an option for me as I do not want to maintain such roles in coexistence with our existing groups that are widely used across the comapny. I'm now using OIDC directly where I can use the already existing claim that returns me an array with all group memberships. It seems to work well. I'm new to the world of authorization providers, but as I understand keycloak is based on top of OIDC.

[2021-08-02 10:33] #313 closed

[2021-08-02 16:09] pvictor commented on #309
Thanks for your quick reply and sorry for my late answer (I don't have access to the machine right now).
Yes I suspected a problem with Docker, I thought I had cleaned it up, I will check again.

Thanks for your suggestion

[2021-08-06 08:54] stevefan1999-personal opened #315 "Support multiple container in one pod for Kubernetes"
From https://github.com/openanalytics/containerproxy/issues/62:

[2021-08-14 13:38] alexvpickering opened #316 "openid logout-url no longer working when update to 2.5.0"
I tried updating from 2.3.0 to 2.5.0. Here is my application.yaml:

[code]

When I updated to 2.5.0 I changed `useForwardHeaders: true` to  ` forward-headers-strategy: native`. Login works fine but when I logout I get redirected to `/auth-error` whereas with 2.3.0 it would return to the login page.

The logs show the user logged out, proxy released, then this error:

[code]

Any suggestions?

[2021-08-17 06:24] nishantlnmiit commented on #310
@LEDfan - tried few more things , nothing worked
Need your assistance here.

[2021-08-20 11:26] nbbn opened #317 "header X-Content-Type-Options: nosniff not customizable"
Hi,
I noted that header `X-Content-Type-Options: nosniff` is present in Shinyproxy responses.
That's nice, but I also add this header on proxy, therefore I would like to turn it off.
Unfortunately, I don't see an option for this.

BTW: it is a little connected to #254, according to it this header was added silently in version 2.4.x. Maybe we could add some switch for it in application.yaml? BTW, I

[2021-08-20 11:44] nbbn opened #318 "forward-headers-strategy: native keeps redirect to http instead of https"
Hi,
as you can see from other issues opened, I try to harden my shinyproxy instance.

I have it behind reverse proxy with https termination.
However, when I do:
[code]
I get a response with: `Location: http://example.com/login`. I would like to have https in this response to avoid potential downgrade to http.

According to [docs](https://www.shinyproxy.io/documentation/security/#forward-headers),

[2021-08-23 12:58] LEDfan commented on #318
Hi @nbbn

The setup you describe should work. Just to be sure: is the config you provided placed at the top level of the configuration file? I.e. the `server:` is no located under another property. It should be like:

[code]

not:

[code]

If that's okay, I suspect that (for whatever reason) the proxy isn't sending the correct headers. You could try enable [request dumping](https://www.shinyproxy.

[2021-08-23 13:04] LEDfan commented on #317
Hi

It's currently indeed not possible to tweak these headers. What you could do is to configure the proxy to remove the `X-Content-Type-Options` header. For example for nginx, you can use:

[code]

Nevertheless, I understand that it would be useful to configure the headers a bit more.
Do you think it would make sense to have one property that disables all headers set by ShinyProxy and the another

[2021-08-23 13:12] LEDfan commented on #316
Hi, I think the problem is that after logout you redirect the user back to `login/oauth2/code/shinyproxy`. This URL is normally used inside the OpenID authentication process. In that process the request to that URL contains some more parameters. However, if those parameters are missing, you'll get an error.

Can you try changing the `redirect_uri` parameter to something different? You can simply r

[2021-08-24 12:11] nbbn commented on #318
Hi, thanks for your reply.
First of all, I checked headers with request dumping:
[code]
gives me:
[code]

my application.yml is like (I removed some sensible elements):
[code]

[2021-08-24 15:02] LEDfan commented on #318
Hi

I think the issue is that your proxy (nginx) is providing the protocol/scheme using the header `X-Forwarded-Protocol` instead of `X-Forwarded-Proto`. As far as I know the only valid header is the second one. See e.g.:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto

Could you try changing the header to `X-Forwarded-Proto`?

[2021-08-24 15:39] nuno-agostinho commented on #128
Any news on this feature? I also use shinyproxy in docker-compose and would prefer if I did not have to set a `container-network: "${proxy.docker.container-network}"` to every app. Alternatively, a way to set the `container-network` of all apps would be good too.

[2021-08-24 17:36] nbbn commented on #318
You are right, my mistake, thank you for your help!

[2021-08-24 17:36] #318 closed

[2021-08-25 10:53] Patrikios opened #319 "Login Problems on shinyproxy 2.5.0"
Created a new debian buster VM in order to test out the newer version 2.5.0 over 2.3.0 which I am using in production envirnoment in LDAP authentification mode, works just fine.

After getting the 2.5.0 service up an running, setting to simple authentification as per the example from your official website, I cannot login.  I get the following error that I do not understand. The error is caused by

[2021-08-29 13:53] alexvpickering commented on #316
I tried both and I get a `redirect_mismatch` error from the browser with this (no errors in shinyproxy logs):

![image](https://user-images.githubusercontent.com/15719520/131252856-68d2e9f7-7cf1-4a7c-b449-103a60aa9c31.png)

[2021-08-29 15:36] alexvpickering commented on #316
I figure out a solution looking [here](https://stackoverflow.com/a/51214734/5393928). Basically the `redirect_uri` approach that AWS allows doesn't seem to work with shinyproxy 2.5.0 but the `logout_uri` does. I changed it to this:

[code]

[2021-08-31 12:25] #319 closed

[2021-08-31 12:25] Patrikios commented on #319
It was a problem in application file.

[2021-09-09 12:04] nitnagpal opened #320 "Shinyproxy throwing exception on shutdown when running on Kubernetes"
Shinyproxy running on Kubernetes with persistent storage configured using redis is throwing exception during shutdown and not cleaning up running pods leaving behind orphaned pods.

Shinyproxy version 2.4.0/2.4.1
Kubernetes version 1.20

The exception its throwing is below:

[code]

Expected behaviour should be it shutdowns all the pods started by it or shinyproxy should also store the proxy infor

[2021-09-13 06:44] LEDfan commented on #320
Hi, this issue is fixed in ShinyProxy 2.4.3. Please try that version or 2.5.0

[2021-09-13 06:46] LEDfan commented on #316
Hi @alexvpickering, thanks for sharing the solution!
Since I think your question is solved, I'm closing this issue, feel free to open a new issue if you experience a problem with ShinyProxy.

[2021-09-13 06:46] #316 closed

[2021-09-13 06:48] LEDfan commented on #128
Hi, this issue is not yet solved, but we will consider it for the upcoming releases. I'll keep you informed when we want to implement this.

[2021-09-16 14:39] pvictor commented on #309
It seems that the bug was caused by a permission problem on `/var/run/docker.sock`.
Giving read+write permission to Docker user on that file solved the issue.

Thanks!

[2021-09-16 14:39] #309 closed

[2021-09-27 17:25] #305 closed

[2021-09-29 10:30] stla commented on #222
Hello,

  I am experiencing the same crash. My app has a `radioButtons` with two buttons, each one produces a `plotly` graphic. When I play with these buttons, the app crashes, with the error discussed in this issue. Locally, there's no crash at all.

[2021-09-29 10:58] stla commented on #222
I also experience the crash with FireFox, but with a different error message:

[2021-09-30 04:12] saikatmitra71 opened #321 "Deployment Option for Reading HTTPOnly Cookie"
I'm trying to read HTTPOnly cookie from shiny application and add some rules based on it. I've tried session$request$HTTP_COOKIE which works fine in rstudio, but fails at shiny server as it drops some HTTP headers. I've tried ShinyProxy with rocker/shiny-verse docker image, it fails too.

Is there any way to achieve the functionality with some other docker image? Any kind of guideline would be ver

[2021-09-30 05:19] tverbeke commented on #321
Hi @saikatmitra71 There is no need to use Shiny server with ShinyProxy. The intended use is to use a Docker image with R and the shiny package. See the explanations at https://www.shinyproxy.io/documentation/deploying-apps/ Maybe that helps?

[2021-10-04 10:54] stla commented on #222
Solved by upgrading ShinyProxy.

[2021-10-12 12:14] vanhry opened #322 "Preinitialize the container"
I deployed a quite large shiny application with shinyproxy, but the launching time is extremely slow (7-10 sec). On the other side, when user open app served by shiny-server, the app is already running, and it launches very fast (it’s obvious because there is no need to initialization).
But my question is can we make some “prepared container” (we start it allocated the port, but don’t give it to t

[2021-10-14 11:05] templary opened #323 "DT ajax error"
Hello, I would like to ask you for help.

Im getting  **io.undertow.server.TruncatedResponseException: null** and I have no idea how to fix it.

Im using container proxy 0.8.8 and ShinyProxy 2.5.0

I saw that a similar problem has already been solved here, but unfortunately this solution did not help me.

Thank you a lot

`2021-09-28 13:44:39.179  INFO 13259 --- [  XNIO-1 task-3] c.s.docker.client

[2021-10-21 12:52] templary commented on #323
Hi @LEDfan
Thank you for your reply.

I found out that the bug was caused by using params = "action=XXXX" annotation in one of the controllers.

`@RequestMapping(value = "/XXX/{XXX}/.XXXX", method = RequestMethod.POST,  **params = "action=XXXX"**)`

The controller is not used in any way when running the application but still this error appeared. I can't think of any reason. Do you guys have any re

[2021-10-21 13:57] templary commented on #323
Thank you for explanation!

Yes, I modified Java code of ShinyProxy with added controller class
this it whole method:

[code]

I will try to do it with GET method.

[2021-10-25 18:57] nbbn opened #324 "basic web auth allowed"
Hi,
I'm surprised, because I was able to log in with http basic auth at main page of my shinyproxy instance.

Example of request:
[code]

I receive code 200 and be redirected to the app.

My application.yaml:

[code]

Of course credentials in the header has to be valid, but still I am a little concerned, because then the browser will send this base64-encoded login and password to all requests (for

[2021-10-27 16:57] francescocamussoni opened #325 "Not saving logs"
Hello, i'm using the .deb package for the deploy and with this application.yml (on /etc/shinyproxy/) it doesnt log container logs nor shinyproxy logs

[code]

On the other hand, when I use the java -jar command, it works just fine with the same application.yml file

Any thoughts?

[2021-11-02 07:44] LEDfan commented on #321
Hi @saikatmitra71

Since your problem is solved now, I'm closing this issue. Feel free to open a new issue if you encounter any problem.

[2021-11-02 07:44] #321 closed

[2021-11-02 08:34] LEDfan commented on #325
Hi @francescocamussoni

The deb package of ShinyProxy creates the `/etc/shinyproxxy` directory. This directory is owned by the `root` user, but can be read by the `shinyproxy` user. However, the `shinypoxy` user cannot write into that directory. Therefore the logs are not saved.  ShinyProxy logs an error message on startup about this:

[code]

You can fix this using:
[code]

[2021-11-02 08:43] LEDfan commented on #323
Nice to heart that the problem is solved now. I'm therefore closing this issue. Feel free to open a new issue if you encounter anything.

[2021-11-02 08:43] #323 closed

[2021-11-02 10:02] burgerga opened #326 "Documentation improvement: easy edit systemd overrides"
In https://www.shinyproxy.io/documentation/getting-started/#docker-startup-options it is suggested that

However this directory might not exist, so I wasn't sure if the instructions were applicable to my Manjaro Linux installation. So an easier approach that works for all systemd systems is to use `sudo systemctl edit docker`, this will create the appropriate directories and opens an override file

[2021-11-02 10:12] LEDfan commented on #326
Hi

Thanks for the suggestion. In practice, I'm also using this edit command, but I never updated the docs.
The docs are fixed now and will soon be updated online.

[2021-11-02 10:12] #326 closed

[2021-11-02 10:54] burgerga opened #327 "Can't start shinyproxy on Java 16"
Related to #4, with `openjdk version "16.0.2" 2021-07-20` I get

[code]

As suggested, running `java --add-exports=java.naming/com.sun.jndi.ldap=ALL-UNNAMED -jar shinyproxy-2.5.0.jar` works, however, https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-with-Java-9-and-above#spring-ldap suggests that this is fixed in spring-ldap 2.3.4 which is available in [spring-boot v2.5.0](https://gi

[2021-11-02 11:04] burgerga commented on #327
(added required spring boot version to description)

[2021-11-02 11:28] LEDfan commented on #327
Hi

ShinyProxy 2.6.0 (which will be released very soon), supports both JDK 16 and 17.

[2021-11-04 05:05] Philip-Wu commented on #185
Hi @billy34

did you have any luck solving this problem? I too am facing something similar. Not sure how to establish a network connection to a remote database sitting on another VM. thx

[2021-11-05 12:29] panoptikum opened #328 "One pod for multiple users of a Dash application"
Hello Folks,

Thanks for all the effort you put into this great tool shinyproxy. The new version has a lot of new interesting features.

I know that the main purpose of shinyproxy is to offer a wrapper for r shiny apps and other dashboard frameworks are less in the focus, but I was wondering if there is a possibility that shinyproxy spins up only one pod per Dash app as it is stateless unlike R sh

[2021-11-05 14:26] LEDfan commented on #327
[ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10) has now been released, which is compatible with JDK 16 and 17.

Thanks for opening the issue.

[2021-11-05 14:26] #327 closed

[2021-11-05 14:26] LEDfan commented on #217
This is now possible with [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10).

See https://shinyproxy.io/documentation/spel/ for more documentation.

Thank you for the suggestion!

[2021-11-05 14:26] #217 closed

[2021-11-05 14:27] LEDfan commented on #263
This is now part of [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10).

See https://shinyproxy.io/documentation/spel/ for more documentation.

Thank you for the suggestion!

[2021-11-05 14:27] #263 closed

[2021-11-05 14:30] LEDfan commented on #288
[ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10) has just been released, which now allows you to easily add these variables to any app.

See https://shinyproxy.io/documentation/spel/ for more documentation and especially this section: https://shinyproxy.io/documentation/spel/#runtime-values

Note that it's still the case that not all default labels are added as envi

[2021-11-05 14:30] #288 closed

[2021-11-05 14:37] LEDfan commented on #174
[ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10) has just been released with support for Jupyter Notebooks. See the demo https://github.com/openanalytics/shinyproxy-jupyter-notebook-demo

Thank you for the suggestion!

[2021-11-05 14:37] #174 closed

[2021-11-05 14:44] thomas-chauvet commented on #174
Awesome ! Thanks !

[2021-11-05 15:23] fmmattioni commented on #263
wow, really cool!!! thank you!!

[2021-11-05 15:23] LEDfan commented on #149
This is now fixed in [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10).

Thank you for reporting this issue.

[2021-11-05 15:23] #149 closed

[2021-11-05 15:25] LEDfan commented on #296
Hi @jtelleriar

[ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10) now supports opening multiple instances of a single app.
See the docs here: https://shinyproxy.io/documentation/ui/#using-multiple-instances-of-an-app

I think this should solve you problem, therefore I'm closing this issue. If it doesn't solve your issue completely, feel free to re-open it.

[2021-11-05 15:25] #296 closed

[2021-11-05 15:26] LEDfan commented on #286
This is now part of [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10).

Unfortunately, as I explained above, we cannot fix the fact that an user has to sign in twice when they are too long on the login-page, but at least the user is now informed about this.

[2021-11-05 15:26] #286 closed

[2021-11-05 15:28] LEDfan commented on #230
Hi @mikiril

Automatically reconnecting the websocket connection is part of [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10) which we just released.

Note that this isn't a magic feature: your R Shiny app still has to support the reconnecting mechanism, but it can now be controlled from within ShinyProxy. See our docs for more information: https://shinyproxy.io/docu

[2021-11-05 15:28] #230 closed

[2021-11-05 15:29] LEDfan commented on #301
This is now part of [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10).

Thank you for the suggestion!

[2021-11-05 15:29] #301 closed

[2021-11-05 15:38] LEDfan commented on #144
[ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) which we just released, allows to specify the `hide-navbar-on-main-page-link` option for each app. When you set this value to `true`, the link to the app contains a query parameter which will hide the navigation bar when you load the app. This is not 100% the same as the `app_direct` endpoint, but from a user POV it provides similar behavior

[2021-11-05 15:38] #144 closed

[2021-11-05 15:39] LEDfan commented on #137
This is now fixed in [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10)!

Thank you for the very useful bug report!

[2021-11-05 15:39] #137 closed

[2021-11-05 15:40] LEDfan commented on #63
As I mentioned in https://github.com/openanalytics/shinyproxy/issues/149 , the issueform is now a client-side form and will not reload or redirect the page. This is now included in [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260) (ContainerProxy 0.8.10).

Thank you for the suggestion!

[2021-11-05 15:40] #63 closed

[2021-11-06 01:25] nuno-agostinho opened #329 "Support progress bar on app launch"
Hey there! I would like to ask for support to show a progress bar instead of the loading GIF to better convey the time needed to load an app.

I implemented such a solution in my app server with ShinyProxy installed to show a progress bar that fills in 20 seconds (approximate time taken to load app): https://compbio.imm.medicina.ulisboa.pt/psichomics

My implementation is pretty simple. I put a pr

[2021-11-06 14:01] tverbeke commented on #94
Since [ShinyProxy 2.6.0](https://shinyproxy.io/downloads/#260), there is a new field `access-users` for this. See https://shinyproxy.io/documentation/configuration/#apps for the documentation.

[2021-11-06 14:14] nuno-agostinho opened #330 "Allow no authentication to use public apps + optional login"
I would like to be able to allow anyone to use the public apps in my ShinyProxy server without authentication. However, I would also like to add optional authentication so users would be able to access certain private apps.

As far as I know, this is currently not possible, but would love this option!

[2021-11-06 14:19] nuno-agostinho opened #331 "Add authorisation callback URL to the documentation of social authentication"
I think this should be available in the documentation. Thanks!

[2021-11-08 07:33] #94 closed

[2021-11-08 07:46] LEDfan commented on #330
Hi

Thanks for opening this issue. We understand the use-case (it was already asked before), but currently it's not possible. We would have to modify large parts of the authentication code of ShinyProxy in order to implement this. We aren't sure if this feature is important enough to warrant the additional complexity. For example, currently, in ShinyProxy an user is either anonymous or authenticat

[2021-11-08 08:18] LEDfan commented on #329
Hi

Thanks for your suggestion! This is something we also have thought about, but don't have any concrete plans for yet.
With ShinyProxy 2.6.0, it is possible to implement the `Manual` method, just using the templates feature. You can specify the startup-time in a `template-property` for each app. See https://shinyproxy.io/documentation/configuration/#template-properties and  https://github.com/op

[2021-11-08 10:09] LEDfan commented on #205
Hi

We now have documentation on how to use Apache as a reverse proxy for ShinyProxy: https://shinyproxy.io/documentation/security/#https-ssl--tls

This should solve your issue. If you need more help, feel free to re-open or open a new issue.

[2021-11-08 10:09] #205 closed

[2021-11-08 10:12] LEDfan commented on #123
Hi

We now have documentation on how to use Apache as a reverse proxy for ShinyProxy: https://shinyproxy.io/documentation/security/#https-ssl--tls

This should solve your issue. If you need more help, feel free to re-open or open a new issue.

[2021-11-08 10:12] #123 closed

[2021-11-08 12:44] nuno-agostinho commented on #329
Hey @LEDfan, thank you for suggestion! I missed that we can now add our own template properties, that is certainly useful. Thanks for your time!

[2021-11-08 12:47] nuno-agostinho commented on #330
Hey @LEDfan, I understand. The solution you purpose is certainly a possibility, although it would mean I would have to have separate server configurations (but maybe I can use the same configuration file with different apps somehow...) I will think about it. Thanks for considering this!

[2021-11-08 12:58] nuno-agostinho opened #332 "Redirect to apps/root based on path"
Hey! I would suggest adding some ShinyProxy redirection built-in:

* When going to `/appID`, redirect to `/app/appID` (or `/app_direct/appID` depending on user options)
    - If case-insensitive, `/AppID` could also redirect to `/app/appID`
    - If no app exists, then show error 404
* When going to `/app` or `/app_direct`, redirect to `/` (unless there is an app called `app` or `app_direct`, then

[2021-11-08 16:04] aupadh12 opened #333 "Implementation of Application based security groups in shinyproxy"
Hello,

We are using OIDC type of authentication and Azure AD is our oidc provider.
Things are working fine so far. But recently we received a request to implement Group-based authorization for individual applications.
I am trying to follow the documentation for this purpose but there is no reference of using Azure AD for creating roles-claim which is necessary.
Can we get the steps needed to inte

[2021-11-08 17:36] nuno-agostinho commented on #330
I just want to add that another use case for this is that, with the new option of saving specific data for each user (using the user ID via [SpEL](https://www.shinyproxy.io/documentation/spel/) as the example presented in that page), it would be great to optionally allow people to login to use public apps. The app separation workaround wouldn't work well for this use case.

[2021-11-09 08:58] LEDfan commented on #333
Hi

The main step you need to take is to configure a claim that contains the AD group. The exact procedure for this depends on the configuration of Azure AD. The documentation of MS should help with this: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-enterprise-app-role-management .
Typically this is handled by the team that manages (Azure) AD, since they know ho

[2021-11-09 09:05] LEDfan commented on #330
Thanks for the additional information.

Yes indeed, in our deployments this is not a big problem since we use our operator (https://github.com/openanalytics/shinyproxy-operator).

Regarding the storage of data; please be aware that if you configure this without authentication, every user accessing your ShinyProxy server will create a directory on your server (and possible some files in it).

[2021-11-09 09:10] LEDfan commented on #332
Thanks for your suggestion.

Can you explain a bit more why you need this? I'm interested in the use-case of this, in my experience users are not really typing the appid in the URL directly, but are using the landing page or some links on the intranet of a company.

[2021-11-09 10:19] #195 closed

[2021-11-09 11:17] nuno-agostinho commented on #332
My use case is that I don't usually give the server address, but the address of specific apps.

In my server, http://compbio.imm.medicina.ulisboa.pt/voyager redirects to http://compbio.imm.medicina.ulisboa.pt/app/voyager. It allows to make the URL a bit shorter (yes, I know the sub-domain is big, but I didn't choose it 😅) and it's one less thing to put in the URL. It also allows to ignore case-sen

[2021-11-10 18:16] FGG-Belfast opened #334 "Default user group not showing apps"
Hi there,

I recently updated to 2.6.0 but I had to revert back.

I am using Auth0 to login and on Sign Up I assign them to a user group using a Hook:

 response.user.app_metadata = {"shinyproxy_roles": "users"};

I have also set up the group based authorization required by ShinyProxy. On version 2.5.0 this works perfectly.

Without changing anything and updating the 2.6.0, those with the "users"

[2021-11-10 18:35] FGG-Belfast commented on #334
Found that I needed to change

response.user.app_metadata = {"shinyproxy_roles": "users"};

to response.user.app_metadata = {"shinyproxy_roles": ["users"]};

It works now

[2021-11-10 18:35] #334 closed

[2021-11-20 07:51] zacseas opened #335 "2.6.0 'InResponseToField doesn't correspond to sent message' error"
After upgrading from 2.5.0 to 2.6.0, using the same application.yml, saml authentication with azure AAD from aks cluster with Load Balancer is not more working, getting 'InResponseToField doesn't correspond to sent message' error.
This is my configuration in application.yml (same of the one I used with 2.5.0, that is working)
...
  saml:
    idp-metadata-url: https://login.microsoftonline.com/YYYY

[2021-11-21 08:33] JorisGanne opened #336 "Shinyproxy authentication by supabase.io"
Hello everyone,

I'm quite new to the programming world but fascinated by the whole shiny framework. At this moment I am experimenting with shiny apps in different ways. I like to use tools developed by startups instead of using the established version. Therefore, I have the following question: is it possible to integrate the authentication module of supabase with shinyproxy. And if the answer is

[2021-11-21 16:18] templary opened #337 "KubernetesClientException"
Hello, I would like to ask for info about this error.

After updating the system to shinyproxy 2.6.0 and containerproxy 0.8.10, a problem with launching applications in Kubernetes started to appear.

If I run the application locally on my machine and use the kubectl proxy and port-forward a given instance of the R application, the application runs without problems and everything works as it should

[2021-11-22 07:48] LEDfan commented on #335
Hi

This is caused by a change in the default value for the SameSite cookie policy of ShinyProxy. Although this was an important change, this unfortunately breaks SAML. You can fix this by following the steps explained here https://shinyproxy.io/documentation/configuration/#samesitecookies-and-saml

[2021-11-22 08:01] LEDfan commented on #336
Hi

I looked into the documentation of supabase, and I don't see any way of integrating it with ShinyProxy. I think the main idea of supabase is to have authentication in apps built using supabase and not external apps. Therefore this requires additional development effort before we can support this. However, looking at the system it won't be very easy to support it in ShinyProxy.

[2021-11-22 08:13] LEDfan commented on #337
Hi

Thanks for opening this issue. I never saw this issue starting to appear with the release of 2.6.0. Can you provide some additional information?

- are you using a `kube-proxy` sidecar? In the past we had some documentation pointing to this, but this is no longer needed. Compare the updated docs https://github.com/openanalytics/shinyproxy-config-examples/blob/master/03-containerized-kubernetes

[2021-11-22 12:14] zacseas commented on #335
when configuring application.yml with:

proxy:
  same-site-cookie: None
  secure-cookies: true

I get:
2021-11-22 12:05:12.415  WARN 1 --- [           main] ication$$EnhancerBySpringCGLIB$$3ff25ba8 : WARNING: Invalid configuration detected: same-site-cookie policy is set to None, but secure-cookies are not enabled. Secure cookies must be enabled when using None as same-site-cookie policy

And saml

[2021-11-22 12:40] templary commented on #337
Hello,

No, I don't use sidecar

For production version of ShinyProxy we are using G Cloud Kubernetes version 1.19.12

I happen on every app start. But just in production environment (when shinyproxy is also in Kubernetes). On my local dev version it works completely fine.

[code]

[2021-11-22 13:09] FGG-Belfast opened #338 "User Group specific settings"
Not sure if this is a popular request, but I think it would be useful if you could change settings based on user groups. For example an admin/paid user group can have 5 instances of an app running at once whereas a basic user could only have 1.

This could also be used for other settings such as how long the containers stay active, memory to allocate and so on.

Thanks.

[2021-11-22 16:32] zacseas commented on #335
OK it works with:
server:
  secure-cookies: true
proxy:
  same-site-cookie: None

secure-cookies is a server parameter, so it would be better to correct the documentation:

 https://shinyproxy.io/documentation/configuration/#samesitecookies-and-saml

Thanks a lot !

[2021-11-22 16:32] #335 closed

[2021-11-23 08:02] LEDfan commented on #338
Hi, thanks for your request.

I'm not sure if this is a popular request, but I understand the use-case of it. Currently there is no official method for it, but there are two way how you can implement this:

1. by duplicating your app specifications for each group. For example:
[code]

This way the `01_hello_basic` app is only be shown to members of the `basic_tier` group and the `01_hello_paid` is

[2021-11-23 08:02] LEDfan commented on #335
Thanks for letting us know that it works now. Indeed the documentation was incorrect here, this is now fixed: https://shinyproxy.io/documentation/configuration/#samesitecookies-and-saml

[2021-11-23 08:16] LEDfan commented on #337
Hi

This seems like a strange issue. The Kubernetes client library should be able to auto discover the correct URL of the k8s API server. Are you sure you did not specify the `proxy.kubernetes.url` property? (maybe using an environment variable or something?) If this isn't the case you could maybe try specifying the `proxy.kubernetes.url` yourself. You could try setting it to `https://kubernetes.d

[2021-11-23 11:02] ndsP95 commented on #333
Hi

I'm having the same issue as @aupadh12. Everything is working fine with OIDC authentication and Azure AD as the provider, but I'm failing to implement group-based access on the application level. It would be helpful to have a guide explaining the process of configuring a claim for a Azure AD Registered Application, and how to link it to the `proxy.openid.roles-claim` of ShinyProxy.

[2021-11-23 11:31] aupadh12 commented on #333
Hi @ndsP95 ,

The issue with me was the way in which I was passing access-groups.
Can you may be give an example of the yaml file where you are setting the configurations?
Also, it would be good to understand whether the variable openanalytics.eu/sp-user-groups has the AD groups which you are part of by running kubectl get pods <pod-name> -n <namespace> -o yaml

[2021-11-23 16:39] ndsP95 commented on #333
I'm not using kubernetes to deploy ShinyProxy. I have tried creating app roles using the manifest, and setting the access groups to the names of these roles (in the App Registrations blade). I have also tried assigning several groups (in the Enterprise Applications blade), but I'm unsure what to pass in the `proxy.openid.roles-claim` setting of the application.yml. How did you set up the roles/gro

[2021-11-24 10:00] nik-humphries opened #339 "Persist a session and reconnect after navigating away"
Been trying to do a bit of research on connecting to an already running session and coming up a bit stumped.

Currently when a user wants to use an app, they spin up a container and then connect to it. Data loads etc. etc. can happen. If a user is disconnected (but still has the page loaded), there is the ability to reconnect to the websocket and not lose everything.

If you navigate away from the

[2021-11-24 10:38] JorisGanne commented on #336
Thank you for your point of view. I will look for another authentication system.

[2021-11-24 10:38] #336 closed

[2021-11-25 13:43] templary commented on #337
Hi thank you for your reply!

We solved problem just by adding this line to config file. Both of them make apps work.

[code]

[2021-11-25 13:43] #337 closed

[2021-11-26 08:49] nik-humphries opened #340 "Change in heartbeat behaviour (v2.6.0)"
In v2.5.0, I was timing out user sessions in app by executing a `session.close()` (We have created a package based off a stackoverflow answer that does it here - https://github.com/grddavies/idler).

Previously when this happened, the heartbeats would stop, even if the browser window was still open which would cause the container to be destroyed after 1 minute (users often just leave their browser

[2021-11-26 10:36] nik-humphries opened #341 "iFrame resizing with larger navbar"
When using a navbar that is larger than the default one in ShinyProxy, the iFrame in the apps.html doesn't resize as expected. There is a white block of unnecessary padding that I have removed by important an apps.css, but there are also 2 scrollbars, where there should only be one.

![image](https://user-images.githubusercontent.com/20989616/143553435-3766e4a7-bcbf-4bc5-8b1f-893763926d90.png)

Pr

[2021-11-30 10:34] FGG-Belfast commented on #338
Thank you for your reply. very informative.

I think both of these options give a good idea how this could be acheived, would be great to see this implemented for max-instances as well.

[2021-11-30 16:05] wligtenberg commented on #94
Thank you for implementing this, I got stuck with trying to get a development environment going with LDAP container-proxy etc.
Really cool to see this feature was added!

[2021-11-30 20:49] templary opened #342 "InResponseToField of the Response doesn't correspond to sent message | SP - 2.6.0"
Hello,

I'm encountering a strange variant of SAMLException
I'm getting this error
`e.o.containerproxy.service.UserService   : Authentication failure [user: ] [error: Error validating SAML message]`
`org.opensaml.common.SAMLException: InResponseToField of the Response doesn't correspond to sent message XXXXXX`

Error is the same as in the case of:
https://github.com/openanalytics/shinyproxy/issues

[2021-12-01 10:05] kuzmenkov111 commented on #231
I'm looking forward to this feature. Many thanks!!!

[2021-12-02 14:07] nicolasfguillaume opened #343 "app_stopped_or_non_existent error when using app_direct in version 2.6.0"
Hello,

We deployed successfully our app to Shinyproxy 2.5.0, in app_direct mode, and everything works fine.

We uppgraded recently to Shinyproxy 2.6.0, still in app_direct mode, and now we are getting frequently this message when reloading the app :

[code]

PS: we don't have this error when the app run in "normal" mode (not app_direct mode).

Could you please assist?

Kind regards,

Nicolas

[2021-12-06 08:37] LEDfan commented on #343
Hi

Thanks for opening this issue. This is indeed a new mechanism required for some of the new features in 2.6.0. The intention of course was that this does not break existing workflows.
However, this should only happen when two conditions are met:
 - you are accessing a sub-page of the application (e..g. `http://localhost:8080/app_direct_i/flask-demo/_/about`)
 - the app does not send heartbeats.

[2021-12-06 08:40] LEDfan commented on #342
Hi

Can you check the following things?
 - are you accessing ShinyProxy using `localhost:8080`? If so, you could try using a proper domain name. If not you will have to updat ehte `app-base-url` property.
 - are you using HTTPS? The `secure-cookies` property requires you to use HTTPS. Usually if using localhost, HTTPS is not required but this may differ between browsers.

[2021-12-06 09:03] LEDfan commented on #341
Hi

Thanks for opening this issue. You can still do this by just editing the `app.html` template using the following code:

[code]
Place this code instead of the default here: https://github.com/openanalytics/shinyproxy/blob/master/src/main/resources/templates/app.html#L117-L134
Unfortunately, this still does not work nicely with the various loading screens. Therefore I think we should try to impr

[2021-12-06 09:10] LEDfan commented on #340
Hi

If I understand correctly, what you basically want is a way to stop the Shiny app from inside the R session?
I think the best method is to add a new messageHandler here: https://github.com/grddavies/idler/blob/main/inst/js/idler.js#L1 that listens for a message `stopApp` or something. This handled should then use the following code to stop the app:

[code]

This gracefully stops the app within

[2021-12-06 09:17] LEDfan commented on #339
As far as I know, this is indeed a limitation of Shiny. Every time you load a Shiny web-app, it starts a websocket connection with a unique sessionId. This is the `session` variable in the R code. An application typically attaches some information to this session, which is ultimately attached to this sessionId. The idea is that multiple users can re-use the same Shiny/R process without affecting o

[2021-12-06 16:11] nik-humphries commented on #341
I'll give this a go, thanks.

[2021-12-06 16:12] nik-humphries commented on #339
I will investigate this a bit more myself to see if anything can be done, thanks for the response.

[2021-12-07 15:12] panoptikum opened #344 "OpenShift and Prometheus"
Dear Shinyproxy Community,

I'm looking into using the shinyproxy metrics in Prometheus which is already provided by OpenShift. Our cluster is not mainly administrated by me, but I was hoping that I can simply expose the metrics to the existing Prometheus instance? For example I can see the cpu, memory usage per pod in the internal monitoring tool of OpenShift. The documentation of OpenShift says

[2021-12-08 17:33] jaysnm opened #345 "embedding apps on cross-sites"
Much appreciations to shinyproxy maintainer team. Improvements and new features in version 2.6.0 are splendid. I have used shinyproxy in production for about two years now and the journey has been fantastic.

At the moment, our current need is to embed apps into other websites. I have tried the example on [08-api-embedded-app](https://github.com/openanalytics/shinyproxy-config-examples/tree/master

[2021-12-10 15:30] LEDfan commented on #345
Hi, thanks for the kinds words!

If I understand correctly you are trying to access the API from another domain? This should work, with the given settings. However, it seems like you don't send any cookies for authentication with the request (both in the Firefox screenshot and in the request dump I see no cookies).
You first have to authenticate with the API (using the login form or OAuth2 etc) an

[2021-12-10 15:37] LEDfan commented on #344
Hi

As a first step you have to enable metrics in ShinyProxy: https://shinyproxy.io/documentation/usage-statistics/#configuration-2
Then you need to modify the ShinyProxy `service` resource to include the `actuator` port, it should look something like:

[code]

The next step is to tell OpenShift to scrape your ShinyProxy server. You can follow this guide https://docs.openshift.com/container-platfo

[2021-12-10 16:32] jaysnm commented on #345
Thanks Tobia for reverting. To set the context clear, I'm running shinyproxy on `https://domain1.xyz` and running `index.html` of [08-api-embedded-app](https://github.com/openanalytics/shinyproxy-config-examples/tree/master/08-api-embedded-app) on `https://domain2.xyz`. With `hostURL` and `proxySpecId` appropriately changed, `launchProxy` event fails with above errors.

I'm curious whether Authent

[2021-12-11 02:17] hrbrmstr opened #346 "log4j RCE"
Higly suggest reading this — https://www.rapid7.com/blog/post/2021/12/10/widespread-exploitation-of-critical-remote-code-execution-in-apache-log4j/ — and then updating the `java` cmdline start examples and make a note to ensure folks use a safe Log4j JAR when building/using this.

[2021-12-11 07:05] LEDfan commented on #346
Hi

Thanks for opening this issue, it's good to have this discussion in public. We became aware of this issue yesterday morning and verified whether this affected ShinyProxy. We are convinced ShinyProxy is **not** affected.
You do not need to take any action.

However, the ShinyProxy Operator does uses log4j and was vulnerable. We released a [new version](https://github.com/openanalytics/shinyprox

[2021-12-12 17:52] templary commented on #342
Hello,

localhost:8080 is just for dev version. on the production version we use https `app-base-url: https://app.xxx.xx`

and there was the same problem with incompatibility of certain browsers.

[2021-12-13 19:26] nsyed4 commented on #346
@LEDfan
Shiny proxy doesn't use log4j-core but uses logback as the implementation for log4j-api-2.13, so it is not affected.

 jar tvf shinyproxy-2.5.0.jar | grep log

 60790 Wed Aug 07 08:08:16 CDT 2019 BOOT-INF/lib/jboss-logging-3.4.1.Final.jar

 12196 Sun May 17 13:03:00 CDT 2020 BOOT-INF/lib/logging-interceptor-3.14.9.jar

 61829 Sat Jul 05 20:11:50 CDT 2014 BOOT-INF/lib/commons-logging-1.2.ja

[2021-12-15 08:38] LEDfan commented on #346
Hi

A new update of the log4j library was released, because the previous fix was incomplete. Therefore a [new version](https://github.com/openanalytics/shinyproxy-operator/releases/tag/v1.0.2) of the ShinyProxy Operator was released.

ShinyProxy itself remains unaffected.

[2021-12-16 20:16] PauloJhonny commented on #346
Hi, we use shinyproxy 2.5.0 (https://www.shinyproxy.io/downloads/shinyproxy-2.5.0.jar), but in the standard version of Docker without using a Kubernetes cluster. In that case, is there a need to update the shinyproxy-operator version? If yes, how to proceed? Thank you very much!

[2021-12-16 20:36] tverbeke commented on #346
Hi @PauloJhonny, the ShinyProxy Operator is a Kubernetes Operator and therefore not relevant in your case.

Best,
Tobias

[2021-12-17 23:41] deyanyosifov commented on #332
I support the suggestion of nuno-agostinho. I have configured the application.yml file with "landing-page: /app_direct/name_of_my_app. If I type in the address bar "https://my.domain/app_direct/name_of_my_app" everything is working fine. If I type "https://my.domain", then "/app_direct/name_of_my_app" is automatically appended and again everything works fine. If I type "https://my.domain/app_d", I

[2021-12-20 08:48] gacsal commented on #343
Hi,

we are facing the same issue with v2.6.0.
And you are right, this occurs in this case:
"you are accessing a sub-page of the application"

We are happy if we can see a fix for this. Thank you!

[2021-12-30 14:14] dselivanov commented on #109
Just to make it clear for newcomers (and less familiar with java magic as myself). You can expose it AUTH0 user id as env var during container start and use it in runtime.

Add something like following to your `applications.yml`:

[code]

[2022-01-20 21:54] django-datama commented on #166
We found a way to replicate this issue.

Just go to /logout (without any prior login) using keycloak and then login, it'll throw you a Error with a 200 code !

Sorry, it's been a year !

[2022-01-20 21:54] django-datama commented on #166
FYI

[code]

[2022-01-21 06:15] tverbeke commented on #166
Thank you, @django-datama, for coming back on this. Can you indicate which version you are experiencing this with? Does this happen with the latest version (2.6.0)?

[2022-01-21 08:03] LEDfan commented on #166
Hi @django-datama

I'm able to reproduce the issue with ContainerProxy 0.8.10 (ShinyProxy 2.6.0). This will be fixed in the next-release.
Note that this issue was introduced in ShinyProxy 2.6.0, so it is not the exact same issue as in the rest of this ticket. I'm not able to reproduce a similar issue with 2.5.1 (i.e. going to /logout without logging in and then trying to login).

[2022-01-27 10:16] zborowa commented on #225
It would probably be a good idea to remove or make a note about this on the [documentation page](https://www.shinyproxy.io/documentation/usage-statistics/#influxdb).

What does work for the authentication is to use the [compatibility API](https://docs.influxdata.com/influxdb/cloud/reference/api/influxdb-1x/write/) if you're using v2 or Cloud at least. With this you can provide the `u` and `p` url

[2022-01-27 13:03] johnytr1 commented on #319
Do you remember what exactly you changed in application.yml?

[2022-01-29 22:23] hcstubbe opened #347 "PWA support with ShinyProxy"
I am trying to host a [shinyMobile app](https://rinterface.github.io/shinyMobile/) with [progressive web app](https://en.wikipedia.org/wiki/Progressive_web_application) support on the most recent version of ShinyProxy (2.6.0). However, PWA seems to be not supported.
Is it possible to host this app using PWA? If not, will there be PWA support in future versions?

Thank you!

[2022-02-02 01:04] dansmith01 commented on #91
I'd find this really useful too!

[2022-02-03 08:24] LEDfan commented on #347
Hi

I did some tests with shinyMobile and the PWA support in ShinyProxy. I used this app https://github.com/RinteRface/shinyMobile/tree/master/inst/examples/gallery . What I observed:

 - when opening the app through the standard ShinyProxy method (i.e. using the `/app`) endpoint, the app is loaded in an iframe, therefore a browser is unable to find the PWA manifest. (you can still add it as a PWA

[2022-02-04 05:52] hcstubbe commented on #347
Thank you so much for your reply! I have been trying to get this to work all night, but it won't. I am using ShinyProxy 2.6.0 on docker. I configured the ShinyProxy as you described above and used the same app. Running the app on shiny server works. But on ShinyProxy, the web manifest cannot be found. Do you have any idea, what could be the reason for this?

Thank you so much for your help!
Hans

[2022-02-07 07:48] LEDfan commented on #347
Hi

You have to make sure you either add the template files to your Dockerfile or that you mount the templates into the Docker container. Can you check whether this is the case?

[2022-02-07 07:49] LEDfan commented on #346
Hi all

I think the issues around Log4j are all clear now and need no further action for now. Therefore, I'm closing this issue.

[2022-02-07 07:49] #346 closed

[2022-02-07 08:18] LEDfan commented on #345
Hi

Sorry for the late follow-up.

No, this should not be required, I seem to have misunderstood the problem in my previous post.

The problem you are facing is indeed because of CORS. There is a check in Spring that validates whether CORS is enabled. By default this is not the case and thus Spring shows an error message. Unfortunately, I don't think there is a workaround using `application.yml` p

[2022-02-07 08:45] LEDfan commented on #342
Hi

Thanks for reporting back! Since this issue is fixed, I'm going to close it. Feel free to open a new issue if you encounter any problem.

[2022-02-07 14:18] hcstubbe commented on #347
Thank you for the reply! Yes, I am mounting the templates. I see that this works when I inspect the webpage in the browser (i.e. I see the link pointing to the web manifest; I can even download the webmanifest). Strangely, using the path `localhost:8080/app_direct/testapp` instead of `localhost:8080/app/testapp` also does not work (service worker is active, but no webmanifest found).

In addition,

[2022-02-07 23:57] Wesseldr commented on #72
new link to the image-pull-secret is:
https://www.shinyproxy.io/documentation/configuration/#kubernetes

[2022-02-09 12:54] tbrittoborges opened #348 "Are there any plans to support docker's inter-process communication?"
Shinyproxy works excellent overall, but handling data loading (without a database) is a problem. I found an [old question](https://support.openanalytics.eu/t/general-usage-question/371) that mentions that shinyproxy does not support `docker -ipc`. Is that still current? Sharing memory between containers could help with the data load times issue. Are there any plans to support that?

Thank you for

[2022-02-15 07:45] LEDfan commented on #348
Hi

At time of writing this is indeed not supported in ShinyProxy. We also don't have any plans for it currently, although I think it takes relatively low effort to implement it. I'll keep this issue open as a feature request and will consider it for one of the next releases.

[2022-02-15 08:27] algo-se commented on #348
I'd like it : )

[2022-02-17 16:07] wtarnawski opened #349 "SAML 2.0 with okta - redirect loop"
Hi,

I'm setting up the shinyproxy with saml authentication. When I go to the app I get in a redirect loop between a page _https://okta.com/app/.../sso/saml/_ and the _https://servername.org/saml/SSO_ endpoint on my server.

The shinyproxy runs behind a httpd reverse proxy behind a load balancer. My best shot is that's the cause of the problem.
Also: the SSL cert is self signed, but my intuition i

[2022-02-18 15:09] #333 closed

[2022-02-18 15:15] aupadh12 opened #350 "Usergroups not visible inside pods for some users"
Hello,

We have seen an issue where the usergroups to which a user is assigned to are not visible inside the pod. This does not happen with all the users though. For example, when I check the pod started by some other users, I can see the usergroups the user is part of but when I check the pod started by me, I notice that its blank.
Do I need to something to see the groups I am part of?
Also, I ca

[2022-02-19 08:49] littlenetcoder opened #351 "ShinyProxy WebURL QueryString to ShinyApp"
Hi,
I have built an custom docker image using official ShinyProxy (2.6.0) image
`FROM openanalytics/shinyproxy:2.6.0
COPY application.yml /opt/shinyproxy/application.yml
EXPOSE 8088`

I have accessed ShinyProxy URL with querystring like  "abc=xyz". And i could see all of my ShinyApps under http://localhost:8088/?abc=xyz. But whenever I tried to launch any ShinyApp i am loosing my query string and

[2022-02-21 07:58] LEDfan commented on #351
Hi

Currently ShinyProxy does not pass-though the query-strings to the app. Also, when you click on a link the querystring will not be preserved.

When we add  support for Shiny bookmarks (https://github.com/openanalytics/shinyproxy/issues/300), this should be supported.  We still want to support this, but we currently don't have a planned date for it.

[2022-02-21 08:00] LEDfan commented on #350
Hi

I'm not sure what is causing this issue. However, I suspect that the pod-patches may cause this. The user groups are passed to the pod using environment variables, and it could be that you are overriding these values.
Could you share the configuration of an app that is having this issue?

[2022-02-21 08:16] LEDfan commented on #349
Hi

At first I don't see any issues in your configuration. Can you check the logs of ShinyProxy? Typically when you have such a redirect issue, it means that Okta correctly authenticates the user, but that ShinyProxy does not accept the assertion (saml credentials). In that case ShinyProxy should log some information.

[2022-02-23 23:21] aupadh12 commented on #350
Hi,

How can we override the env variable SHINYPROXY_USERGROUPS in the yaml file?

[2022-02-24 11:24] wtarnawski commented on #349
Hi again,

thank you for your reply.

I noticed that the shinyproxy doesn't log anything on my server. It turns out I had to create a file `/var/log/shinyproxy.log` and assign the shinyproxy unix user to it. As someone who sets this up, I would assume the server should not work until you create this file and make it accessible to the shinyproxy unix user, or even set it up for you if that's possib

[2022-02-24 14:00] wtarnawski commented on #349
I installed it with
yum install https://www.shinyproxy.io/downloads/shinyproxy_2.6.0_x86_64.rpm -y
I followed the instructions from https://shinyproxy.io/documentation/getting-started/

I can't believe I missed that! Setting these accordingly fixed my problem. Thank you for your support!

My final config, for future generations:

[code]

Httpd reverse proxy config stays the same, save for lines
[c

[2022-02-24 14:00] #349 closed

[2022-02-28 14:47] aupadh12 commented on #350
Hi,

Closing this issue as the issue is fixed by limiting the security groups which needs to be allowed to pass for a specific application.

[2022-02-28 14:47] #350 closed

[2022-02-28 18:03] jaysnm commented on #345
Hello Tobia

Thank you for reverting and apologies for coming to party late. The shared example approach is clear, works and solves the problem.

[2022-03-01 07:40] LEDfan commented on #345
Hi

I'm happy to hear this solved you problem, therefore I'll close this issue. Feel free to open a new issue if you encounter any issue.

[2022-03-01 07:40] #345 closed

[2022-03-02 17:11] aclong commented on #292
Is this possible to do by dockerising shinyproxy and adding that to a docker network?

Like on here:

https://github.com/og-analytics/shinyproxy-multicontainers-shiny-3

Could the database server docker then be attached to the same network, and the shiny apps themselves be connected using the .yml file?

[2022-03-04 09:58] shosaco opened #353 "selectInput and tabPanel are confused when served by ShinyProxy"
Dear all,

I have a very strange bug that occurs only when the Shiny app is served by ShinyProxy. I boiled the problem down to a minimal example.

### Demonstration:
![shinyproxy_bug](https://user-images.githubusercontent.com/20717764/156740686-e07cbac2-0eff-4fb1-84a8-6d69fe653a3d.gif)

### Problem description:
After **changing** the Input the trying to go to `Tab 2`, the selectInput opens again a

[2022-03-04 22:13] wallystart opened #354 "Im not getting logs for 500 error in portal"
Hi, i have a 500 error in portal but it doesn't logging with stdout and stderr. I'm sure that is an error om R code but i need details

Portal error when i start an app

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/25191329/156846996-c298cb51-c71f-451f-bd16-4c1d89a8b49f.png)

And in my folder i have logs of others apps, in application.yml i have set the path and it works f

[2022-03-07 07:39] LEDfan commented on #354
Hi

ShinyProxy only collects the logs of apps that are successfully started. I understand this is not very helpful in your case.

This is a good idea. On what port is your application listening? If it is different than the default 3838, you have to specify it in your configuration:

[code]

[2022-03-09 12:31] wtarnawski opened #355 "Docker volume not working with container-specs: volumes: option"
Hi,

I'm trying to write an empty file into a volume. I have this app csvtest_container that's created with a dockerfile:

[code]

and the sole purpose of this app is to write an empty file at /home/app/data/test. It also has a simple shiny app so that shinyproxy can run, so I have a confirmation that the container was run.

When I use this docker command
 `docker run -v csvtest_volume:/home/app/d

[2022-03-09 16:58] shosaco commented on #353
It's not an issue in private/incognito browser mode, so I suggest one of my browser plugins to be the root cause.

[2022-03-09 16:58] #353 closed

[2022-03-10 10:39] wtarnawski commented on #355
I also noticed that if I put rubbish like
volumes: [ "asdfdsghhwqucsvtest_volume:/home/app/data" ]
it doesn't raise any error, I get impression that the whole thing is ignored.

[2022-03-10 11:18] wtarnawski commented on #355
OK, I think I've got this. The correct approach is to use
[code]
instead of
[code]

The thing is that if I specify container-specs.volume and it's not supposed to work, it should give me an error or a warning. Kindly asking you to implement this, this would save some trouble to people working on this.

Wish you have a good day!

[2022-03-10 11:18] #355 closed

[2022-03-10 15:47] nik-humphries opened #356 "Using OIDC Access Token in index.html"
Scenario:
I want to use a custom navbar that interfaces with an API and therefore requires an access token to use. I need to insert this into all of the .html files in a script as follows

[code]

The token doesn't appear to be stored in the local storage or equivalent and I cannot figure out if it is exposed in any other way where I can reference it in the above js.

Question:
Is there a way to a

[2022-03-17 07:56] LEDfan commented on #356
Hi

Indeed, I agree with this. In any case, you can get some properties of the OIDC user using:

[code]

[2022-03-17 11:59] nik-humphries commented on #356
Thanks, shame I can't use it!

[2022-03-17 11:59] #356 closed

[2022-03-24 10:47] RozennGZ opened #357 "Access to a mysql database on host from a dockerized shinyproxy apps"
Hi,

I have a working shinyproxy app that requires a connexion to a mysql on **host**. I am using a custom bridge network (sp-net). In the shiny webapp, I call the sql  database using dbconnect, with the host as the IP adress of the SQL server and the correct port.

The app is deployed without any issues, but the SQL connexion failed (I can see the error in the R log : Warning: Error in : Failed t

[2022-03-28 06:37] arafat-sayad opened #358 "shinyapp WebSocket connection Problem"
WebSocket connection Problem
Dockerfile

FROM rocker/r-base:latest

LABEL maintainer="USER <asayad402@gmail.com>"

RUN apt-get update && apt-get install -y --no-install-recommends \
    sudo \
    libcurl4-gnutls-dev \
    libcairo2-dev \
    libxt-dev \
    libssl-dev \
    libssh2-1-dev \
    && rm -rf /var/lib/apt/lists/*

RUN R -q -e "install.packages(c('shiny'), repos = 'http://cloud.r-projec

[2022-03-28 14:02] BiernatPiotr opened #359 "dash app developed in jupyter"
Hi,

_I'm repeating my issue from jupyter-notebook-demo, as nobody really looks there._

do you have any idea, how to preview dash app developed in jupyter notebook in shinyproxy? When I try to run app from notebook I have no idea how to access it.

app.run_server(mode='external', host="127.0.0.1", port=8049)
Dash app running on http://127.0.0.1:8049/

When I run a shiny app in RStudio in shinypro

[2022-03-28 15:45] Tazovsky opened #360 "Change prefix name for Kubernetes pods"
How can I change prefix name for Shinyproxy Kubernetes pods?

Instead of `sp-pod-1b2b8637-0dc9-41fa-a9b2-4e27a4056052` I'd like to have Kubernetes pods named `sp-AAA-1b2b8637-0dc9-41fa-a9b2-4e27a4056052`, `sp-BBB-1b2b8637-0dc9-41fa-a9b2-4e27a4056052`, `sp-CCC-1b2b8637-0dc9-41fa-a9b2-4e27a4056052`.

Current output from `kubectl`:

[code]

[2022-03-29 11:56] wtarnawski opened #361 "proxy.specs.id doesn't accept slashes "/""
Hi,

I would like to have an url like
`https://servername.org/app_direct/test/app`

These settings:
[code]
give me 403 Forbidden error (coming from shinyproxy), the same when I try to access a nonexistent app.

I tried id _testapp_ and it worked fine. So I guess the slashes are problems.

I tried ids:

- test/app
- test//app
- test\/app
- test%2Fapp <- not even allowed
- test\\%2Fapp
- test\\app
-

[2022-03-30 07:21] mnazarov commented on #361
Forward slash is not currently supported since apps may have sub-paths inside, and then it would be difficult to distinguish if by going to `/test/app` you want to access the app named "test/app" or the "/app" sub-path of the app named "test"... (I guess it might be possible to do this by checking all the app id's defined in the configuration file)

May I ask why do you need the url to look like t

[2022-03-30 09:44] wtarnawski commented on #361
Thank you for your answer.

Could you tell me more about those subpaths? I can't find anything about it in the configuration and I could use them.

The reason behind this is that I would potentially have to migrate hundreds of apps that are functioning like this on Shiny Server and I would prefer to avoid url rewriting, as some of these apps use query parameters with symbols, for example I would h

[2022-03-30 09:58] vl4py opened #362 "WebSocket does not reconnect"
## Context
Hi,

We are using shiny proxy behind a reverse proxy as displayed in the following chart. All of this is deployed over Kubernetes.

[code]

We are experiencing issues with our WebSocket when deploying our shinyapp using shinyproxy. The WebSocket is instantiated once and does not reconnect afterward. In other words, after a few minutes of inactivity, we have a gray layer appearing over t

[2022-03-30 09:59] vl4py commented on #362
@burckelt

[2022-03-30 16:30] kmezhoud opened #363 "styling #iframeinsert for smartphone"
Hi,
I am trying to adapt `navbar` for smartphone and save space to the app.
When I set all  buttons in the same `<div >`, It seems ok!
But when I reduce the width of the windows (browser),  a  vertical white space appears .

![vertical space](https://user-images.githubusercontent.com/4458195/160883767-fc954162-7f03-4eb3-8da1-5b81a490b576.png)

At some larger width the space disappears but the the

[2022-03-31 10:39] kmezhoud commented on #363
It was the padding-top of iframe fixed at 150 px in `/css/default.css`  line 25 and 48.
Just reduce the padding-top to 50 px.
I added `default.html` file to `/css`  folder.
and changed the line  in `index.html` as
[code]
by

[code]
but it seems taht the custom `default.css` is not read.

![padding_top](https://user-images.githubusercontent.com/4458195/161020676-7ae024fd-454a-4215-935d-9034ea3d936d

[2022-04-01 02:04] Philip-Wu opened #364 "CVE-2022-22965: Spring Framework RCE via Data Binding on JDK 9+"
Hi shinyproxy community

it might be early days, but thought i would start the conversation about whether shinyproxy is affected by this new vulnerability. Here's a link to a blog post by spring.io:
https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement

Here's my assessment:

shinyproxy 2.6.0 is running spring-boot version 2.3.4 which is affected by the vulnerability, but we ar

[2022-04-01 12:12] LEDfan commented on #364
Hi

Thanks for opening this issue, we were aware of it and started working on a fix. While we were testing the temporary mitigation, the Spring project announced that it would release fixed versions soon. Therefore, we waited for an official fix of the Spring project.

We just released [ShinyProxy 2.6.1](https://shinyproxy.io/downloads/#261). In this release Spring Boot (and thus  Spring Core) has

[2022-04-01 13:20] PauloJhonny commented on #364
Yes, it seems the link is broken: https://www.shinyproxy.io/downloads/shinyproxy-2.6.1.jar

![image](https://user-images.githubusercontent.com/14023635/161271629-c3109176-3e34-477b-b912-61ecfb0b4809.png)

[2022-04-01 13:22] LEDfan commented on #364
We made the downloads available again. Thanks for the heads-up.

[2022-04-01 13:23] nsyed4 commented on #364
Hi, I am using shinyproxy-2.5.0. Am I impacted?

[2022-04-01 13:57] kmezhoud commented on #363
We need to set a new path of the new `default.css` file, like this

[code]
and change the link for `app.html`, `index.html`, and `admin.html`

in original  `default.css` there is 3 times setting of ` iframe {padding-top:200px}`. Maybe is not needed.
thanks

[2022-04-01 14:17] LEDfan commented on #364
Hi @nsyed4
All ShinyProxy versions contain the vulnerable library, please see the explanation above for an indication of the risk.  We advice to upgrade to 2.6.1.

[2022-04-03 23:54] Philip-Wu commented on #364
I noticed that version 2.6.1 also has the upgrade log4j-api-2.17.2.jar which addresses the log4jshell vulnberability for added peace of mind. previously i had manually patched the log4j myself, but it's nice to see this version already has this upgrade. thanks guys

[2022-04-04 02:15] Philip-Wu commented on #364
I had some SAML issues with the new version 2.6.1,

`"org.opensaml.common.SAMLException: InResponseToField of the Response doesn't correspond to sent message"`

but resolved it following the workaround here:

https://github.com/openanalytics/shinyproxy/issues/342

Probably not related to springframe work upgrades, but more to do with my environment

[2022-04-06 14:16] adellam opened #365 "The OpenID user's token is not refreshed"
Hi all, we use `openid` to authenticate the shinyproxy users, and some apps are trying to use it to access other services of our infrastructure.
But the token is never refreshed, so the authorization to those services fail after the token is expired.

I see that there's a `proxy.saml.max-authentication-age` options, but there's no equivalent for `openid`.
Is it possible to add a similar option?

[2022-04-11 06:11] sgalichenko commented on #303
We have a similar issue.
Our IDP asks to add the contact information block, as well as, WantAuthnRequestsSigned="true" to the metadata file we send.
But the metadata generated by ShinyProxy does not contain that information, and I couldn't find any option in application.yml to add it there.
We could create a metadata file statically, but as @Pulkit078 mentioned, there is no option to reference SP'

[2022-04-12 15:07] nsyed4 opened #366 "ShinyProxy Dash Compability issue"
Hi,

I ran Dash demo application https://github.com/openanalytics/shinyproxy-dash-demo Dash 1.19.0 on ShinyProxy 2.5.0 it worked.

Apart from the above versions, I checked with ShinyProxy 2.5.0 & Dash 1.21.0, Dash 2.0.0, Dash 2.3.0. None of these worked.
Similarly, I checked with ShinyProxy 2.6.0 and Dash 2.0.0 and this didn't work as well.

We are using Dash 2.3.0 and we need ShinyProxy to work w

[2022-04-18 18:49] Wesseldr commented on #283
Some hints I found here but overal i'm looking in the dark as well. Also how to assign an admin with Google openid..

[Rstudio hint for Google-OpenID roles](https://bookdown.org/__docs__/admin/authentication/oauth2-openid-based/google/#user-role-mapping)
"This will require a custom claim to be configured in Google, and is only possible with Google Apps domains."

[2022-04-18 18:49] Wesseldr commented on #283
Some hints I found here but overal i'm looking in the dark as well. Also how to assign an admin with Google openid..

[Rstudio hint for Google-OpenID roles](https://bookdown.org/__docs__/admin/authentication/oauth2-openid-based/google/#user-role-mapping)
"This will require a custom claim to be configured in Google, and is only possible with Google Apps domains."

[2022-04-21 07:16] LEDfan commented on #362
Hi

Indeed ShinyProxy does not automatically reconnect the websocket connection (although this can be changed: https://shinyproxy.io/documentation/ui/#automatically-reconnecting-websockets). However, I would first try to find out why the connection is stopped. Can you have a look at the ShinyProxy logs when the disconnect happens? Does the app get stopped by ShinyProxy? This will cause the connect

[2022-04-21 07:21] LEDfan commented on #366
Hi

I'm not sure whether the error you get is related to ShinyProxy. To me it seems that python has a problem with importing the dash module. Is this the full error you get?

You could also look here https://github.com/openanalytics/shinyproxy-dash-demo/issues/3 for some tips on using ShinyProxy with Dash 2.0. I'll update the docs also for using ShinyProxy with Dash 2.0

[2022-04-21 07:32] LEDfan commented on #365
Hi

If I understand correctly, you are using the access token passed to the container to access other services? Indeed this access token will not get refreshed. Instead, you'll have to pass the refresh token as an env variable to the container and use that to refresh the token yourselves. See https://github.com/openanalytics/containerproxy/issues/47#issuecomment-1012996052 for an example.

[2022-04-21 07:35] LEDfan commented on #360
Hi

This is currently not possible. I'll keep this issue open as a feature request.
Why do you want to change the prefix? Maybe there is already a workaround for what you want to achieve.

[2022-04-22 02:38] kaji331 opened #367 "Will Support Singularity/Slurm?"
Is any plan for shinyproxy to support singularity image? It is a very good container solution for HPC. BTW, shinyproxy might consider support slurm or other HPC job manager to proxy different shiny apps in different computing nodes. Thanks!

[2022-04-27 15:08] paritosh-aigora opened #368 "Shinyproxy+Okta: 400 Bad request due to redirect URL"
I am trying to link shinyproxy to okta. But I am not able to. Given below are some details. All help is appreciated!

Here is the application file:
--------Application.yml-----------------
proxy:
  title: Open Analytics Shiny Proxy
  logo-url: https://www.openanalytics.eu/shinyproxy/logo.png
  landing-page: /
  heartbeat-rate: 10000
  heartbeat-timeout: 60000
  port: 8080
  authentication: openid

[2022-05-06 15:34] uns1 opened #369 "ShinyProxy and Dash pages_plugin not redirecting as expected"
I am trying to create a multi-page app using a new feature introduced in Dash 2 called "Pages" and host it through ShinyProxy [More info here on Dash's new Pages functionality](https://community.plotly.com/t/introducing-dash-pages-a-dash-2-x-feature-preview/57775)

While most of it works as expected using the demo dash application on ShinyProxy plus the minimal examples provided by Dash, the only

[2022-05-07 10:42] adellam commented on #365
I guess the issue can be closed.

[2022-05-07 10:42] #365 closed

[2022-05-16 10:18] shreyashfederer opened #370 "Oauth2 not working in shinyproxy versions 2.5.0 and above"
Hello ,

We are running shinyproxy apps on AWS EC2 instance.
We are able to run shinyproxy version 2.3.0 , 2.4.0 while using authentication method as `oauth2`.

Our oauth configuration in application.yml looks like:

[code]

When we update shinyproxy version from `2.3.0` to` 2.5.0` after running commands

[code]

we get the following error.

![image](https://user-images.githubusercontent.com/31564

[2022-05-25 07:07] nik-humphries opened #371 "Container Wait Time Maxes at 60s?"
We are experimenting with node pools at the moment using SP and are looking at creating app pods on it's own node pool with SP on a separate system node pool. We are trying to see if we can reasonably scale to 0 on this app node pool. It takes roughly 3-4 minutes for a node pool to create a new node when requested, so we have attempted to set the container wait time to a suitable value to wait for

[2022-05-25 07:44] nik-humphries commented on #371
Thank you for the prompt response, thought it might be something I'd overlooked.

[2022-05-25 07:44] #371 closed

[2022-06-03 20:41] uns1 commented on #369
x-post on the Plotly forum

https://community.plotly.com/t/shinyproxy-dash-pages-plugin-not-redirecting-as-expected/64204

[2022-06-13 18:04] hcstubbe commented on #347
I discovered today, that the above solution works for Safari, but not for Chrome or Firefox. Any idea, why this could be the case and how to solve this?

[2022-06-15 13:15] rldmt opened #373 "Cannot login ldap"
Hello,
I am having trouble connecting with ldap authentication. The structure is like this. 5 users, 1 group, tw0 subgroups. The users and ou are already set up on AD.
AD:
     Mygroup:
     User1
                       subgroup1: usersub1, usersub2
                       subgroup2: usersub3, usersub4
    othergroups:
    othergroups:

current yml file

[code]

It does not seem to make any connect

[2022-06-15 17:47] rldmt commented on #373
Also in the documentation I see that you need to set uid={0}. I do not see any uid when looking up the ad directory. What should I put instead of uid?

[2022-06-15 20:53] janzjos opened #374 "Upgrade to 2.6, now select button in Shiny doesn't work"
Hello - had been running shinyproxy 2.2 with an Shiny App deployed.  Now upgrade to shinyproxy 2.6 and unable to select with button.  Any thoughts on why?  Here are my current libraries:

`# basic shiny functionality
RUN R -e "install.packages(c('shiny'), repos='http://cran.us.r-project.org')"

# to install specific versions:
RUN R -e "install.packages('devtools')"
RUN R -e "require(devtools)"

RU

[2022-06-17 07:25] mnazarov commented on #374
Hi @janzjos I am afraid your description is not enough for understanding what goes wrong. Could you please be more specific about what doesn't work - what do you mean by "unable to select with button"? - and whether you see any error messages? If you could provide (at least a part of) the shiny app that fails it would also be helpful. You could also check if running the app outside of shinyproxy (

[2022-06-29 09:22] kennedymwavu opened #375 "Configure subdomain shinyproxy"
First things first, I'm quite a beginner at hosting shiny apps on docker and shinyproxy. The terms I use might be a bit layman and incorrect.

I have my application running well on shinyproxy and can be accessed through `serveripaddress:8080/app/01_hello`.

The problem comes when I try to use a link ie. `theapp.company.com` instead of the ip address. This is what it shows when I go to the link:

!

[2022-06-29 23:51] #354 closed

[2022-07-06 01:44] nrarnt commented on #375
Kennedy, it could be a problem with you application.yml file.
Could you post a snippet of it to help debug?

[2022-07-06 01:58] kennedymwavu commented on #375
Hi @nrarnt ,

Here is a snippet of how my application.yml file looks like:

[code]

[2022-07-06 02:05] nrarnt commented on #375
@kennedymwavu Have you tried changing the "landing-page" to "/app/01_hello" ?
This way the page goes directly to the app without the default landing page.

Like:

`proxy:
  title: Open Analytics Shiny Proxy
  logo-url: https://www.openanalytics.eu/shinyproxy/logo.png
  landing-page: /app/hello_01
  hide-navbar: true
  heartbeat-rate: 10000
  heartbeat-timeout: 6000`

[2022-07-06 02:25] kennedymwavu commented on #375
@nrarnt That works! Now when I go to `theapp.company.com` the url is automatically changed to `theapp.company.com/app/01_hello`. Thank you so much!

[2022-07-06 02:26] kennedymwavu commented on #375
@nrarnt Say I needed to add another app to shinyproxy. Would the config file change? Like would I have to change the landing page to something else to accomodate both apps?

[2022-07-06 12:10] nrarnt commented on #375
I believe when you have more than 1 shiny app in shiny proxy you have to revert the change back to "/" so you have the option to choose between the two apps before startup.
But this also means you will have to change you nginx back to
[code]
file to acommodate this change.

Otherwise the application will try to reach the app "01_hello" directly and cause the problem you had before.

[2022-07-06 12:35] kennedymwavu commented on #375
Okay. Thank you!

[2022-07-06 12:35] #375 closed

[2022-07-07 02:25] #374 closed

[2022-07-07 02:29] janzjos opened #376 "Right-click "Reload frame" to get App to display with Upgrade to 2.6.1"
Very strange solution I've found that should be automated if possible.  I upgraded Shiny Proxy from 2.4.3 to 2.6.1 and to my dismay, after App loads, nothing but a blank screen (title still visible).  After much investigation, I finally right-clicked in my Chrome browser and clicked "Reload frame" and the App pops right up.  Any suggestions on how to set this in the config of Shiny Proxy so it wor

[2022-07-08 06:43] nik-humphries commented on #271
Sorry to revive something old - what was the status on being able to hide or reduce visible info on `/api/proxyspec` by configuration? Is this something still on the backlog?

[2022-07-12 21:30] yogat3ch opened #377 "Difficulty deploying golem with shinyproxy on AWS EC2"
Hi shinyproxy devs,
This is crossposted on [Thinkr-open/golem](https://github.com/ThinkR-open/golem/issues/885) as it will likely require expertise in both domains to resolve.
Tagging @keatonwilson for updates.
We're currently in the process of deploying a `golem` to an existing working shinyproxy server on an EC2 instance. The server currently has other iterations of this application, pre-`golem`

[2022-07-12 21:33] yogat3ch commented on #377
Update on this - the same error is manifesting on a local version of shinyproxy, ruling out any AWS EC2 related issues.

[2022-07-12 23:47] AdrianHordyk commented on #266
Any chance you're able to share examples of your queries in the Grafana dashboard?

I've followed the process outlined [here](https://www.databentobox.com/2020/05/31/shinyproxy-with-docker-swarm/#optional-monitoring-shinyproxy-with-grafana-and-influxdbl) and can get a graph of logins over time but nothing else.

[2022-07-15 00:06] AdrianHordyk opened #378 "Usage monitor not receiving data"
I followed [this](https://www.databentobox.com/2020/05/31/shinyproxy-with-docker-swarm/) guide to get my app running with Shiny Proxy, Traefik, and Docker Swarm. Everything is working great.

I attempted to follow [these](https://www.shinyproxy.io/documentation/usage-statistics/#micrometer) instructions to monitor usage statistics using Micrometer, Prometheus, and Grafana.

I'm able to access Gran

[2022-07-18 09:17] D3SL commented on #292
You'd definitely need the containers all networked, the question is how would you tell R to connect to that networked DB. What the connection string or IP would be. That may be more of a docker question but the documentation is a little obtuse.

[2022-07-18 09:40] aclong commented on #292
As long as it's on the same docker network, R can use the docker image name of the database docker as the "host" variable:

e.g.
[code]

[2022-07-18 17:58] AdrianHordyk commented on #378
Found the issue: it was something stupid of course.

The `shinyproxy` docker image I was using (` presstofan/shinyproxy-example`) was an old version where usage stats monitoring with micrometer etc hadn't been implemented yet.

For anyone else following the [databentobox.com guide](https://www.databentobox.com/2020/05/31/shinyproxy-with-docker-swarm/), be aware that the latest version of shinyprox

[2022-07-18 17:58] #378 closed

[2022-07-18 19:23] yogat3ch commented on #377
*Update: 2022-07-18*  @keatonwilson determined that an update of `shinyproxy` for `golem` compatibility, as well as ensuring the architecture for our dependencies matched our EC2 instance architecture was needed to resolve this issue!

[2022-07-18 19:23] yogat3ch commented on #377
*Update: 2022-07-18*  @keatonwilson determined that an update of `shinyproxy` for `golem` compatibility, as well as ensuring the architecture for our dependencies matched our EC2 instance architecture was needed to resolve this issue!

[2022-07-18 19:23] #377 closed

[2022-07-28 00:35] mostafa790 commented on #225
Hi,

I have some issues to run correctly shinyproxy with influxdb.
Shinyproxy works fine without `usages-stats-url` argument but when this argument is added I can not identify.

For the `usages-stats-url` I tried the 2 methods because I'm using the influxdb 2

![image](https://user-images.githubusercontent.com/8080599/181394374-ab3f571c-ff02-4230-b4d6-516319024033.png)

The docker-compose file is

[2022-07-29 12:40] feddelegrand7 opened #380 "did not found a value for key SHINYPROXY_WEBSOCKET_RECONNECTION_MODE"
Hi :),

First, thanks for the great product. I've recently installed Shiny Proxy 2.6.0 as I wanted to implement the following features:
[code]
I've modified my configuration file accordingly but when I release a new version of an app, I'm getting the following error:

**Error
Status code: 500

Message: did not found a value for key SHINYPROXY_WEBSOCKET_RECONNECTION_MODE**

Can someone help, please

[2022-08-05 06:27] nik-humphries opened #381 "Embedded ShinyProxy Multiple Microsoft Account Authentication Issue with Azure B2C"
This might be a question for the containerproxy repo.

We are using Azure B2C for our authentication currently, and also embedding ShinyProxy within an iFrame due to a quirk of how we want to deliver. A user authenticates in a parent frame to begin a session, and then this session is recognised in SP as SSO in the iFrame and everything works. This doesn't work however if a user is logged in to mor

[2022-08-08 13:39] LEDfan commented on #358
Hi

Are you still facing this issue? Typically issues with the websocket connection are caused by reverse proxies or loadbalancers. Can you tell use whether you are using a loadbalancer or reverse proxy? Can you share their configuration as well.

[2022-08-08 13:47] LEDfan commented on #357
Hi

Is the mysql server run as a docker container as well? If not, you are not required to use a docker network and should be able to directly reach the mysql server on its IP address.
In both cases I would try to debug this by launching the Shiny app. Next login into the container using `docker exec` and try reaching the MySQL server using `ping` or `telnet`.

[2022-08-08 13:49] LEDfan commented on #359
Hi

I think this JupyterLab extensions does exactly what you want: https://github.com/plotly/jupyter-dash
It provides a similar workflow as with RStudio.
Please let us know if this extension is useful, we could then update the README of the jupyter demo.

[2022-08-08 13:52] LEDfan commented on #367
Hi

Thanks for opening the issue. Unfortunately, supporting singularity or slurm is not on our roadmap. However, we do believe in the HPC usecase for ShinyProxy.

I'll leave this issue open as a feature request.

[2022-08-08 13:59] LEDfan commented on #368
Hi

Are you still having this issue? We have good experience with connecting ShinyProxy and Okta, so it should be possible. Can you post the full stack trace of the error? This is more a generic error, so I cannot provide a lot of help without the full stack trace.

[2022-08-08 14:07] LEDfan commented on #369
Hi

Thanks for opening this issue. I saw that you got some responses on the topic at the Plotly forum. Is this now working for you? If so, I'll try to update our example.

[2022-08-08 14:20] LEDfan commented on #271
Hi @nik-humphries

This is currently still in development, but I'll definitely make this part of the next release. I don't have an ETA yet for the next release (but a lot of good things are planned :) )

[2022-08-08 14:23] LEDfan commented on #370
Duplicate of https://github.com/openanalytics/containerproxy/issues/66

[2022-08-08 14:23] #370 closed

[2022-08-08 14:31] LEDfan commented on #373
Hi

The `{0}` will of `user-dn-pattern` will be replaced by the username filled in by the user.
For example, when a user tries to login with the username `jack`, ShinyProxy will search for ldap objects containing the value `jack` for the property `uid`. So if in your case you have a property `username` you have to specify:

[code]

and then users should be able to login by that username.

As a tip

[2022-08-08 14:33] LEDfan commented on #292
Indeed as @aclong mentioned, you can use the container name of the database server as hostname.

[2022-08-08 14:55] LEDfan commented on #380
Hi

Thanks for opening this issue. I'm not able to reproduce the issue. I think this issue may happen when you upgrade ShinyProxy from an older version to 2.6.0 while having some older apps running.
Can you try stopping all your old apps, upgrade ShinyProxy and then launch new apps?

[2022-08-08 14:59] feddelegrand7 commented on #380
Hi @LEDfan, Thanks for your answer,

I'll try to do it this afternoon and see if the error still occurs. I have also a question about an aspect that's unfortunately not documented yet, whenever I use the following properties:

stop-proxies-on-shutdown: false
recover-running-proxies: true

I don't get the Status code: 500 error however my apps still crash due to an "authentification_required" error

[2022-08-08 15:00] LEDfan commented on #381
Hi

This is an interesting issue for which I don't immediately have a solution.

Maybe you can try implementing the pop up window workaround on the parent site? For example, using AJXA perform a request to ShinyProxy. If it succeeds, you can embed ShinyProxy and finish the loing procedure. If not, you can open a popup, let the user login and close the popup afterwards.

I'm not sure if this is som

[2022-08-08 15:04] LEDfan commented on #380
In order to stay authenticated, you should be using Redis in order to achieve session persistence.
You can find info on configuring redis here: https://shinyproxy.io/documentation/configuration/#session-persistence

I noticed this isn't mentioned on the app recovery page, I'll make sure to update that page to include this information. Sorry for making this not clear before.

[2022-08-08 15:05] #364 closed

[2022-08-15 17:53] rldmt commented on #373
Hello,
I already solved the issue. Sorry for late reply. I want to note that I mistakenly conflate Organizational Units (OU) and Groups which in Active Directory in my case are totally different things. Because of this assumption Groups were left in the dark meanwhile I was working with Organizational Units and therefore could not not connect properly. As soon as I created the relevant groups all

[2022-08-15 17:53] #373 closed

[2022-08-16 06:46] LEDfan commented on #373
Great to hear you fixed the issue, thanks for reporting back!

[2022-08-20 10:48] mathlete76 opened #383 "Updating pathname in dash config stops container from starting"
I can successfully run the dash demo by pulling the image from dockerhub and adding to the application.yml.

I have my own dash app I'd like to deploy, but after several days of trying to get it to work I am now down to a minimal dash app, and it is clear that trying to set the pathname prefix causes the container to fail to start.

If I miss out the app.config.update for the prefixes the containe

[2022-08-29 12:25] feddelegrand7 commented on #380
Hi @LEDfan,

Thank you again for your help. Our devops team has created a redis docker container so that we can have app persistence. I also stopped all docker containers before releasing the 2.6.1 version, unfortunately, I still get the `Error: did not found a value for key SHINYPROXY_WEBSOCKET_RECONNECTION_MODE`

Best,
Fodil

[2022-08-29 15:31] kabbz commented on #317
Hi, I guess this issue affected my work, I've changed the default html, so I use French character, but I'm having issue with the response because shiny proxy is using the default header  **Content-Language: en-US**

[2022-09-13 07:27] gbavoz1 opened #384 "Feature request: use secret for LDAP password"
Currently, `specs.ldap.manager-password` needs to be spelled out in the `Shinyproxy` object to connect to an LDAP/AD provider. Since we want our users to be able to self-manage their proxies we are now forced to expose that password (we are working on an helm chart that combines multiple values files, taking input from developers just for the `spec.specs` portion). It would be very beneficial if w

[2022-09-15 06:34] LEDfan commented on #384
Hi

In the ShinyProxy configuration, you can use `${MY_VARIABLE}` as a value for any property. Then when starting ShinyProxy you can set the environment variable MY_VARIABLE and ShinyProxy will automatically use the value from the environment variable.

So in your case you could do something like `manager-password: ${LDAP_PASSWORD}` and then define an environment variable `LDAP_PASSWORD`.

Since y

[2022-09-19 14:17] Tylermarques commented on #306
Hey @LEDfan,

Any chance you ever made any progress on this issue? Experiencing something similar in in 2.6.1. Some users periodically experience a white screen when attempting to login, which appears to be caused by a 503 error to the https://{URL}/app_direct_i/{app_name}/_/ url. I'm not sure what is causing this.

The app continues to send heartbeats, but the service appears to be unavailable. D

[2022-09-20 05:06] travis-leith opened #385 "Is shinyproxy compatible with podman?"
Apparently RedHat 8 uses podman instead of docker. If docker is aliased to podman in this environment, is that all that is needed?

[2022-09-20 08:48] LEDfan commented on #385
Hi

ShinyProxy does not support podman. The reason is that ShinyProxy talks directly with Docker using the Docker API and not using the Docker CLI.

Note that it is possible to install Docker on a RHEL 8/9 based system since Docker provides a proper repo for it: https://docs.docker.com/engine/install/centos/ . However, this may not be feasible when using a Red Hat supported version.

I'll keep thi

[2022-09-20 08:50] LEDfan commented on #306
Hi @Tylermarques

No, unfortunately I was not able to reproduce this issue. You are correct that ShinyProxy does not actively check whether an app is still alive. The heartbeat mechanism is purely to detect whether the user is still using an app.

Could you share the application you are using? This could help in debugging the issue.

[2022-09-20 09:00] LEDfan commented on #380
Hi @feddelegrand7

Accidentally I encountered this issue in one of our deployments and was able to find the cause of it. This issue should only happen when the original image used for the app is changed, such as in this scenario:

1. start ShinyProxy with an app using image myapp
2. launch the app
3. create a new version of the `myapp` image, for example by re-building it. For the running containe

[2022-09-20 14:33] Tylermarques commented on #306
I unfortunately can't share the application I have, but I am fairly certain that the issue is due to Shiny containers closing unexpectedly while ShinyProxy assumes they are still running. When a user who has an active session attempts to visit the application, ShinyProxy does not check if that container is still active and that results in a 503 when attempting to connect to the websocket for a Shi

[2022-09-20 14:52] feddelegrand7 commented on #380
Hi @LEDfan,

Thank you so much for the fix. I've tested it right now and it's working perfectly, the only issue that I've is that the app (after updating the config.yaml - a new release) get tremendously slower. For example, it freezes for a couple of seconds when I try to fetch some data from the app. Is it related to the size of the container?

Thanks again.

[2022-09-22 00:39] mostafa790 opened #386 "Authentification for shinyproxy when using influxdb"
Hi,

I have some issues to run correctly shinyproxy with influxdb.
Shinyproxy works fine without `usages-stats-url` argument but when this argument is added I can not identify.

For the `usages-stats-url` I tried the 2 methods because I'm using the influxdb 2

![image](https://user-images.githubusercontent.com/8080599/181394374-ab3f571c-ff02-4230-b4d6-516319024033.png)

The docker-compose file is

[2022-10-10 20:26] spepperkumc opened #387 "ShinyProxy Nginx Login Screen Loop"
I followed the guide here (https://www.shinyproxy.io/documentation/security/#https-ssl--tls) to setup ssl using Nginx, but when using SAML or simple authentication I am stuck in an endless login screen loop. In simple login mode after entering my information I am sent to a new login screen telling me to 'Please sign in:' .

Any Ideas where I went wrong?

Here are some changes I made to the shinypr

[2022-10-11 06:54] LEDfan commented on #387
Hi

I'm unable to tell exactly what the problem is, however, it is probably related to cookies. ShinyProxy stores a session in a cookie and sends this cookie with every request. If this cookie is not working properly, ShinyProxy is unable to identify you and store the login information.

Did you change anything regarding cookie settings? (e.g. same-site-policy, secure cookies).
Can you try opening

[2022-10-11 07:09] LEDfan commented on #333
Hi @cheetm

These kind of role claims is not supported by ShinyProxy. Your claim needs to be a JSON array containing strings (i.e. no objects). Then you need to specify the name of the claim as `proxy.openid.roles-claim` property in ShinyProxy.

[2022-10-11 07:20] LEDfan commented on #386
Hi @mostafa790

Unfortunately, ShinyProxy does not yet support authentication with influxdb. Because this is a popular feature request, I plan to fix this in the next release (although I cannot guarantee to have it included). I'll close this issue as a duplicate of https://github.com/openanalytics/shinyproxy/issues/225 .

[2022-10-11 07:20] #386 closed

[2022-10-11 07:22] LEDfan commented on #380
Hi @feddelegrand7

I never experienced such a situation where an app freezes. I guess it could be because the app tries to perform some blocking calculations in the background and R is unable to handle other things. It should not be related to the reconnect settings of shinyproxy (of course you can try disabling them and see whether it makes a difference, but it shouldn't be the case). Did you mak

[2022-10-11 07:25] LEDfan commented on #306
Hi @Tylermarques

Thank you for your insights, this is really useful. You are correct that when a container unexpectedly quits (e.g.by a OOM kill), ShinyProxy is unaware of this and still tries to proxy traffic to it.
I don't believe we need to implement a full health check for this. Instead, when your browser performs an HTTP request and ShinyProxy notices that it's unable to connect to the conta

[2022-10-11 07:28] LEDfan commented on #383
Hi

Some changes are required for newer versions of Dash, please have a look at this pull request for more information: https://github.com/openanalytics/shinyproxy-dash-demo/pull/6

[2022-10-11 07:50] feddelegrand7 commented on #380
Hi @LEDfan,
Thanks for your reply, unfortunately I didn't make any progress regarding this issue. This is what happens:
1- The runs fluently, when I click on the "get data" button, the app immediately starts querying the data.
2- I change the configuration.yaml file for the app (to release a new feature).
3- The app doesn't crash.
4- Then, when I click the "get data" button again, nothing happens

[2022-10-11 14:05] spepperkumc commented on #387
Firefox, Edge, and Chrome only report the ico error below in the console.
GET https://shinyproxy.yourdomain.com/favicon.ico 500 (Internal Server Error)

I didn't change anything related to cookies, all I did was follow the guide to setup Nginx.
The server worked fine as http but not after the Nginx reverse proxy was added which is odd.

[2022-10-16 21:11] mostafa790 opened #388 "Connection impossible when using "usage-stats-url: jdbc:postgresql://localhost/postgres""
Hello,

I'm trying to store the shinyproxy stats in a PostgreSQL database, to do this, I created a database and the event table like indicated on the documentation.

This problem is similar to the one occurred with influxdb ...

![image](https://user-images.githubusercontent.com/8080599/196058055-d95fda7e-e544-42a3-8e92-d702e6a96ef5.png)

My shiny app work well without the `usage-stats-url: jdbc:p

[2022-10-18 12:15] feddelegrand7 commented on #380
We run Redis in a docker container (with a password). Can it be the source of the issue?

[2022-10-21 21:16] spepperkumc commented on #387
Figured it out, my usage-stats-url: was pointing to an deleted database. Some reason this kept looping the login process.

[2022-10-21 21:16] #387 closed

[2022-10-22 07:09] tverbeke commented on #387
Thanks for sharing the origin of the issue!

[2022-11-01 21:01] DidierMurilloF opened #389 "White page for AngularJS app in ShinyProxy"
Hi, I am trying to deploy an AngularJS app on ShinyProxy, the docker container starts well, but I got a white page for the app. Maybe I need some advanced configuration in shinyproxy to properly deploy this kind of app, but I have no idea how to move forward.

![exlibris](https://user-images.githubusercontent.com/79462830/199339924-4b8ddec5-1efb-4c69-bfd5-2748f1cc65b1.JPG)

[2022-11-10 08:25] MarniTausen opened #390 "Docker secrets when using the docker swarm backend"
I can't find any instances or settings in the documentation which allow for using a docker secret when you are using the docker swarm backend.

There seems to be no equivalent to using the '--secret' flag when starting the container as a service.

Related issues: https://github.com/openanalytics/containerproxy/issues/9 are still open, or https://github.com/openanalytics/shinyproxy/issues/191 use w

[2022-11-14 11:32] kushalg-1212 commented on #114
This is not working  for me
server:
  forward-headers-strategy: native

using Openid on azure B2c

[2022-11-21 04:08] ghost opened #391 "Redirection not HTTPS"
I have been stuck on this for like 10 days and more already

I have an app which uses OPENID  with Microsoft but the redirection URI sent to Microsoft is not working it seems

below is my application.yaml file

____________________________________

 server:
  forward-headers-strategy: native
  useForwardHeaders: true

proxy:
  title: Sites
logo-url: "file:///opt/shinyproxy/assets/logo.png"
  templ

[2022-11-30 20:22] innir commented on #380
@LEDfan We are suffering from this issue as well, any timeline when to expect a fixed version?