[2020-03-06 10:22] jfouret opened #195 "Linux port restriction for a non-root user"
Hi,

Thank you for shinyproxy !

I had an error when running shinyproxy on centos7 linux VM for testing purposes.

Resolving this error took me some time. Therefore I will expose here my error, the solution, and make a proposition to prevent other user loosing time.

# How to reproduce

When setting a port below 1024 in `application.yml` and ruuning the service (which run under the user `shinyprox

[2020-03-09 08:55] mskyttner commented on #194
Could this favicon.ico serving error be related to SAML authentication being active and as a consequence be caused by the MetadataGeneratorFilter?

"In case the application is configured to automatically generate metadata, the generation occurs upon first invocation of this filter (first request made to the server)." says https://docs.spring.io/spring-security-saml/docs/current/api/org/springframe

[2020-03-09 13:59] andodet commented on #72
Tried to Google around without much luck. Was wondering if, beyond deploying on k8s, this has been implemented natively on Shinyproxy.

[2020-03-10 09:20] vpanfilov commented on #191
@evesch I managed to get it working with modifying **CMD** command in Shiny Proxy Dockerfile like this:
[code]
And property `proxy.ldap.manager-password` should not be present in _application.yml_ file

[2020-03-19 13:52] PauloJhonny opened #196 "I can't edit navbar.html file when shinyproxy is in container"
Hello!

I can't edit navbar.html when ShinyProxy is running as docker container. I tried to put the edited navbar.html in the templates/fragments directory and then copy to /opt/shinyproxy/templates, but still the changes don't show up when I restart the server.

For example, I would like to change "Sign Out" for "Sair".

![image](https://user-images.githubusercontent.com/14023635/77074104-12a2620

[2020-03-19 13:59] shrektan commented on #196
You should recreate your image.

BTW, you should not copy the files. Instead, you should make the folder as a volume. In this way, after changing the file, you only need to refresh the browser.

[2020-03-19 14:54] PauloJhonny commented on #196
@shrektan thank you for your reply.

1. After the changes I recreated the image using `sudo docker-compose build`, but nothing changed. Is it right?

2. About the folder as a volume, could you show me an example? I'm new user of ShinyProxy, so I'm a little bit lost.

Thank you.

[2020-03-19 15:08] shrektan commented on #196
Sorry, I don't have time to do this right now but I screenshot a production setup for you. It should be easy to understand.

### The docker file

<img width="634" alt="image" src="https://user-images.githubusercontent.com/8368933/77081954-5bd9cc80-6a36-11ea-9664-5603f4a6026b.png">

### Docker compose YAML

<img width="502" alt="image" src="https://user-images.githubusercontent.com/8368933/77081813

[2020-03-19 21:06] PauloJhonny commented on #196
@shrektan Thank you so much for your help.

1) I created the 'volumes' in the docker-compose.yml and changed the Dockerfile as you said. The files (admin, app, index, login) are used when the page is refreshed (thanks to you). But, the shinyproxy/application.yml are not used, even though I put `sudo docker-compose build` and the command `sudo docker-compose up -d shinyproxy` says "dnv_shinyproxy i

[2020-03-20 13:35] shrektan commented on #196
@PauloJhonny

You can put the fragments inside of templates but you need to claim that in `index.html` or somewhere first (sorry, I don't remember the clear place).

If you don't know what you are doing, you need to place the fragments under `shinyproxy/`. The reason is you need to keep the same folder structure as shinyproxy it does unless you know how it works. See the default folder structure h

[2020-03-20 15:45] PauloJhonny commented on #196
@shrektan thank you so much. It really helped me.

It worked. I was putting the fragments folder in the wrong place (see the correct tree). All the files are hot-loaded now, except the application.yml. Thank youuu.

![image](https://user-images.githubusercontent.com/14023635/77179739-a34c7100-6aa7-11ea-95ee-969f35526e68.png)

[2020-03-20 17:39] shrektan commented on #196
Good to hear that.

BTW, closing the issue will be good if you don't have further questions.

Thanks.

[2020-03-21 05:25] PauloJhonny commented on #196
Thank you. :)

[2020-03-21 05:25] #196 closed

[2020-03-21 07:16] PauloJhonny commented on #117
@kforner @Cala3len  Did you succeed to fix it? Thank you.

[2020-03-26 21:30] PauloJhonny opened #197 "Is it possible to preload packages R used in shiny apps?"
Hello.

I'm using docker-compose for shinyproxy and I have two shiny apps deployed. I would like to know if is it possible to preload packages R that are used in this apps?

Could I put a _Rprofile_ script in the Dockerfile of the each app container-image to load the packages/data in memory when it starts? That way the packages will be ready to use when requests come in. (something like the openCP

[2020-03-27 03:43] shrektan commented on #197
I don't really know what you mean by "preload packages". I think your app needs to load some data and it takes time. Shinyproxy will launch a container for each user so it means the user needs to wait for a while.

You don't want the user to wait. Correct?

No, there' s no direct way because it's different from how openCPU works.

However, there're always workarounds:

1. Make a plumber API hosted

[2020-03-27 23:47] PauloJhonny commented on #197
Hi, @shrektan.

Thank you for your suggestions. I will try to do the same thing that you proposed in 1 using the openCPU API, which is already in production.

I hope It will work well.

[2020-03-30 21:44] dfsnow commented on #185
It's my understanding that shinyproxy does all its container management through the Docker socket, so you don't actually need to list the `shinyproxy_backend` network for shinyproxy to function. I had the same issue with you and basically just kept only the `db_network` and it works fine.

[2020-04-02 10:51] tjpalanca commented on #140
Encountering this also with KeyCloak Auth and any ShinyProxy version > 2.1.0

[2020-04-06 05:17] advanalyticsamateur opened #198 "Group based authentication not working - ShinyProxy + Auth0 Okta authentication"
I am working on shinyproxy with Okta authentication.
Application.yml:
proxy:
  port: 8080
  authentication: openid
  admin-groups: Shinyapp_Readsensitive_pprd
  openid:
    auth-url: ***
    token-url: ***
    jwks-url: ***
    client-id: ***
    client-secret: ***
    roles-claim: ***
    scopes: ["openid","profile"]
    username-attribute: name
    logout-url: ***
  docker:
    url: http://local

[2020-04-15 15:55] evesch commented on #191
Thanks!

[2020-04-15 15:55] #191 closed

[2020-04-17 04:13] sound118 commented on #184
Is there a demo/tutorial showing how to deploy pure flask app with shinyproxy ?

[2020-04-17 07:43] shosaco commented on #184
My question was such a minimal example. Only thing missing is the application.yaml, which should state the same as the docker CMD command (`container-cmd: ["python", "app.py"]`)

[2020-04-17 13:02] adanba opened #199 "shinyproxy failed to start when using port 88"
Hello,
when i use the port 88 to start shinyproxy, this failed because the port is already in use by an other service of spring environment.
Can you please add to documentation a caution or warning about the use of this port (88)?
Info :
- shinyproxy-2.3.0.jar

![image](https://user-images.githubusercontent.com/10264934/79571117-ef94cc00-80ba-11ea-9c5f-bfa71f1c8087.png)

[2020-04-17 20:18] Nybre opened #200 "website down"
Hi,

The link https://www.shinyproxy.io/ is not going through

Thanks
Brian

[2020-04-18 12:22] christiaanpauw commented on #200
It looks like the security certificate expired 12 days ago?

Christiaan Pauw
Tel: 044 6950 749
Cell: 082 557 4328
www.nova.org.za
www.aartum.io

[2020-04-23 15:28] sound118 opened #201 "Issue with hosting Python DASH APPs with shinyproxy"
I am hosting some python dash apps on AWS with shinyproxy 2.3.0 . Most of the time, it can launch well with no problem. But just sometimes, it seems to be very slow loading the applicaitons from docker container and eventually became inactive container. Can someone please explain why this is happening? How do I avoid this kind of issue?

[2020-04-27 13:54] mskyttner commented on #200
For me this now works, but it seems the support forum is down? https://support.openanalytics.eu/ does not respond for me. I get a redirect 301 to https://support.openanalytics.eu but then a 504 gateway timeout so maybe cert issue there too?

[2020-04-27 14:01] tverbeke commented on #200
Thanks for reporting. Site is down indeed. Will be solved shortly.

[2020-05-01 12:51] jaysnm commented on #140
Encountered same problem in nginx (ssl enabled) and keycloak auth service. However, DT displays perfectly without keycloak.
Please see attached!

![Error-Traceback](https://user-images.githubusercontent.com/20385376/80806384-37d7e200-8bc3-11ea-8674-30ed3d418302.png)

![Http-Response](https://user-images.githubusercontent.com/20385376/80806487-7f5e6e00-8bc3-11ea-8778-8c727e9aa4f8.png)

[2020-05-01 12:52] jaysnm commented on #140
ShinyProxy 2.3.0 jar from shinyproxy.io

[2020-05-01 12:54] tverbeke commented on #140
We were able to reproduce with Keycloak. A fix will be in the next release.

[2020-05-01 13:07] jaysnm commented on #140
Thanks for reverting!

[2020-05-01 19:52] robertoromor opened #202 "Failed to start container"
Hi Team,

I am getting the following error when I deploy my app using docker and shinyproxy

I already went thru the troublesshoting options here

https://www.shinyproxy.io/troubleshooting/

and my app works fine when I run it manually the manual deploy command

`sudo docker run -p 9996:9996 radioimagen5 R -e 'options("shiny.port"=9996,shiny.host="0.0.0.0");rappExt::run_app()'`

this is what I hav

[2020-05-06 16:53] p-flock commented on #202
Hi, Just wanted to say I am experiencing the same issue.
I am running CentOS 8 and experience this issue trying to add my own R shiny app with, as far as I can tell, very similar configuration. Curious to see the feedback to this issue.

[2020-05-06 17:25] mnazarov commented on #202
Did you try the suggestions here regarding firewall: https://www.shinyproxy.io/troubleshooting/#failed-to-start-container ?
Did you modify [docker startup options](https://www.shinyproxy.io/getting-started/#docker-startup-options)?
Are there any error messages in the full log (you pasted only truncated part)?
Does it work with default `application.yml` and demo apps from shinyproxy-demo image?

[2020-05-08 18:32] robertoromor commented on #202
Did you try the suggestions here regarding firewall: https://www.shinyproxy.io/troubleshooting/#failed-to-start-container ?
**disabled firewall and retried same result :Failed to start container**
Did you modify docker startup options?
**No, but just did it and got "Message: Container did not respond in time" message **
Are there any error messages in the full log (you pasted only truncated part)?

[2020-05-13 21:29] PauloJhonny opened #203 "docker-compose.yml configuration"
Hi,

I would like to know, please, what's the difference between using `restart: always` and `restart: on-failure` in the docker-compose.yml file (shinyproxy service).

[code]
Thank you so much.

[2020-05-19 16:18] kunal15145 commented on #140
Getting the same error, without any kind of authentication. When making a POST request of content-type: multipart/form-data. Any idea what is the difference between the two versions that this error is coming. Please suggest some solution in case reverting is not an option.
Thanks.

[2020-05-21 09:31] kunal15145 commented on #170
Any update on this issue ?

[2020-05-21 10:12] kunal15145 commented on #184
this error is present only in case of multipart/form-data not in the upload using other content type. Any update would be appreciated without deprecating to 2.1.0 version

[2020-05-22 06:16] kunal15145 commented on #171
Any update on this bug?

[2020-05-22 07:32] tverbeke commented on #171
I has been fixed in the mean time. We are preparing for release.

[2020-05-22 10:03] ispulkit commented on #171
@tverbeke Can you please share the commit or PR? We really need this, tried some hacks, unable to resolve it properly.

[2020-05-22 10:03] kunal15145 commented on #171
Could you point to the commit or the branch you have been working on, That would be very helpful. @tverbeke

[2020-05-22 10:24] ispulkit commented on #171
Found it here: https://github.com/openanalytics/shinyproxy/issues/140
Thanks!

[2020-05-24 15:39] varunvd opened #204 "Not recognising AD group provided under access-group section to restrict access to a dashboard"
We have setup LDAP authentication for ShinyProxy for our project.I am trying to restrict access to each dashboard by specifying the AD group list under the "access-groups" section , even though I am a member of AD group I am not able to see the dashboard.

Configuration file is as below
[code]

So when I give CN="value" or membeOf="value". Access group fails to recognise them and I am not able to

[2020-05-25 07:42] jakubkuzilek opened #205 "ShinyProxy redirect to login page"
Hi, I am struggling with the login redirect when accessing the apps in ShinyProxy. Our institution use reverse proxy and redirects external addresses to internal ones. When someone tries to access the app, reverse proxy redirects correctly to the internal application and then shinyproxy creates redirect to the internal address and this causes problem, because this redirect does not work. Is there

[2020-05-25 09:46] deepanshu88 opened #206 "Direct Path to local drive in Application.yml"
Is there any way we can give path of app which is in local drive in container-cmd and container-volumes in application.yml? I am aware of the method to copy files using COPY command in image and then use that path in container-cmd? I was wondering if container-volumes would speed up opening and processing container.

[code]
Application.yml

[code]

[2020-05-25 10:08] mnazarov commented on #206
Yes, you can mount volumes, note however, that your docker image should be able to run the app from the mounted volume, i.e. you still need all the dependent packages etc.
Also I don't think this would speed up opening a container, rather just reduce the building time of the image.
It seems that you have a typo, as you mount to `/countrydashboard`, but use `/shinyapps/countrydashboard` in the `cmd

[2020-05-25 10:44] deepanshu88 commented on #206
Thanks for your prompt response. Can you guide me ways to speed up opening a container? My app takes less than 3 seconds to load in my local machine. It takes so much time showing it in other machines after building containerised app. When it loads it shows the layout of app but takes another 20-30 seconds to charts and numbers (It seems to be data processing (or calculations take so much time). I

[2020-05-25 12:37] kunal15145 commented on #171
@tverbeke any update? It would be very helpful.

[2020-05-25 12:53] tverbeke commented on #171
This is the relevant commit: https://github.com/openanalytics/containerproxy/commit/c99298934470b2ecee35c9eb9ad67e49fc7acd46

[2020-05-25 14:34] kunal15145 commented on #171
[https://github.com/openanalytics/shinyproxy/issues/184](184) Not sure how it solves this. It can be replicated without Keyclock authentication when authentication is set to none.

[2020-05-25 15:44] mnazarov commented on #171
Thank you for being proactive and reminding about the issue, however it seems less productive to post similar comments in multiple issues, particularly in this one, which was closed as duplicate...

Indeed #184 seems to be a different issue, for which this fix might not help. However the comment is related to the _current issue_ (and #140) which mentions the use of keycloak auth.

[2020-05-25 15:49] mnazarov commented on #206
I see that you posted it in https://support.openanalytics.eu/t/fast-outside-shinyproxy/1544 and indeed it is probably a better place for discussion.

[2020-05-25 15:49] #206 closed

[2020-05-25 15:56] mnazarov commented on #203
https://docs.docker.com/config/containers/start-containers-automatically/

[2020-05-25 16:02] kunal15145 commented on #171
Sorry for the multiple comments. My idea was that since the origin of issue is a POST request, which is failing with the same error. They might have a similar kind of solution.

[2020-05-25 20:32] kunal15145 commented on #184
I know this might be a hack though but for small files this is working, just figured out. Add this to your application.yml
`spring:
    servlet:
        multipart:
            enabled: false`
@shosaco

[2020-05-26 07:57] shosaco commented on #184
Thanks, that indeed works for small files. For large files, I need [this entry](https://www.shinyproxy.io/configuration/#uploading-large-files), which excludes your setting :/

[2020-05-26 09:58] jaysnm commented on #140
@tverbeke could you kindly push a snapshot of the <dev> branch with this issue fixed? perhaps early tests may unearth something else that may need a fix before updating the <stable> branch.
Thanks in advance.

[2020-05-26 11:21] tverbeke commented on #140
@jaysnm the fix is present in the [develop](https://github.com/openanalytics/containerproxy/tree/develop) branch of containerproxy.

[2020-05-26 14:40] kunal15145 commented on #184
I don't think that works. As long as the multipart is enabled, we will get the truncated exception.

[2020-05-27 07:06] shosaco commented on #184
That's what I'm saying. My link points to a setting that specifies the file size of multipart. Your solution disables multipart. These two settings are exclusive, so for large files there is still not solution.

[2020-05-27 09:06] vpanfilov commented on #184
See https://github.com/openanalytics/shinyproxy/issues/140#issuecomment-633964720. It seems that this fix would be able to fix this issue. I am waiting for the new release.

[2020-05-27 11:35] jaysnm commented on #140
@tverbeke it's unfortunate that [develop](https://github.com/openanalytics/containerproxy/tree/develop) branch of containerproxy build failed (please see attached). I have also built [develop](https://github.com/openanalytics/shinyproxy/tree/develop) branch of shinyproxy hoping the containerproxy 0.8.4-SNAPSHOT on pom.xml would give the purported fix. No fix yet. At this point I rest my case for t

[2020-05-27 11:40] tverbeke commented on #140
@jaysnm You need to compile with Oracle Java for the moment. The constructor in the sun.security.krb5.KrbTgsReq class is different between Oracle Java and OpenJDK and we are aware of it.

[2020-05-28 22:25] PauloJhonny commented on #203
Thank you, @mnazarov.

[2020-05-28 22:25] #203 closed

[2020-05-28 22:35] PauloJhonny opened #207 "Create and manage groups in shinyproxy (LDAP authentication)"
Hi,

I configured shinyproxy with LDAP authentication on a server using docker-compose. It turns out that the sector that manages the ldap service is not the same as mine. Therefore, only this other sector can create and manage groups in LDAP. That way, they are not allowed to create groups for me because they believe this must be in the application.

Is it possible to create and manage groups in

[2020-05-28 22:42] PauloJhonny commented on #198
Hi, @advanalyticsamateur. Did you manage to solve this problem? Thank you.

[2020-05-29 09:28] #204 closed

[2020-05-29 09:29] varunvd commented on #204
Issue is resolved by passing group-search-filter: (member={0}) in the configuration file

[2020-06-01 05:00] advanalyticsamateur commented on #198
Yes it is resolved now. Thanks

[2020-06-01 18:06] reisner commented on #187
Is something like this possible, without having to store sensitive information in environment variables in the shiny proxy server?

[2020-06-02 09:28] mnazarov commented on #187
Another possibility is to use files with `container-env-file`

[2020-06-02 17:45] cnukwas opened #208 "Shinyproxy application context-path is not working in Kubernetes container"
Hi,

As per documentation at [configuration](https://www.shinyproxy.io/configuration/) and other examples, we have configured following context-path in application yaml file but the container is failing to start with below error.

`server:
  servlet:
    context-path: /shinyapp`

I have checked SessionHelper [source ](https://github.com/openanalytics/containerproxy/blob/master/src/main/java/eu/ope

[2020-06-12 00:01] advanalyticsamateur commented on #198
Hi @butulia

The roles-claim mentioned was the url and it should be just the name of the claim mentioned in Okta. This was the issue for me.

[2020-06-18 20:11] kaleming opened #209 "Login - Forget Password / Attempts errors"
Does shinyproxy provide some security features like:

- block user account after many attempts using a wrong password ?
- Is it possible to have a forgot password button as well ?

Thank you

[2020-06-19 18:15] robsonyeg opened #210 "shinyproxy generate wrong redirect uri when using keycloak"
Hello,

my setup is like this.

shinyproxy runs in a docker container with name shiny-proxy.

apache httpd reverse proxy runs before shinyproxy and convert it to https and runs on the host with port 2443
keycloak is also runs in docker container but the port is open on the host with 8443.

setup, application.xml
[code]
apache reverse proxy configuration
[code]

Let's say when access shinyprox via

[2020-06-19 23:55] ckvtvm-arch commented on #132
I tried all the below and none of them worked:

ExecStart=/usr/bin/docker daemon -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock

ExecStart=/usr/bin/docker daemon -H tcp://172.18.16.1:2375

ExecStart=/usr/bin/dockerd -H fd:// --dns 8.8.8.8

ExecStart=/usr/bin/dockerd -H unix:// -D -H tcp://127.0.0.1:2375

[2020-06-22 07:02] Dusan-Dingarac commented on #209
Consider using Keycloak.

[2020-06-22 07:09] Dusan-Dingarac commented on #140
With official version 2.3.1 this works finally fine for me. Time to close this issue #140?

[2020-06-22 07:16] tverbeke commented on #140
Thanks for the feedback, @Dusan-Dingarac

[2020-06-22 07:16] #140 closed

[2020-06-22 08:00] shosaco commented on #184
I was hoping the fix for #140 (2.3.1) would also fix this issue, but unfortunately it doesn't.

[2020-06-22 08:16] tverbeke commented on #209
@kaleming Indeed as @Dusan-Dingarac mentions, ShinyProxy typically interfaces with external user management solutions and these offer the desired functionality. See https://www.shinyproxy.io/configuration/#authentication for an overview of all options. I agree that [Keycloak](https://www.keycloak.org/) is a very good option.

[2020-06-22 08:16] #209 closed

[2020-06-22 14:53] vpanfilov commented on #170
Issue still present on version 2.3.1.

[2020-06-22 20:09] #200 closed

[2020-06-22 20:10] tverbeke commented on #188
2.3.1 has been released now - more to come!

[2020-06-22 20:10] #188 closed

[2020-06-22 20:13] tverbeke commented on #166
@nbbn @freaknils Can you confirm this is fixed in version 2.3.1?

[2020-06-24 15:01] schaurasia-quot opened #211 "Getting Build Errors"
Hi,

I am facing one issue while running maven install. PFB console logs.

Failed to execute goal on project shinyproxy: Could not resolve dependencies for project eu.openanalytics:shinyproxy:jar:2.3.1: Failed to collect dependencies at eu.openanalytics:containerproxy:jar:0.8.4 -> org.springframework.security.extensions:spring-security-saml2-core:jar:1.0.9.RELEASE -> org.opensaml:opensaml:jar:2.6.

[2020-06-24 15:08] tverbeke commented on #193
Thanks for reporting, @MarkusLang1987 Do you still have this issue? I was able to build fine from the current state of the git repo.

[2020-06-24 15:12] tverbeke commented on #211
Hi @schaurasia-quot, Thanks for the feedback. I just built successfully using

[code]

using

[code]

on Ubuntu 18.04 LTS / openjdk version "1.8.0_252"

[2020-06-24 15:14] tverbeke commented on #184
HI @shosaco, Thanks for the confirmation - on our plate now. I have no knowledge of flask, but is this relevant:

https://github.com/openanalytics/shinyproxy-dash-demo/blob/master/app/app.py#L46

?

[2020-06-24 15:16] schaurasia-quot commented on #211
HI @tverbeke ,

Thanks for quick response. PFB full trace and i have changed anything apart from importing it to eclipse and enabling maven nature.

schaura-ltm:shinyproxy schaurasia$ pwd
/Users/schaurasia/Desktop/Project/POC/shinyproxy
schaura-ltm:shinyproxy schaurasia$ mvn --version
Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-05T00:30:29+05:30)
Maven home: /usr/local/Ce

[2020-06-24 16:48] johan13 commented on #65
I am experiencing the same problem: Intermittent 503s behind AWS AppELB.

I have captured a failed request with tcpdump and ELB is already using http/1.1 when talking to ShinyProxy. (The request starts with: `GET /app_direct/ftg/shared/strftime/strftime-min.js HTTP/1.1`.)

I am the only user, so I doubt that is is a capacity issue. The Shiny app can do several thousand requests per second when I h

[2020-06-25 02:08] kaleming commented on #209
Thank you @Dusan-Dingarac and @tverbeke.

[2020-06-25 05:48] schaurasia-quot commented on #211
Hi Team,

I got it working by downgrading the container proxy to
<dependency>
			<groupId>eu.openanalytics</groupId>
			<artifactId>containerproxy</artifactId>
			<version>0.8.2-SNAPSHOT</version>
		</dependency>

with 0.8.3 it was not working

Thanks,
Saumik

[2020-06-25 07:29] shosaco commented on #184
Dear tverbeke, thanks for the update. It does not solve the issue. For convenience, I created a gist with the relevant test files:

[https://gist.github.com/shosaco/a242161e7c4ed7534f4df128906472af](https://gist.github.com/shosaco/a242161e7c4ed7534f4df128906472af)

[2020-06-27 05:01] aiham opened #212 "ShinyProxy 2.3.1 sha256 check is failing"
The provided sha256 file for 2.3.1 seems to be incorrect. The result of `sha256sum shinyproxy-2.3.1.jar` does not match the contents of `shinyproxy-2.3.1.jar.sha256` so the check is failing. This works fine for `shinyproxy-2.3.0.jar`. The format of the sha256 file also changed from 2.3.0 to 2.3.1 (missing the filename, no longer ends in a new line).

[code]

[2020-06-27 08:05] aiham opened #213 "Google social sign is broken for newer Google projects"
This is an upstream issue caused by containerproxy. I've created an issue there https://github.com/openanalytics/containerproxy/issues/37 and creating one here too for tracking and search-ability.

[2020-06-28 10:04] johan13 commented on #65
I have been running some more `tcpdump` and it appears that requests that give 503-responses are not forwarded to Shiny at all - the 503s originate somewhere in ShinyProxy.

[2020-06-30 21:02] dennisvanderpool commented on #202
My brother has the same issue. Works on my system, not on his system.
Both are running the same docker version, shineyproxy and application.yml
I'm running on Ubuntu 20.04 LTS, he is running 18.04 LTS.
When doing the exact thing i noticed that the proxy could not be created on his system, no other TCP ports using 80, 443, 8080 are open prior to it.

When i compare both logs i saw that the proxy di

[2020-06-30 23:18] dennisvanderpool commented on #202
Just doing an upgrade to Ubuntu 20.04 LTS solved his issue... I hope it helps somebody :sunglasses:

[2020-07-01 15:38] dennisvanderpool commented on #202
Sorry, talked too soon. After upgrading to Ubuntu 20.04 LTS it only ran once. Weird.

[2020-07-01 15:51] ElCrypo commented on #202
It turns out when I run keycloak on docker this issue occurs. When I kill keycloak container and set the authentication to simple, everything works fine. But launching keycloak in a docker container, even when authentication is still set to simple, after starting the container, the error 500 is back. For the record, the error is NOT Message: Failed to start container, but Message: Container did no

[2020-07-01 18:04] Dusan-Dingarac commented on #202
Hi Richard,
Is seems to me that both Keycloak and Shinyproxy are working on same port (default 8080). If this is the case run Keycloak from docker with eg. -p 8082:8080 and fchange port on other needed places (eg. reverse proxy...).

[2020-07-01 18:06] PauloJhonny opened #214 "Failed to start container when using docker swarm (1 manager + 1 worker)"
Hello, I am using shinyproxy with docker swarm (1 manager + 1 worker).

Authentication works well and I can access the index page, but I cannot access any of the available apps. An error occurs when I try to access them.

If I don't join a worker in the cluster, everything works perfectly.

Here is some information:

## 1. logs:
[code]
## 2. docker swarm working:

[code]

## 3. communication betwe

[2020-07-01 22:00] kuzmenkov111 commented on #162
Hello!

Are there any plans or thoughts about this?

[2020-07-01 23:31] dennisvanderpool commented on #202
Hey, i got it resolved. It seems that even though the exposed ports were different, it still had issues with running two proxies both on port 8080. Got it working by created a new network with "docker network create keycloak" and use --network=keyclock on the docker run command. Now works fine without any issues. :smiley:

[2020-07-03 07:31] GuoanQi1996 opened #215 "File upload error 25461 for io.undertow.proxy"
Dear community,
I am deploying a shiny app using shinyproxy 2.3.1. Here after is my procedure.
1) I installed the java SDK and docker in linux (centos) server, then downloaded the shinyproxy .rpm and .java.
2) I made a docker mirrior contains my shiny app, since i had a self-made welcome web page, so i used shiny-server to hold my shiny app in the container.
3) This is my application.yml, and the

[2020-07-03 08:35] GuoanQi1996 commented on #215
My issue solved by editing Miscellaneous Settings, as my apps need large files upload, so i add the following lines in application.yml.
spring:
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

Thank you!

[2020-07-03 08:35] #215 closed

[2020-07-03 08:41] tverbeke commented on #213
Thanks, @aiham - we'll have a look.

[2020-07-08 11:24] bianchenhao opened #216 "Status code: 500 ... connection refused when using 02-containerized-docker-engine tutorial"
I used this tutorial: https://github.com/openanalytics/shinyproxy-config-examples/tree/master/02-containerized-docker-engine.

my sessioninfo :
[code]
my`docker.service` :
[code]

when I click app link, error occurs
![image](https://user-images.githubusercontent.com/40454528/86913006-8e781400-c150-11ea-8ae2-32bf61884bf5.png)

error log :
[code]

[2020-07-08 11:32] tverbeke commented on #216
Hi @bianchenhao To be sure: did you pull the `openanalytics/shinyproxy-demo` image (with the actual apps) to the server where you are running it?

[2020-07-08 12:02] bianchenhao commented on #216
@tverbeke I used `sudo docker pull openanalytics/shinyproxy-demo` to pull the image,
[code]

running dockers:
[code]

`application.yml`in the shinyproxy docker:

[code]

[2020-07-09 06:25] bianchenhao commented on #216
Hi @tverbeke , I check tho `shinyproxy.log` in the container, maybe helpful.

error log refers to `caught when processing request to {}->unix://localhost:80: Connection refused`. I don't know how to fix this problem.

error log:

[code]

[2020-07-10 14:31] PauloJhonny commented on #214
One more info. It looks like the images are being rejected on the worker. I don't know what am I supposed to do.

[code]

[2020-07-16 09:55] Ljupch0 commented on #211
I am facing the same issue on Fedora 30
[code]
@schaurasia-quot what commands did you use to downgrade the container proxy? I am new to linux, thanks.

[2020-07-16 11:04] Rama-13 opened #217 "Retrieving Id token from Cognito inside the Container"
I'm using Cognito as open ID provider. The access is provided based on role attached to user group to which the user belongs to in the Cognito User pool. The user should be able to access S3 resources according to what his role permits. For this, the user should be able to generate credentials inside the container, so that the scripts call only that bucket and nothing else. For generating these AW

[2020-07-16 14:32] Ljupch0 commented on #211
I am experiencing the issue on ubuntu as well.
[code]

[2020-07-16 18:42] gacolitti commented on #109
What about using the username?

This doesn't seem to do it for me:
[code]

But I can view the user on Auth0 and see that there is a username.

[2020-07-19 14:23] Claire-Kelley commented on #114
Unfortunately I am having the same problem with shinyproxy 2.3.1

I have this block outside the proxy block in the application.yml file

server:
      useForwardHeaders: true

and I have the Nginx proxy set up exaclty as described in the documentation. I also  (to test if i just had made some dumb ngnix error set up an Apache server and had the exact same problem).

My Nginx config blocks are:

se

[2020-07-20 09:55] greenspray9 commented on #114
What's the error? Can you share your config files like how I did? Maybe I can help you

[2020-07-20 12:10] Claire-Kelley commented on #114
@greenspray thank you for taking a look! I really am so stumped on this! My Nginx config it in the comment above, and this is what my application.yml looks like:

Aside from changing the port and adding the serverforward header line, i have tried to keep everything exactly as it was installed. I even tested this with shiny proxy 2.3.0 since that seemed to be working for everyone on this thread, bu

[2020-07-21 10:42] greenspray9 commented on #114
@Claire-Kelley  what's your exact error ?

[2020-07-21 11:58] remche opened #218 "Shinyproxy Helm Chart"
I wrote an Helm Chart that deploy Shinyproxy on Kubernetes. It's on early stage but works great (all contributions welcome).
https://github.com/remche/zero-to-shinyproxy

If it makes sens, it could be linked from here or documentation.

[2020-07-21 13:53] ckelley-ct commented on #114
@greenspray9 I am not getting an error ! It works perfectly so that when i go to my website i can see the shiny proxy log in page and it is served over HTTPS (this is the desired behavior). The problem is that when i log in (using simple authentication for now) the page starts being served over HTTP (not HTTPS- this is the problem! )

[2020-07-21 15:04] panoptikum opened #219 "Sys.getenv("SHINYPROXY_USERGROUPS")) returns empty string"
Hello,

I was trying to condition some part of my app on certain user groups, however if try to retrieve the user groups of the logged in user I only get an empty object:

`Sys.getenv("SHINYPROXY_USERGROUPS"))`

If I try to access the user via:

`print(Sys.getenv("SHINYPROXY_USERNAME"))
`
it works perfectly.

To give a reproducible example, my application.yml looks as follows:

[code]
Is this a kn

[2020-07-21 15:13] panoptikum commented on #219
I have to correct myself.

It only returns nothing, if I assign at least two groups to the user like I did for Jane.

Another "bug" I have discovered:

When I write "management", everything in small letters, I get in shiny "MANAGEMENT" everything in capital letters. This is very misleading, if condition on this value and if this is not anywhere mentioned in your doc.

[2020-07-21 15:34] panoptikum commented on #219
Ok, I see that in contrast to the specification of access-groups, I have to separate groups only with a comma. Well, an example in your docs would be good for this...
But the uppercase error persists and is not happening for the user name.

[2020-07-21 16:35] tverbeke commented on #219
Thanks for the feedback, @panoptikum. We will look into it.

[2020-07-21 16:53] kfox1111 opened #220 "prometheus metrics"
It would be great if metrics could be exposed in prometheus format for things like active users, how long it takes to spin up a users container, etc.

[2020-07-22 15:32] greenspray9 commented on #114
@ckelley-ct Sorry I have no experience with the type of login you want. Maybe there is some kind of redirect happening?

[2020-07-23 09:02] panoptikum commented on #219
Thanks.

I find it confusing that I have to specify groups for a user as follows:

groups = engineers, scientists

while I specify access-groups for an app as:

access-groups = [engineer, scientists]

Maybe this way to specify groups for a user is incorrect, but [engineers, scientists] does not work.

For clarity: I use shinyproxy 2.3.3

[2020-07-24 16:57] kfox1111 commented on #218
I wrote one too but haven't shared it yet.

Maybe there is getting to be enough users now that helm should be supported upstream?

[2020-07-28 08:06] aiham commented on #212
Any update on this? I think it's pretty serious if the checksums are not matching. Both the sha256 and md5 checksums do not match the jar files that are on the website and github releases page. They are also in invalid formats (unlike 2.3.0). If it's a bug then it defeats the purpose of the checksums, if it's malicious then that's very serious.

cc @tverbeke

[2020-07-28 09:09] aiham commented on #212
Just for context I've held back from upgrading to 2.3.1 because of this since CI automatically checks the checksum during deployment, but I've just hit #140 and am now forced to upgrade. Thanks for taking a look.

[2020-07-28 09:21] tverbeke commented on #212
Thanks @aiham - will fix it today.

[2020-07-28 10:07] aiham commented on #212
@tverbeke Thanks for the prompt response!

[2020-07-28 10:12] aiham commented on #210
Did you set this in application.yml?

[code]

From here: https://www.shinyproxy.io/security/#https-ssl-tls

[2020-07-28 10:20] aiham commented on #210
Not sure what the Apache equivalent is but in nginx this is probably what fixes your issue:

[code]

[2020-07-28 10:55] tverbeke commented on #212
@aiham the jar files are identical on nexus (https://nexus.openanalytics.eu/service/rest/repository/browse/releases/eu/openanalytics/shinyproxy/2.3.1/), shinyproxy.io and Github. The checksum files hosted on nexus (https://nexus.openanalytics.eu/service/rest/repository/browse/releases/eu/openanalytics/shinyproxy/2.3.1/) are wrong, probably because they are overwritten for different extensions (for

[2020-07-28 11:01] aiham commented on #212
Thanks for the detailed response, the checksum is passing now. Cheers

[2020-07-28 11:03] #212 closed

[2020-07-28 11:59] jaysnm opened #221 "Navbar Brand Logo Path Error"
Hi
First and foremost thank you for this excellent project.
I have thoroughly reviewed previously submitted issue reports not to open an already existing.
It happens that ShinyProxy correctly finds the navbar brand logo on landing page (apps listing page) but loses grip of the path once a user launches an app. The relative paths for both landing page and in-app page are the same,  `<img class="nav

[2020-07-28 12:11] Dusan-Dingarac commented on #221
Hi Jaysnm,

try to use absolute path for logo like this:

logo-url: file:///etc/shinyproxy/logo.png

if you need same logo for all apps. If you need custom logo for each app, I do not think that this is not easily possible to make... But it can be done.

Regards
Dusan

[2020-07-28 13:42] robsonyeg commented on #210
@aiham Thanks.

I have it working. It is because of missing useForwardHeaders: true

[2020-07-28 13:42] #210 closed

[2020-07-30 03:04] MaximilianLombardo commented on #20
Hey @PsychlytxTD

I was having issues as well - I ended up using the socats method....check out fmichielssen's comment in this thread:

https://support.openanalytics.eu/t/failed-to-create-container-macos/618/4

[2020-07-31 06:15] schaurasia-quot commented on #211
Hi @Ljupch0
Sorry for the delayed response, I just modified the pom file from 0.8.4 to 0.8.2
<dependency>
			<groupId>eu.openanalytics</groupId>
			<artifactId>containerproxy</artifactId>
			<version>0.8.2-SNAPSHOT</version>
		</dependency>

Hope that helps

[2020-08-01 17:08] Ljupch0 commented on #211
No worries, in the end I didn't compile from github but just installed the .deb file from the website.

[2020-08-05 23:41] PauloJhonny opened #222 "Error: Could not decode a text frame as UTF-8 (chrome)"
Hi,

I have an application hosted on shinyproxy that works well, however, sometimes the error below appears on the browser console (chrome) and the page goes offline (gray).

![image](https://user-images.githubusercontent.com/14023635/89474280-929d4e80-d75b-11ea-9e71-a314d2f70dc6.png)

I tried to insert this command line in the global.R file of my shiny application, but the error persists.

`Sys.s

[2020-08-07 15:36] djfunksalot commented on #211
Seeing a similar issue

`Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T15:00:29-04:00)
Maven home: /opt/apache-maven-3.6.1
Java version: 11.0.7-ea, vendor: Debian, runtime: /usr/lib/jvm/java-11-openjdk-amd64
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "5.6.0-2-amd64", arch: "amd64", family: "unix"
`
this fails for 0.8.2
`[ERROR] Failed to e

[2020-08-07 15:42] djfunksalot commented on #211
Hello,
I'm seeing the same thing... also with 0.8.2:

Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T15:00:29-04:00)
Maven home: /opt/apache-maven-3.6.1
Java version: 11.0.7-ea, vendor: Debian, runtime: /usr/lib/jvm/java-11-openjdk-amd64
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "5.6.0-2-amd64", arch: "amd64", family: "unix"
svitale@michel

[2020-08-07 15:47] djfunksalot commented on #211
Hello,
seeing this with 0.8.2 as well:

svitale@shiny:~/shinyproxy$ mvn -v
Apache Maven 3.6.0
Maven home: /usr/share/maven
Java version: 1.8.0_265, vendor: Private Build, runtime: /usr/lib/jvm/java-8-openjdk-amd64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "4.15.0-91-generic", arch: "amd64", family: "unix"
svitale@shiny:~/shinyproxy$ mvn -U clean install
[INFO]

[2020-08-09 00:51] #197 closed

[2020-08-10 13:01] aysegokce opened #223 "Shinyproxy error 500"
Hi
I have encounter Error 500 when I try to run shinyproxy. Here are the errors.

`Caused by: com.spotify.docker.client.exceptions.DockerException: java.util.concurrent.ExecutionException: javax.ws.rs.ProcessingException: org.apache.http.conn.HttpHostConnectException: Connect to localhost:2375 [localhost/127.0.0.1] failed: Connection refused (Connection refused)`
`Caused by: java.util.concurrent.E

[2020-08-11 09:20] mnazarov commented on #222
the error seems to be related to shiny and not shinyproxy itself, so I wonder if you also see it when you run your shiny app locally?
if this is the case, maybe this will help to search for solution...
this could be useful - https://github.com/rstudio/shiny/issues/2824#issuecomment-632239726 - but not sure

[2020-08-11 21:00] jaysnm commented on #221
Thanks for reverting Dusan
I'm using absolute path which solves the issue.

Leaving my solution here for someone else stuck on this:
I'm using [2col html templete](https://github.com/openanalytics/shinyproxy-config-examples/tree/master/04-custom-html-template/templates/2col)
[code]
Will go ahead and close the issue.

[2020-08-11 21:00] #221 closed

[2020-08-13 18:08] shrektan commented on #222
Just give my two cents here (it may not be relevant, though): Changing locale in R is dangerous as it may cause many unexpected behaviors (which are usually very difficult to track down) according to my experience... So if you have any `Sys.setlocale()` in your R scripts, remove them and try again...

[2020-08-14 23:15] PauloJhonny commented on #223
Hi, @aysegokce.

Did you try to change port 3838 to 8080?

See the standard configuration here: https://www.shinyproxy.io/configuration/

[2020-08-15 02:04] caot opened #224 "Could not find artifact eu.openanalytics:containerproxy:jar:0.8.4"
Here is the log:

[code]

[2020-08-15 10:59] aysegokce commented on #223
Thanks @PauloJhonny  I tried and I got same error. When I run docker image with docker run command it works fine but when I run it through shinyproxy it gives error.

[2020-08-15 14:40] caot commented on #224
build https://github.com/openanalytics/containerproxy
and take the jar from the build.

[2020-08-15 14:40] #224 closed

[2020-08-15 14:59] mnazarov commented on #223
have you tried configuring docker startup options as described in https://www.shinyproxy.io/getting-started/#docker-startup-options ?

[2020-08-16 12:31] aysegokce commented on #223
I removed
`url: http://localhost:2375`
and it is working now.

[2020-08-16 16:45] jaysnm opened #225 "Authentication for influxdb on the shinyproxy_usagestats"
Apologies for this might not be the right place to post.
Initially posted on [Open Analytics Community Support](https://support.openanalytics.eu/t/authentication-for-influxdb-on-the-shinyproxy-usagestats/1661) and received zero response.

I have configured shinyproxy 2.3.0 to send usage statistics to influxdb 1.8.0. The crazy thing I’m experiencing is that without influxdb authentication enabled,

[2020-08-25 08:21] gybeata commented on #205
Hi Jakub, just wondering if you have found a solution to deploy shinyproxy ? I believe we are in a similar situation as the one you describe above.

[2020-08-25 22:02] PauloJhonny commented on #222
Hi, @mnazarov and @shrektan.

1. I tried to do what you suggested, but it didn't work. :/

[code]

2. I tried to remove all accents and special characters on the strings. Unfortunately, it didn't work.

[code]
3. I think it has something to do with the VPN connection I'm using. It is possible? I asked for external access to shinyproxy to see if the error persists, but the team that makes this task

[2020-08-31 10:35] Ljupch0 commented on #201
You might have insufficient RAM.

[2020-09-02 02:13] sarthi2395 opened #226 "ShinyProxy not serving on 8080 port."
I am trying to install ShinyProxy in a local server The **application.yaml** config I use

[code]

ShinyProxy is running as a service on port 8080.

[code]

However, if I curl the URL, it says
[code]

My docker is up and running on 2375 and I can spin up a test container and access it over browser. So that doesn't seem to be the problem here. Could anyone help me out?

[2020-09-02 11:37] PauloJhonny commented on #226
Hi, @sarthi2395. I think you need to change authentication to “simple”.

[2020-09-02 12:02] sarthi2395 commented on #226
Ah snap. Thanks! I changed authentication to simple, restarted the service. Now curl doesn't throw any error and does not print anything when run on the terminal. I also tried loading the URL in my browser, still no luck.

[2020-09-02 12:10] mnazarov commented on #226
have you configured [docker startup options](https://shinyproxy.io/getting-started/#docker-startup-options) ?

[2020-09-02 13:05] sarthi2395 commented on #226
Yes I did. Docker seems to be running fine on 2375

[code]
![image](https://user-images.githubusercontent.com/62046150/91987005-16425f00-ed4b-11ea-8ee0-57ad9f4441df.png)

[2020-09-03 02:06] sarthi2395 commented on #226
I figured out what the issue was. Looks like the port 8080 was not open to remote access. I use a CentOS server so I fixed this with

[code]
This, if added in FAQ would be really helpful. Closing this thread now.

[2020-09-03 02:06] #226 closed

[2020-09-04 13:10] FrankCRoth opened #227 "OAuth2 configuration for Azure Microsoft App requires http return URL, which is not possible using GUI but only manifest"
If you configure OAuth2 configuration for Microsoft AAD you need to specify also http return URL in order to get it to work. Per default this is not actually allowed in the azure portal and therefore you need to modify the manifest file to include http return URL.

Expected behaviour would be to also use https als return URL for OAuth2 configuration.

[2020-09-06 17:08] Krimovski commented on #224
I habe the same error when compiling the project using maven :

[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  5.424 s
[INFO] Finished at: 2020-09-06T18:03:25+01:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project shinyproxy: Could not resolve dependenc

[2020-09-06 17:45] Krimovski commented on #211
Hi all,
I am facing the same issue here :

` BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  3.629 s
[INFO] Finished at: 2020-09-06T18:42:03+01:00
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal on project shinyproxy: Could not resolve dependencies for project eu.openana

[2020-09-06 18:31] caot commented on #224
The solution is mentioned above.

[2020-09-06 18:41] Krimovski commented on #224
thanks @caot for your answer. Indeed I have downloaded the repository and tried to build it as mentioned above. I get this error when running "mvn -U clean install". I tried to modify pom.xml but it still doesn't work. when I try to access http://nexus.openanalytics.eu/nexus/content/repositories/releases i get an error on the landing page...

[2020-09-06 18:56] caot commented on #224
# mvn -U clean install
mvn -U clean install -DskipTests -Dlicense.skip   # this is the way for me to build containerproxy.

[2020-09-06 19:14] Krimovski commented on #224
are you building it on windows ? maybe pbs depend on the platform ? even though it's running on java...
thank you for your answer @caot

[2020-09-06 19:24] caot commented on #224
Yes, it's windows. Java code doesn't depend on any OS.

[2020-09-06 19:28] Krimovski commented on #224
@caot can you share your pom file ? in case there is an error in the last version

[2020-09-06 19:33] caot commented on #224
[code]

[2020-09-06 20:05] Krimovski commented on #224
I still have same errors, it looks like it can not download the packages.. thanks anyway

[2020-09-06 21:56] caot commented on #224
you can clone from https://github.com/caot/shinyproxy/

[2020-09-07 08:00] Krimovski commented on #224
@caot now it works ! thanks you

[2020-09-07 09:00] jakubkuzilek commented on #205
Hi @gybeata,

unfortunately not. I am also facing the problem, that I no longer have the access to the infrastructure. 😄

[2020-09-08 13:25] #227 closed

[2020-09-08 13:27] FrankCRoth commented on #227
resolved by setting useForwardHeaders: true in server section.
RTFM ;-)

[2020-09-08 23:07] kfox1111 opened #228 "scaling"
It would be preferable in a Kubernetes environment to be able to have multiple shinyproxy instances running at once.

This would require that user pods don't terminate when a single instance of shinyproxy goes away and that the cookies contain all data necessary to talk to the backend and any encryption keys for the cookie can be specified to all instances.

[2020-09-09 14:36] benkates opened #229 "OWASP/Security Checks"
Hi there, an enterprise client is asking about an OWASP check for ShinyProxy - is there any detail you can give on checks you do or vulnerabilities that have been found and addressed?

[2020-09-11 10:29] tverbeke commented on #229
Hi @benkates Some customers went through pentesting and formal audits of their ShinyProxy infrastructure. We have worked with them to include minor changes to make the software OWASP proof. In the release notes of version 2.3.1 you will notice a lot of small security enhancements that originate in this exercise: https://shinyproxy.io/downloads/

Hope this helps!

Best,
Tobias

[2020-09-13 17:22] mikiril opened #230 "Socket client disconnect"
Hi guys,

There seems to be no websocket reconnect mechanism implemented and the hearbeat interval is not respected here.
To reproduce on Mac please start your app, wait until it is loaded and turn WiFi off for a second. Client greys out and the following is found in the console:

WebSocket network error: The operation couldn’t be completed. Socket is not connected
TypeError: null is not an object

[2020-09-14 19:35] junkiebev commented on #228
How would one preserve session-state across instances? Some sort of redis cache? Maybe a label-set on the backend pods?

[2020-09-14 20:10] kfox1111 commented on #228
Yeah. label on the backend pod could work. or a signed cookie (probably the fastest option). redis would work too, but slightly less ideal unless there is a lot of state, as its another service to have to manage. Or maybe a service per users pod. then k8s service discovery (dns) could route the request.

[2020-09-14 20:16] tverbeke commented on #228
@kfox1111 @junkiebev We are currently working on session persistence and will take HA into account.

[2020-09-14 20:21] kfox1111 commented on #228
Awesome. Thanks! :)

[2020-09-14 21:20] kuzmenkov111 opened #231 "Recive additional info from web auth server"
Hi there!
Many Thanks for Web server Auth feature. It is absolutely great!

But is it possible to add some function with the following workflow:

1) ShinyProxy sent the http request to Auth Web server ------>
2) Auth Web server answers 200 OK. Plus Auth Web Server sends
`shinyproxy_json_field {
some string…
} `
3) ShinyProxy authorizes user + receive `shinyproxy_json_field` and sends it into conta

[2020-09-15 08:16] CorneeldH opened #232 "FYI: Vulnerability in feature of bootsrap 3.3.7 (loaded in BaseController.java)"
During a vulnerability scan of our ShinyProxy app, we got a report that Bootstrap 3.3.7 (loaded in BaseController.java) has security issues (although I don't think the vulnerable feature is used)::

The library bootstrap version 3.3.7 has known security issues.

For more information, visit those websites:
https://github.com/twbs/bootstrap/issues/28236

Affected versions: The vulnerability is affec

[2020-09-15 13:59] sascha42 opened #233 "Shiny App grey's out with socket error"
Hi guys

I’m running a dockerized ShinyProxy on an linux machine.

The docker image runs perfectly fine if we run it in our company where we have a very good and fast (1Gbit)
ethernet connection.
But if somebody run it where the ethernet is not that fast (home office via vpn) suddenly the screen turns to gray
if the user is updating a large plot (40000 datapoints).
In the browser (pushing F12) we

[2020-09-15 18:11] brianluong360i commented on #211
Fixed by changing the URL for the nexus repository to: https://nexus.openanalytics.eu/repository/releases

[2020-09-19 20:25] mikiril commented on #230
Hi again,

I ended up implementing a workaround using  session$allowReconnect.
But still, it would be great if this was fixed on shinyproxy side.

[2020-09-19 20:54] tverbeke commented on #230
Thanks for the detailed report, @mikiril

[2020-09-24 14:48] fifthpostulate opened #234 "Configure Pod Service Account for Kubernetes Backend"
In the application configuration for Kubernetes backend users it would be great to be able to assign a service account to the application pods. Something like this:

[code]

This would allow AWS EKS users to use Kubernetes service account to IAM role bindings to enable connectivity to Hive, Aurora, or any other platform dependencies.

[2020-09-24 14:58] #234 closed

[2020-09-25 06:52] LEDfan commented on #234
HI @fifthpostulate

In a next release, ShinyProxy supports a feature called Kubernetes Pod Patches. This feature allows you to specify a patch in JSON Patch format (http://jsonpatch.com/) which is applied to the definition of the pod before it is created by Kubernetes.
Using this patch you can easily change the serviceAccount, or even change the namespace of a specific pod.
Here is an example:

[c

[2020-09-25 06:56] LEDfan commented on #225
Hi @jaysnm

Unfortunately, currently we do not support authentication when connecting to InfluxDB. The properties you mentioned are not used by shinyproxy.

We will consider adding this feature in the future and keep this issue open as a reference.

[2020-09-25 06:58] LEDfan commented on #223
@aysegokce since your problem is solved I'm going to close this issue.
Feel free to open a new issue if you encounter another problem or have a suggestion!

[2020-09-25 06:58] #223 closed

[2020-09-25 07:05] LEDfan commented on #216
Hi @bianchenhao
Looking at the stacktrace I think ShinyProxy is unable to connect to the docker daemon. It seems like ShinyProxy is trying to connect over unix sockets. As you are running ShinyProxy in docker itself, did you mount the docker socket into the ShinyProxy container? Using the `-v /var/run/docker.sock:/var/run/docker.sock` parameter in step 6 of the tutorial?
If you do mount the socket

[2020-09-25 07:08] LEDfan commented on #208
Hi

Maybe it's due to a formatting error, but it is important that there are some newlines between the properties. That is the configuration should look like this in the application.yaml file:

[code]

[2020-09-25 07:13] LEDfan commented on #205
I'm not sure how to achieve this with rewrite rules, but I think it would be better to use Apache as reverse proxy instead.
We are using ShinyProxy together with a reverse proxy in many deployments without any issue.
Using the `ProxyPass` directive, ShinyProxy will get the correct Host header and the redirects should fully work.

[2020-09-25 07:20] LEDfan commented on #193
This is because the pom.xml is referring to http urls and all urls should be https. This will get solved in the next release. In the meantime you can simply replace http:// by https://

[2020-09-25 07:20] #193 closed

[2020-09-25 07:23] LEDfan commented on #181
Hi

You should be able to change the cookie name using the following code in `application.yml`:

``
server:
    servlet:
      session:
          cookie:
               name: MYSESSIONID
[code]

[2020-09-25 09:55] #181 closed

[2020-09-25 12:16] jfrubioz opened #235 "Issue with deploy dash > 1.1 on Shinyproxy 2.3.1"
Hi community,

I am trying to deploy a dash (latest build) app with Shinyproxy. It seems that the last successful dash/dash dependencies built than can work with Shinyproxy is:

dash 1.1.1
dash-bootstrap-components 0.7.1
dash-core-components 1.1.1
dash-html-components 1.0.0
dash-renderer 1.0.0
dash-table 4.1.0

I have tried a couple of fixes to launch it without luck, neither of which works with D

[2020-09-25 19:57] fifthpostulate commented on #234
Thanks @LEDfan, that is even better. Is there an eta on the next release?

[2020-09-29 12:59] gazetapl opened #236 "app code on github"
I want to keep my application code on git repo. Is it possible to sync/clone app from repo when app is starting in shinyproxy? I could download it to container before container-cmd: ["R", "-e", "shinyproxy::run_01_hello()"] but i don't know how and where do the sync.

[2020-09-29 15:15] Dusan-Dingarac commented on #236
Hi Gazetapl,
option 1: you should create one folder on computer where is ShinyProxy (eg. /root/myapp) and sync app code from git in it. Prepare needed files for creating container, and create it after each sync with git.
option 2: prepare container with your app directly form git (after code push) - CI/CD and place it in container registry (both CI/CD and container registry you can build with GitL

[2020-09-30 08:03] LEDfan commented on #157
HI @DockerAsura

You have to deploy nginx as a separate piece of software. Nginx will then ensure that the traffic is encrypted and forwards (proxies) it to ShinyProxy. See for example the link of @nali-raz or https://www.linode.com/docs/web-servers/nginx/use-nginx-reverse-proxy/

[2020-09-30 08:08] LEDfan commented on #168
Duplicate of #167

[2020-09-30 08:08] #168 closed

[2020-10-01 01:39] chienyuchuan opened #237 "How to share Database connection pool between shiny apps under ShinyProxy"
In my practice, many shiny apps needs to access Postgresql DB which installed on host. I use pool package to get connection pool of Postgresql, and set it to global variable shared for other apps. But every new user trigger app, it would get new connection of Postgresql. I'm afraid Postgresql would crash down when too much concurrent users use shiny apps. Is any solution for this secenario?

pool

[2020-10-04 02:13] chienyuchuan commented on #237
If Shinyproxy would support database connection pool (ex. postgresql,mysql etc) in shiny apps, it will much more convenient for developers. Is it possible?

[2020-10-05 06:33] shrektan commented on #237
I don’t think there’s native way of doing this.  But workarounds are many. One possible easy workaround is to deploy an API using plumber.

[2020-10-06 01:26] chienyuchuan commented on #237
thanks to @shrektan , I'll try it latter.

[2020-10-06 22:10] agarwva2 opened #238 "Injecting Vault Secrets Into Kubernetes Pods via a Sidecar"
Currently we are able to run our pod on kubernetes which fetches a secret to connect to database from kubernetes secrets in dev environment, using the below snippet in the application.yaml file

  - id: XYZ
    container-image: XYZ:latest
    container-env:
      TOKEN: "secretKeyRef:Secret:key"

However we would like to avoid using kubernetes secret in production and look at ways to Injecting Vau

[2020-10-12 13:39] LEDfan commented on #65
This should be fixed in ShinyProxy [2.4.0](https://shinyproxy.io/downloads/#240), therefore I'm closing this issue.
@johan13 @k----n @nysthee (and others) don't hesitate to re-open the issue (or open a new issue) if the problem persists.

[2020-10-12 13:50] LEDfan commented on #213
Hi @aiham

Thank you for your investigation. We upgraded the google social dependency in the latest release (ContainerProxy 0.8.5 and ShinyProxy 2.4.0)

Feel free to re-open if you still encounter the issue.

[2020-10-12 13:50] #213 closed

[2020-10-12 13:52] LEDfan commented on #232
Hi @CorneeldH

Thank you for your report. Bootstrap was upgraded to a secure version in the latest release ([ShinyProxy 2.4.0](https://shinyproxy.io/downloads/#240))

[2020-10-12 13:52] #232 closed

[2020-10-12 13:53] LEDfan commented on #152
Hi all

Thank you for your PR!
In order to not have to implement every Kubernetes feature in ContainerProxy, we decided to add a generic way of adding Kubernetes specific configuration to a ContainerProxy app. This feature is called `kubernetes-pod-patches` and allows to *patch* the specification of the Pod before it is created by ContainerProxy.
More information about this feature can be found [h

[2020-10-12 13:53] #152 closed

[2020-10-12 13:55] #65 closed

[2020-10-12 14:20] LEDfan commented on #184
Hi @shosaco

Thank you for you extensive report and investigation.
This should now be fixed in the latest release [ShinyProxy 2.4.0](https://shinyproxy.io/downloads/#240) .
A few remarks:
 - we configured Spring so that it no longer touches multi-part requests. This corresponds to the behavior as in ShinyProxy 2.1.0
 - because spring no longer touches multi-parts requests it is no longer necessary

[2020-10-12 14:20] #184 closed

[2020-10-12 14:22] LEDfan commented on #170
Hi @yangzhenhui @vpanfilov @kunal15145 this is fixed in [ShinyProxy 2.4.0](https://shinyproxy.io/downloads/#240) .

We extensively tested file upload in rstudio, including large files.
Note that configuring multi-part should no longer be needed.

[2020-10-12 14:22] #170 closed

[2020-10-12 14:23] LEDfan commented on #233
Hi @sascha42

Thank you for your report and research! We can reproduce the issue and are looking into a solution for the next release.

[2020-10-12 14:24] LEDfan commented on #211
This is fixed in the latest release.

[2020-10-12 14:24] #211 closed

[2020-10-12 14:27] LEDfan commented on #199
Hi

Thanks for opening an issue.  Port 88 is used by (among others) KDC.
However, it is always possible that a specific port is already used on your system. That would mean we would have to add warning to the docs for every port that exists. I think that the error report in the logs should be clear enough for the user, so that they can change their configuration.

[2020-10-12 14:27] #199 closed

[2020-10-14 14:52] sascha42 commented on #233
Hi @LEDfan

Thank you for your fast response.
I tried the docker container „ledfan/oa-shinyproxy-snapshot:2.4.1-feature-23249 https://hub.docker.com/layers/ledfan/oa-shinyproxy-snapshot/2.4.1-feature-23249/images/sha256-e7b48f7388440f49097a1f3188606e7c6d7236974876d0eff07bd723d833856d?context=explore" that you recommended in our environment, but when „Siny-Proxy“ try to start a „R“ container we get

[2020-10-15 12:51] LEDfan commented on #233
Hi @ sascha42

It's strange that you are facing this issue. I just tried to run this specific container and I cannot reproduce the error.
In order to debug the issue, can you explain a bit your setup. E.g. give the command you use to run the command, your `application.yml` and `/etc/docker/daemon.json` files.

Thanks

[2020-10-15 15:28] remche opened #239 "ShinyProxy 2.4.0 on K8S throws errors"
After updating to 2.4.0, Shinyproxy log shows a lot of error like the following :
[code]

[2020-10-16 01:18] HEPBO3AH commented on #114
I have the same problem, did you find a solution?

[2020-10-16 07:06] LEDfan commented on #239
Hi @remche

We are aware of this error. This error happens when you try to run ShinyProxy 2.4.0 using JDK 8. We changed some pieces in our build infrastructure, since then our JARs are build using OpenJDK 11, therefore they don't run on JDK 8.

A simple solution for you should be to change you Docker container to use OpenJDK11.

However, we plan to build again using OpenJDK 8 for the 2.4.1 release

[2020-10-16 07:23] remche commented on #239
Oh I see, thanks for the follow-up.
Will next versions stick only on JDK8 or do you plan to use both JDK8 and JDK11 ?

[2020-10-16 07:31] LEDfan commented on #239
We will compile using JDK8 and those version should work on any JDK >= 8. Our official images use OpenJDK 11 and we plan to keep doing so, in order to take advantage of the latest changes to the JDK.

[2020-10-16 09:15] chienyuchuan commented on #237
I install pgbouncer, and set shiny connect to pgbouncer service, it solve the problem. Thanks a lot

[2020-10-16 09:28] LEDfan commented on #237
Hi @chienyuchuan happy to hear you found a solution!
Therefore I'm closing this issue now.
Don't hesitate to open a new issue if you encounter some problem with ShinyProxy!

[2020-10-16 09:28] #237 closed

[2020-10-17 02:19] xtrasimplicity opened #240 "Dynamic addition of specs post-startup"
Firstly, thanks for creating such an awesome platform - this looks like it satisfies almost all of my requirements!

One thing I'm looking for, though, is the ability to dynamically add specs post-startup, so that we don't have to manually restart the server to add a new app.

I can see that `ProxySpecs` and `ContainerSpecs` (upon which `ShinyProxy` is based) offer support for this using a POST re

[2020-10-17 07:58] tverbeke commented on #240
Hi @xtrasimplicity This can be achieved using our ShinyProxy operator. A high-level description is offered in https://www.openanalytics.eu/blog/2020/10/12/shinyproxy-2.4.0/ and further documentation is available in its [dedicated Github repository](https://github.com/openanalytics/shinyproxy-operator/tree/develop/docs/deployment)

[2020-10-17 08:36] xtrasimplicity commented on #240
Thanks, @tverbeke. I had a quick look, but it seems more Kubernetes centric. Does this work with Docker swarm/single-node, as well?

[2020-10-19 10:39] ckelley-ct commented on #114
@HEPBO3AH yes I did - for me the the problem was with the insecure image (the line   logo-url: http://www.openanalytics.eu/sites/www.openanalytics.eu/themes/oa/logo.png in the example code above ). If you change that to an image served over https or remove it, then the problem resolves.

[2020-10-19 10:46] tverbeke commented on #114
FYI, we have moved the image to https://www.openanalytics.eu/shinyproxy/logo.png

[2020-10-20 09:51] sascha42 commented on #233
Hi LEDfan

Here ist he dockerfile that is usually use, not in this case because i used your image:
#-------------------------------------------------------------------------------------------------------------------------------------
FROM openjdk:8-jre

RUN mkdir -p /opt/shinyproxy/
RUN wget https://www.shinyproxy.io/downloads/shinyproxy-2.3.0.jar -O /opt/shinyproxy/shinyproxy.jar

COPY applicatio

[2020-10-20 10:30] LEDfan commented on #233
Hi @sascha42

Thank you for the information, I now understand the problem. Our official Docker containers are running ShinyProxy using a non-root account, therefore it has no access to the docker socket.

I updated the image on docker hub to run SP as root inside the container: ledfan/oa-shinyproxy-snapshot:2.4.1-feature-23249-root (image name has changed!).
The id should now be 3816d4dcd82a.

I'm

[2020-10-20 12:52] shosaco opened #241 "shinyproxy 2.4.0 loses reactivity when containerized"
Shinyproxy 2.4.0. running in docker containers cause shiny apps to lose reactivity - only with shinyproxy 2.4.0, not with previous versions.

The issue can be experienced by applying the following example:

[https://github.com/openanalytics/shinyproxy-config-examples/tree/master/02-containerized-docker-engine](https://github.com/openanalytics/shinyproxy-config-examples/tree/master/02-containerized

[2020-10-20 12:59] tverbeke commented on #241
Thanks for reporting, @shosaco ! We will investigate.

[2020-10-20 13:01] LEDfan commented on #241
Thanks for you report. This has the same cause as #239 .
I'll update the repo and official images soon. In the meantime you can change this line https://github.com/openanalytics/shinyproxy-config-examples/blob/master/02-containerized-docker-engine/Dockerfile#L1 to `FROM openjdk:11-jre`

[2020-10-20 13:02] micheljung opened #242 "SHINYPROXY_USERGROUPS empty with Kerberos"
According to (the documentation)[https://www.shinyproxy.io/configuration/#environment-variables_1]:

It sounds very generic but is actually under `Kerberos`. However, in my case, `SHINYPROXY_USERGROUPS` is empty.
From what I know about Kerberos, it doesn't contain any group information so it needs to be looked up via LDAP. The corresponding properties `user-dn-pattern`, `group-search-filter`, and

[2020-10-20 14:56] benkates commented on #229
Thanks, we implemented the following and got no major risks from the pen test results:

[code]

[2020-10-20 14:56] #229 closed

[2020-10-20 22:29] danielfm123 commented on #114
managed to make the reverse proxy with nginx and login securely using simple authentication, but once i try to use openid it fails because it uses http as callback protocol:
https://login.microsoftonline.com/9ac05e7d-e6a1-433a-9801-a60642903c2b/oauth2/authorize?response_type=code&client_id=d1abf394-b312-4717-a1c4-daaeee4f3b28&scope=openid%20email&state=5ZEbvVrVKBGpwId02I91SNRN-oPSbqkSR9oOlj7PRRQ%3

[2020-10-20 23:14] Dusan-Dingarac commented on #242
Hi Michel,,

I am not sure exactly how you use Keycloak (eg. if you connect it with some external identity provider), but if you add user to some previously created group under realm, SHINYPROXY_USERGROUPS will return you comma-separated list of all groups in which user is member.
I've just checked it.

[2020-10-21 03:41] xtrasimplicity commented on #240
Hi @tverbeke, I've had a bit more of a read of ShinyProxy Operator and I think I've got my head around it.

Whilst it would solve most of my issues, it'd be nice to be able to delegate the addition of new apps to specific users who may otherwise not be familiar with editing config files, etc - or in situations where I don't want to grant someone SSH access (in any form, no matter how restricted) t

[2020-10-21 09:16] micheljung commented on #242
Hi Dusan,

We don't use Keycloak, we use Kerberos with Active Directory.

[2020-10-21 10:04] LEDfan commented on #241
We just released [https://shinyproxy.io/downloads/#241](ShinyProxy 2.4.1) which is now again built using JDK 8.
I close this issue now, but don't hesitate to open a new issue if you encounter a new issue!

[2020-10-21 10:04] #241 closed

[2020-10-21 10:05] LEDfan commented on #239
We just released [https://shinyproxy.io/downloads/#241](ShinyProxy 2.4.1) which is now again built using JDK 8.
I close this issue now, but don't hesitate to open a new issue if you encounter a new issue!

[2020-10-21 10:05] #239 closed

[2020-10-21 10:06] LEDfan commented on #229
Hi @benkates

We are now also using OWASP Dependency Check to make sure we use no dependencies with known vulnerabilities.
More information can be found on our website https://shinyproxy.io/documentation/security/#secure-dependencies

The next major release of ShinyProxy will update the Keycloak and Docker dependencies.

[2020-10-21 12:19] xperimental commented on #241
Just ran into this issue myself and was happy to see that a new version was already released.

Unfortunately it seems to me like 2.4.1 still does not work properly on JDK8, because it still uses the containerproxy 0.8.5 version which, for me, was causing the issue in the first place (see below).

Can you check if the jar contained in the current release was actually built using JDK8 and, if not, r

[2020-10-21 13:23] LEDfan commented on #241
Hi @xperimental

Thanks for reaching out! The fact that it is still using ContainerProxy 0.8.5 is no problem, since no changes to the code had to be made. However, there was some problem with rebuilding the packages using JDK 8.
This is now fixed and I uploaded new packages to the shinyproxy website, using version number 2.4.1
For reference this is the sha256sum of the working version `12ba6366f0d

[2020-10-21 14:00] tverbeke commented on #240
Hi @xtrasimplicity, Thanks a lot for thinking along. We are working on a mechanism to delegate addition of new apps, but in a first stage it will probably be driven by a GitOps approach rather than through a user interface.

[2020-10-22 11:37] fifthpostulate opened #243 "Expressions not available in Kubernetes pod patches and additional manifests"
First off, many thanks for such a great platform and the new Kubernetes features.

I am trying to use expressions to assign unique resources per user, but it appears they are not working for pod patches and additional manifests:

      - id: test
        display-name: Test
        container-image: test
        container-env:
          DISABLE_AUTH: true
          USER: "#{proxy.userId}"
        po

[2020-10-22 13:18] xperimental commented on #241
In that case the file [in the releases](https://github.com/openanalytics/shinyproxy/releases/tag/v2.4.1) is not the correct one, because it's shasum differs:

[code]

This is also the SHA256 checksum mentioned in the `shinyproxy-2.4.1.jar.sha256` file.

[2020-10-22 13:24] LEDfan commented on #241
Thanks for the heads up, these were forgotten during the rebuilds....
The correct version is now also available at Github releases.

[2020-10-22 14:41] sascha42 commented on #233
Hi @LEDfan

After two days of heavy testing in our environment I can report the following:

With 1000ms, 2000ms and 5000ms the application grays out again after updating the plot several times. However,  with 20000ms, which I think is a reasonable setting, there was no more grey out.

So it looks like you fixed it.

Congratulations and thank you for your great support.

Can you tell me when the fi

[2020-10-22 15:36] agarwva2 commented on #238
With the release of shinyproxy 2.4 and full k8s support, we were able to utilize the new pod patch feature to annotate the pod to inject the secret from vault using an init pod in the pod
[code]
Debugging pod patches was tricky but luckily we have the below debug option, which really helped:-
[code]

[2020-10-22 15:36] #238 closed

[2020-10-22 15:50] tverbeke commented on #238
Many thanks for the detailed feedback, @agarwva2 and glad the pod patches were able to solve your issue!

[2020-10-23 15:36] giordyb commented on #140
Hi, I'm having the same issue after upgrading from ShinyProxy 2.3.1 to 2.4.1, can we re-open the bug?

on browser:
`DataTables warning: table id=DataTables_Table_0 - Ajax error. For more information about this error, please see http://datatables.net/tn/7`

on shinyproxy
``
    at io.undertow.server.handlers.proxy.ProxyConnectionPool.connect(ProxyConnectionPool.java:548) ~[undertow-core-2.1.4.Final

[2020-10-23 15:44] billy34 commented on #140
I'm having the same issue with DT **without** ShinyProxy **with** load balancing using traefik as reverse proxy. Maybe linked to DT and load balancing ?
Need to investigate on my side

[2020-10-23 15:46] giordyb commented on #140
I'm also using traefik as a load balancer but I went back to 2.3.1 and it works fine, with 2.4.0 and 2.4.1 gives that error.

[2020-10-24 19:02] yusfilpulungan opened #244 "Keycloak Gatekeeper Shinyproxy NULL Authentication"
I tried to make authentication using a keycloak. But there are some problems, including redirect uri always to / sso / login.

Keycloak config:
realm: ipas-realm
auth-server-url: http://localhost:8080/auth/
ssl-required: external
resource: ipas-client
credentials-secret: 9daa8e81-01eb-46f3-a5e1-ae464caf04ad

Shinyproxy Log:
2020-10-24 18:58:09.746 DEBUG 1 --- [XNIO-2 task-57] f.KeycloakAuthenticat

[2020-10-26 08:03] LEDfan commented on #233
Hi @sascha42

I'm happy to hear that the issue is (almost) solved.
I adapted the code a bit so that a least a delay of 5 seconds is used. This should make the heartbeat more reliable with smaller intervals. I created a new docker image for this `ledfan/oa-shinyproxy-snapshot:2.4.1-feature-23249-root-extra-fix`.
Feel free to test this.

Regarding the official release, this fix will of course be inc

[2020-10-26 08:22] LEDfan commented on #140
Hi @giordyb

I just tested the example code in the first post of this issue with ShinyProxy 2.4.1 and that still works for me.
Can you share the following information:
 - the code of the Shiny app you are using
 - the configuration of Traefik
 - maybe a docker-compose file so I can easy test your setup

I need at least the two first pieces, otherwise I won't be able to re-produce the issue.
Thanks

[2020-10-26 09:35] shrektan commented on #140
Just add my two cents here. In order to ensure DT works behind a load balancer (Traefik) , I recently created a simple repo [DT-load-balancer](https://github.com/shrektan/DT-load-balancer) based on Docker swarm, with detailed setups... I think with a little effort, you can turn it into a reproducible example for ShinyProxy about this issue...

[2020-10-26 09:55] billy34 commented on #140
@giordyb I solved my problem with traefik and load balancing. I'm still using traefik 1.7 (1.7.26) and there is still a problem with stickiness configuration. I was using label "traefik.backend.loadbalancer.stickiness" as documented but with no success. Using deprecated label "traefik.backend.loadbalancer.sticky=true" is working. Don't know if it's a clue for this issue but who knows.

[2020-10-26 10:26] giordyb commented on #140
@billy34 thanks, I am running traefik 2.2, i tried to enable the sticky session but it didn't make any difference. I will post my the code and traefik config shortly

[2020-10-26 12:18] giordyb commented on #140
@LEDfan I'm running traefik under kubernetes (on a multi-node cluster) so it's a bit tricky to replicate our environment with a docker-compose.
I was able to create a smaller environment with a single kubernetes node under docker (docker for mac) and it still errors out.

here is the code for the app (it's just a sample but it errors out as well):

[code]

here is a bunch of fake data from the csv

[2020-10-26 15:20] giordyb commented on #140
@LEDfan

I did some more tests, it looks like traefik has nothing to do with it.

I created a repo that replicates my environment (https://github.com/giordyb/test_shinyproxy.git)

on docker for mac running kubernetes I created 2 deployments of shiny proxy (2.3.1 and 2.4.1) that serve the same shiny R container application.
There is no traefik involved, the shiny proxy pods are accessed via a kube-

[2020-10-27 13:34] Bertusian opened #245 "Passing SQL credentials at runtime with the shinyproxy application.yml"
Hi,

I have a working shinyproxy app with ldap authentication. However, for retrieving data from the SQL-database i now use (not recommended) a hardcoded connectionstring in my R code with the credentials mentioned herein (i use a service user because my end users don't have permissions to query the database):
[code]
I tried to replace this connection string with an environmental variable, that i

[2020-10-27 17:22] mnazarov commented on #245
Hi @Bertusian,
I think the problem is that you are running shinyproxy itself in a container, so you need to make your `.env.list` file available inside that container (by volume mounting it), or alternatively use `container-env` with env vars that you pass via file in your docker run command. In addition, I believe that `container-env-file` expects an absolute path.

[2020-10-27 17:58] Bertusian commented on #245
Hi @ mnazarov.

Indeed, i am running shinyproxy in a container.  Can you eventually provide an example of the runtime command for lauching the shinyproxy container (with .env.list volume mounted), and is it then captured by the R-app container? I thought that the  .env.list was made available by adding --env-file ~/.env.list (that worked when running the container without shinyproxy).
And do i sti

[2020-10-28 09:52] donarus commented on #182
Did someone resolve how to run ShinyProxy on EKS+Fargate?

[2020-10-28 10:15] mnazarov commented on #245
I will try to explain more clearly: you have a *host* system and 2 containers: one *outer* where shinyproxy is running and one *inner* with your app.
By running `docker run --env-file ...` on your host system, you make environment variables from that file on the host system available to the outer container as env vars. Now you can pass them further to the inner container using `container-env` vari

[2020-10-28 11:03] LEDfan commented on #140
Hi @giordyb

Thank you for your example deployment and report. I looked into the issue today and it's quite a strange issue.
The problem is caused due to having debug logging enabled. There is one class `DispatcherServlet` which will log the parts of the requests send through ShinyProxy. However, this causes issue with some proxied requests, because part of those requests can only be read once. Th

[2020-10-28 11:19] LEDfan commented on #243
Hi @fifthpostulate

This isn't currently supported. However, as we believe this is a relevant use-case, we will look into implementing this for the next release.

[2020-10-28 11:38] fifthpostulate commented on #243
Hi @LEDfan, great thank you.

[2020-10-28 12:28] LEDfan commented on #222
Hi, I'm almost sure this is the same issue as in https://github.com/openanalytics/shinyproxy/issues/233.
You mentioned that the error mostly happens with large plots, just like in the linked issue.
Also the linked issue mentions that it happens more with slower connections.

This other issue is solved, but some extra testing of the fixing would be welcome.
If you are deploying using some Docker co

[2020-10-28 15:56] Bertusian commented on #245
OMG. This is great! Now it works. I haven't tried the first suggestion (but will do later), but your second solution did it straight way! I knew i was close, but couldn't find it.

Thank you very much!!

Great stuff you folks are doing with ShinyProxy.

[2020-10-28 16:22] mnazarov commented on #245
I am glad it worked!

[2020-10-28 16:22] #245 closed

[2020-10-28 20:44] giordyb commented on #140
Hi @LEDfan,

thank you for looking into this so promptly. I added the logging configuration as you suggested and now everything is working as expected, so I'm a happy camper.

thank you very much for your help!

[2020-10-30 09:47] MalditoBarbudo opened #246 "shinyproxy 2.4.1 fails to load DT tables: ajax error"
Hi,

I'm running some apps in a swarm dockerized shinyproxy and tried to update shinyproxy from 2.3.1 to 2.4.1

Apps work nice except for DT tables. They raise an ajax error that not appears in shinyproxy 2.3.1:
![screenshot-2020-10-30_10-44-27](https://user-images.githubusercontent.com/4775311/97690230-fb673f00-1a9c-11eb-8ff5-e5c49cd79c5e.png)

Chrome console says the following:

![screenshot-202

[2020-10-30 09:53] LEDfan commented on #246
Hi

A similar error was reported last week. The cause was that debug logging was enabled, because some class is logging too much and therefore the requests cannot be properly handled by the proxy server.
(See https://github.com/openanalytics/shinyproxy/issues/140#issuecomment-717858983)
You should change you config to:

[code]
Or disable the debug log level completely.
The log level for `Dispatche

[2020-10-30 10:25] MalditoBarbudo commented on #246
Hi @LEDfan
Thanks for the fast answer.
You were right, applying the modified log config solves the problem. Sorry for not noticing the previous issue.

[2020-11-02 10:39] RoelRotti opened #247 "2.4.1 Error solved by redownloading 2.3.1: SAML message intended destination endpoint did not match recipient endpoint"
Caused by: org.opensaml.xml.security.SecurityException: SAML message intended destination endpoint did not match recipient endpoint

[2020-11-02 10:52] LEDfan commented on #247
Hi @RoelRotti

In order to solve this issue, we will need some more information:
 - how are you running ShinyProxy (using the jar, Docker, Kubernetes etc)
 - provide your application.yaml file (remove sensitive values)
 - are you using a load-balancer, which, how is it configured (e.g. is it passing the X-Forwarded headers) etc
 - which SAML provider are you using

Thanks

[2020-11-02 15:51] #246 closed

[2020-11-05 10:17] RoelRotti commented on #247
Hi,
I'm running from Docker. I believe I am not using a load balancer. although
I am forwarding something in my yml file. My yml file isi the following
(removed sensitive values). I am using SURFconext as SAML provider. Cheers

# See also: https://www.shinyproxy.io/configuration/ proxy: title: Open
Analytics Shiny Proxy logo-url:
http://www.openanalytics.eu/sites/www.openanalytics.eu/themes/oa/log

[2020-11-05 11:07] RoelRotti commented on #247
I see gmail wasn't too fond of the yml file so I'll post it again:

# See also: https://www.shinyproxy.io/configuration/
proxy:
  title: Open Analytics Shiny Proxy
  logo-url: http://www.openanalytics.eu/sites/www.openanalytics.eu/themes/oa/logo.png

  ##########################################################
  ## CHANGE APP : ##
  # 'app/01_hello' is the demo app provided by Shinyproxy
  # '
  #

[2020-11-06 12:17] nickmelis commented on #117
Having the same error here with a similar situation. Did anyone manage to get a sense of what's going on?

[2020-11-06 12:35] PauloJhonny commented on #222
Hi, @LEDfan.

It’s been a while that I haven’t used the VPN connection. So I didn’t see that error anymore. I think it had something to do with the slow VPN connection. I’m still using the 2.3.0 version of shinyproxy.

Thank you so much.

[2020-11-09 08:07] Cala3len commented on #117
Was a long time ago and i do not remember the details. But for me it was a matching trouble between shiny-server, docker and host ports...

[2020-11-09 09:59] pvictor opened #248 "Using app_direct and redirect to https"
Hello,

I'm using `app_direct` functionnality and want to redirect http to https, everything works fine except when I use :

https://www.mycompany.com

it redirect me to :

http://www.mycompany.com/app_direct/myapp

Without https.

My Nginx config is:

[code]

Is there something bad in my config ?

Thanks for your help.

Victor

[2020-11-12 14:11] keatonwilson commented on #214
Any updates on this? I'm getting the same error (though my structure is a bit different - one of my apps works , but another generates the error above)?

[2020-11-13 17:06] aupadh12 opened #249 "Implementing SSL in shinyproxy running on Kubernetes(EKS)"
Hi Team,

I have shiny proxy running on EKS cluster in AWS.
I also have the SSL certs generated and have the .crt and .key file with me.
Can someone please let me know how can I get the https implemented so that the URL can be served on secured connection.
Please find the **service.yaml** as mentioned below:

apiVersion: v1
kind: Service
metadata:
  name: shiny-service
  namespace: shinyproxy
  an

[2020-11-13 20:34] jfrubioz commented on #235
UPDATE: Dash 1.17.0 and ShinyProxy 2.4.1 seem to have done the trick.
Just needs:
[code]

[2020-11-16 13:39] RoelRotti commented on #247
To clarify, my Nginx configuration is like in the following example:
[[https://www.shinyproxy.io/security/]](url)

I again share my yml file since it wasn't readable again. This time without the comments (and sensitive info) so it is readable:

`# See also: https://www.shinyproxy.io/configuration/
proxy:
  title: Open Analytics Shiny Proxy
  logo-url: http://www.openanalytics.eu/sites/www.openanal

[2020-11-16 14:13] #166 closed

[2020-11-16 15:25] danielfm123 commented on #248
same config, same problem

[2020-11-16 15:28] danielfm123 commented on #210
im using useForwardHeaders: true but still having the issue

[2020-11-16 15:40] robsonyeg commented on #210
@danielfm123

There is another possibility related to SSL certs. If your certs installed on Keycloak is not public trusted(the root and intermediate CA is not in the default trust list from Java, you need to add them in the JRE default trusted CA.) The JRE is the one that runs your Shinyproxy.

the default location is JAVA_HOME---> JRE -->lib---> security--> cacerts JAVA_HOME---> JRE -->lib---> se

[2020-11-16 16:20] danielfm123 commented on #210
I did it, it doesnt work, i tried shinyproxy 2.3.1 instead of 2.4.1 and it send's the correct redirect_uri, but only works in some browsers, in the rest I get err_too_many_redirects

[2020-11-16 16:33] robsonyeg commented on #210
Is your certs public trusted? I ran into this during the testing phase the certs are not public trusted. You need to import the Root CA and Intermediate CA to Browser trusted store. Each browser is different, depends on your OS and Browser. In my case, I am using Windows, after I import Certs to the trusted zone and Both IE and Chrome work fine after that.

Here is my suggestion,
1. during the tes

[2020-11-16 18:24] danielfm123 commented on #210
It is validated with certbot.... I managed to make it work with shinyproxy 2.3.1 and a different active directory account...

But there is a bug on shinyproxy 2.4.1 and 2.4.0

[2020-11-17 10:54] LEDfan commented on #210
Hi @danielfm123 , I checked a few things here, and I cannot reproduce any problems with redirect_uri in ShinyProxy 2.4.0/1.
Can you open a new issue with the following information? That way I can look into it and see whether there is a bug.

 - how are you running ShinyProxy (using the jar, Docker, Kubernetes etc)
 - provide your application.yaml file (remove sensitive values) See [here](https://d

[2020-11-17 10:59] LEDfan commented on #247
Hi

I'm not sure what is causing this issue. I'm unable to reproduce it. I would try two things:
 - remove the useForwardHeaders option
 - make sure the app-base-url:  is 100% correct

[2020-11-17 11:09] LEDfan commented on #248
Hi @pvictor

I just tested this setup on an internal setup, and the redirect is working fine.
Are you sure you have the following code in your `application.yaml`:

[code]

[2020-11-17 11:40] mnazarov commented on #248
I think changing `$scheme` here to `https` might help

[2020-11-18 13:55] egde commented on #248
Hi,

it seems like the setting
[code]
is not working on shinyproxy 2.4.1 any more. We have upgraded from shinyproxy 2.3.0 where it was working fine.

[2020-11-18 14:02] LEDfan commented on #248
Hi @egde

You could be right! We updated Spring in ShinyProxy 2.4.0 and they seem to have changed the property name.
Can you please try with:
[code]
If that doesn't work (correctly), you can also try:
[code]

Please share your results, I'm looking forward to them!

[2020-11-18 14:35] egde commented on #248
I found that fix on another thread as well, when I noticed that this Spring config does not exist,
And yes -
[code]
is the fix here!

[2020-11-18 14:37] LEDfan commented on #248
Very nice! Thanks for reporting back!

@pvictor @danielfm123 please try this fix too.

[2020-11-18 14:45] danielfm123 commented on #248
Thanks! it fixes the login but breaks ajax for DT
DataTables warning: table id=DataTables_Table_0 - Ajax error. For more information about this error, please see http://datatables.net/tn/7

[2020-11-18 14:46] egde commented on #248
Exactly! That error I have as well

[2020-11-18 14:47] LEDfan commented on #248
Do you both have logging set to debug level? If so, please apply the change mentioned here  https://github.com/openanalytics/shinyproxy/issues/246#issuecomment-719455644

[2020-11-18 17:09] egde commented on #248
Logging was not set at Debug anywhere. Initially it was at
[code]

I tried the suggested config as above. It did not help.
More details in the other issue #246

[2020-11-18 17:16] egde commented on #140
The suggested fix by changing the log settings to the above did not work for me.

I have the following error logs there:
[code]

[2020-11-18 17:19] egde commented on #246
The suggested fix by changing the log settings to the above did not work for me.

I have the following error logs there:
[code]

[2020-11-19 08:08] RoelRotti commented on #247
Hi LEDfan,
is there any more info I could provide so you will be able to reproduce it? Meanwhile I will look into your suggestions!

[2020-11-19 08:17] LEDfan commented on #247
Currently not. Can you also try adding:
[code]
to you configuration? Because of another issue we noticed that this is the (new) correct configuration to setup the forwardHeaders option.

[2020-11-19 08:38] LEDfan commented on #246
Hi @egde , I'm unable to reproduce the issue here, can you please provide the following information:

 - how are you running ShinyProxy (using the jar, Docker, Kubernetes etc)
 - what java version are you using?
 - provide your application.yaml file (remove sensitive values)
 - are you using a load-balancer or reverse proxy? which one? please provide the config too

[2020-11-19 09:17] RoelRotti commented on #247
Hi, I just tried downloading 4.1, and adding the above beneath 'forwardHeaders: True' and that worked! Without the 'forwardHeaders: True' it didn't work however. Thanks for the advice!

[2020-11-19 18:21] smlehman commented on #140
I'm having the same issue with kubernetes behind NGINX and Azure Active Directory. Data Tables display correctly with 2.3.1 but will not with 2.4.1.  I've tried builds with JDK8 and with JDK11.

We've removed all logging config from `application.yml` and have set NGINX to run 'sticky' sessions, but no luck so far.

Have posted a simplified version of our `application.yml` and shinyproxy pod logs o

[2020-11-20 07:59] LEDfan commented on #140
Hi @smlehman , thank you for your extra information.

Could you please provide an example Shiny app (Dockerfile and R sources) using DataTables?
I have one app, but it does not give any problems on a Kubernetes setup (using nginx too). Thanks!

[2020-11-20 16:47] smlehman commented on #140
Hi @LEDfan
Sure thing.  To give you the full picture, I've created a small repo with all the basic files we are using.  I've also included the README that I'm working on to support folks interested in using the application, as it might provide additional context about our setup.

https://github.com/smlehman/shinyproxy-debugDT
Let me know if there's anything else that would help with troubleshootin

[2020-11-22 23:55] mikiril commented on #246
Hi,
Changing the log setting to INFO or WARN doesn’t help me either.
My setup is:
- Containerized shinyproxy;
- Tried both openjdk:8-jre and openjdk:11-jre in Dockerfile;
- No load balancer;
- NGINX as reverse proxy.
If needed, I can upload my error log, application.yaml and NGINX config.

[2020-11-23 06:09] roberts2727 commented on #114
same error for me with 2.4

[2020-11-23 09:37] LEDfan commented on #114
Hi @danielfm123, @roberts2727 so with ShinyProxy 2.4 the following config won't work anymore:
``
server:
    useForwardHeaders: true
[code]
server:
  forward-headers-strategy: native
[code]

[2020-11-24 19:37] roberts2727 commented on #114
Issue Resolved! Thank you Sir.

[2020-11-25 08:40] eastclintw00d commented on #210
I have the same issue.

Setup with keycloak, apache2 reverse proxy and shinyproxy 2.3.1 works fine. I run shinyproxy via Docker. Shinyproxy correctly redirects to https://testauth.example.com.

When I switch to shinyproxy 2.4.1 the redirect_uri contains the internal IP (http://192.168.51.27:8082) instead of the address that is accesible from outside and I get an error : "Invalid parameter: redirec

[2020-11-25 08:42] LEDfan commented on #210
Hi @eastclintw00d

Please try to use:
[code]
server:
  useForwardHeaders: true
[code]

[2020-11-25 08:46] eastclintw00d commented on #210
Hi @LEDfan

That solved the problem.

Thank you for the quick response!

[2020-11-26 18:41] adellam opened #250 "@fmichielssen : disabling HTTP/2 at the load balancer indeed solves the 503 issue, the resources are properly returned then."
@fmichielssen : disabling HTTP/2 at the load balancer indeed solves the 503 issue, the resources are properly returned then.

The load balancer itself does http1.1 requests towards the Shinyproxy in both cases, it seems as if HTTP/2 is active, then the requests from the load balancer towards Shinyproxy are "too fast" to be handled.

Maybe this is helpful, if HTTP/2 is active, then Shinyproxy repor

[2020-11-26 18:50] adellam commented on #250
Hello all,
I have shinyproxy deployed on premise on a docker-swarm cluster. HAPROXY acts as a reverse proxy before shinyproxy.
HAPROXY has been deployed as described here: https://www.haproxy.com/blog/haproxy-on-docker-swarm-load-balancing-and-dns-service-discovery/ (third scenario)

WIth version 2.3.1 we are suffering the same problems reported in #65, we disabled the http2 support but it made no

[2020-11-26 18:56] shrektan commented on #250
If you really want this to be resolved soon... I strongly suggest one of you take some time to make a reproducible example as I did [here](https://github.com/shrektan/DT-load-balancer/). It's only so that the author / maintainer of ShinyProxy can reproduce locally thus locate the root cause of issue...

[2020-11-27 09:11] adellam commented on #250
Thanks, yes, I'll provide a complete working configuration.

[2020-11-28 03:24] xtrasimplicity commented on #240
Thanks, @tverbeke. Do you know when the delegation mechanism is likely to be ready? Or can I somehow assist with development of this?

GitOps is useful, but being able to do this from the GUI would be really useful for environments where GitOps isn't really used, too!

[2020-11-28 10:57] danielfm123 commented on #114
Yes, it  works but kills the package DT

[2020-11-28 10:58] danielfm123 commented on #210
That works but it kills the package DT

[2020-11-28 20:20] eastclintw00d commented on #210
@danielfm123 Are you sure you are running shinyproxy 2.4.1? DT is working fine for me.

[2020-11-28 20:27] tverbeke commented on #210
@danielfm123 @eastclintw00d POST requests (as made e.g. by DT) don't work **when using OIDC** with current ShinyProxy (2.4.1). A fix by @LEDfan will be part of an upcoming release, but this is not the topic of this thread.

[2020-11-30 09:03] django-datama commented on #166
We still have this bug...!

[2020-11-30 13:33] KZARCA commented on #171
Hi, I get this error again. I downgraded from 2.4.1 to 2.3.1 and the error disappeared.

[2020-11-30 13:36] tverbeke commented on #171
@KZARCA A fix by @LEDfan will be in the next release.

[2020-11-30 15:37] egde commented on #246
I took some time today to have a look at it. The DT tables work fine if authentication is off. Problems begin with
[code]
I am using Azure Active Directory here.

[2020-12-01 07:48] aupadh12 opened #251 "openid authentication type not working due to invalid redirect_uri"
Hi Team,

I am using the shinyproxy running on EKS with nginx ingress controller.
I am using authentication type as openid and want to implement SSO.
The callback url as per the documentation is :
https://myapps.apps.abc.com/login/oauth2/code/shinyproxy
But after receiving all the required details for configuring this, i.e.,
  auth-url,    token-url,    jwks-url,    client-id: ,    client-secret:

[2020-12-01 07:55] LEDfan commented on #251
Hi @aupadh12

If you are using a loadbalancer or reverse proxy, you have to add the following configuration to your application.yml.
[code]
As documented on this page: https://shinyproxy.io/documentation/security/#https-ssl--tls
Please provide more information about your setup if this doesn't solve your issue. Like you ShinyProxy version, loadbalancer or proxy type, application.yaml etc

[2020-12-01 07:56] LEDfan commented on #246
Hi @egde

Thanks for looking into it again. There is indeed a problem with the combination of openid and Data Tables. I managed to provide a bugfix which will be released in a next version.

[2020-12-01 08:12] aupadh12 commented on #251
Hi @LEDfan ,

I am using ClusterIP as ingress resource, nginx ingress controller which is of loadbalancer type (Network Load balancer) and shinyproxy version is 2.3.1 and so I am already using
server:
    useForwardHeaders: true
which I think is what is needed.
Please let me know if you need more information?

[2020-12-01 17:48] mikiril commented on #246
Hi @LEDfan,

Many thanks for fixing it so fast!
May I ask you when the new version is planned to be released?
And if there is a workaround?

Thanks once again!

[2020-12-02 19:50] kfox1111 opened #252 "Big image container start issue"
Saw this with shinyproxy version:
ShinyProxy 2.4.1 (ContainerProxy 0.8.5)

If the pod starts on a node that doesn't have the image and it takes a while to fetch, shinyproxy seems to give up looking for the ip but then tries for a while still with the null address. It should probably retry resolving the pod ip each time, if it is still null

2020-12-02 19:42:13.553  WARN 1 --- [  XNIO-1 task-6] e.o

[2020-12-03 12:25] LEDfan commented on #252
Hi

We were aware of this bug and this is already solved in the next release. There will be a new option that allows you to configure the time, ShinyProxy waits for the pod to become ready. In 2.4.1 this was set to 60 seconds. After this period, the code would simply continue without checking whether the pod is ready. With the new code changes you will be able to configure this timeout and set it

[2020-12-03 12:28] LEDfan commented on #249
You should configure the nginx ingress to use the certs, see: https://kubernetes.io/docs/concepts/services-networking/ingress/#tls
You are on the good way, but I think a few pieces are still missing. For example, I don't belies this is correct:
[code]
(since the nginx ingress would now contact the backend using TLS, but ShinyProxy does not support TLS out of itself)

[2020-12-03 12:29] #247 closed

[2020-12-03 13:09] aupadh12 commented on #249
Hi @LEDfan ,

I was able to fix it and also know the reason why this was not working. It was due to the fact the my setup was bypassing the Ingress controller and as a result, TLS termination was not happening.

[2020-12-03 13:10] LEDfan commented on #249
That's great, thanks for letting us know. I'm closing this issue now, but feel free to open a new one if you need some help. Have a nice day!

[2020-12-03 13:10] #249 closed

[2020-12-03 13:12] aupadh12 commented on #251
@LEDfan : Anything on this which I can try?

[2020-12-10 17:36] nbbn opened #253 "location of login.html template"
Dear Shinyproxy Team,
I'm looking for login.html template that is used by shinyproxy by default.
Unfortunately, searching in code base of this repo allowed me only to find some templates in `src/main/resources/templates` but without this one.
Please direct me to right place.
Best,
Jakub

[2020-12-11 16:09] jkh1 opened #254 "content blocked due to MIME type error"
After upgrading to shinyproxy-2.4.x, the login page produces these errors in the browser console:
[code]
Reverting to shinyproxy-2.3.1 makes the errors go away.

If that helps, a quick web search lead me [here](https://levlaz.org/spring-security-webjars-and-mime-type-error/) which suggests it could be a spring security configuration issue.

[2020-12-11 21:57] tdeenes commented on #197
@shrektan , can you please elaborate on the 2nd workaround? Or maybe point to a github-repo with a minimal example?

[2020-12-12 03:43] cnukwas commented on #208
Yes, it was a formatting issue, worked fine later.

[2020-12-12 03:43] #208 closed

[2020-12-15 10:48] shosaco commented on #253
The used file is located in the `jar`-file:

`shinyproxy-2.4.1.jar\BOOT-INF\lib\containerproxy-0.8.5.jar\templates\`

You can use `template-path: ./templates` in your `application.yml` with different login-Template to change the login experience.

[2020-12-15 13:00] Data-Mastery opened #255 "Setup in documentation will lead to security warning when tryining to login"
Hello!

I use shinyproxy since 2,5 years, but since a few days I get a warning message when I try to login into our platform. I use nginx in combination with keycloak. My nginx.conf looks like this:
SSL certs are linked as always, there is NO ERROR in the setup, it just produces a warning...

[code]
This is the warning triggered:

![warning](https://user-images.githubusercontent.com/64363987/10221

[2020-12-15 13:32] mnazarov commented on #255
this seems to be unrelated to the shinyproxy per se, but rather to your nginx setup. Please see https://bugs.chromium.org/p/chromium/issues/detail?id=1158169#c49 for explanation (tldr you need to avoid mixing http and https)

[2020-12-15 13:59] Data-Mastery commented on #255
Yeah, I thought so, hoped you already faced that issue before and you know how to fix it, since

`proxy_pass          http://shinyproxy:4000`

will not work. But okay, the link is great, maybe I can find something :-)

[2020-12-15 14:23] shosaco opened #256 "Regression: logfile in 2.4.1 is not written"
The shinyproxy.log file is properly written using shinyproxy 2.3.1, but is not written in version 2.4.0 onwards:

Working:

[code]

[code]

Not working:
[code]

[code]

[2020-12-15 14:33] LEDfan commented on #256
Hi @shosaco

Starting from ShinyProxy 2.4.0 you have to adapt the logging config slightly, such as:
[code]
I'll update the relevant documentation on our site.

[2020-12-15 14:49] mnazarov commented on #255
Sorry I didn't realize that your example is copied from the documentation, so I will keep the issue open.

[2020-12-15 14:54] shosaco commented on #256
Works like a charm, thank you for the information!

[2020-12-15 14:54] #256 closed

[2020-12-17 12:07] LEDfan commented on #252
Hi @kfox1111

This is now included in the [2.4.2 release](https://shinyproxy.io/downloads/#242).

[2020-12-17 12:07] #252 closed

[2020-12-17 12:08] LEDfan commented on #233
Hi @sascha42

This is now included in the [2.4.2 release](https://shinyproxy.io/downloads/#242)

[2020-12-17 12:08] #233 closed

[2020-12-17 12:09] LEDfan commented on #243
Hi @sascha42

This feature is now included in the [2.4.2 release](https://shinyproxy.io/downloads/#242).
I included your example in the documentation: https://shinyproxy.io/documentation/configuration/#apps

[2020-12-17 12:09] #243 closed

[2020-12-17 12:10] #251 closed

[2020-12-17 12:10] #248 closed

[2020-12-17 12:11] LEDfan commented on #248
Documentation relating to the original issue is updated. Let's handle the other issue in #246.

I'll lock this issue, so that the issues stay maintainable for us.
Of course, as always don't hesitate to open a new issue if you encounter any problem!

[2020-12-17 12:12] LEDfan commented on #246
This issue is now fixed in the just released [2.4.0](https://shinyproxy.io/downloads/#242).

I'll lock this issue, so that the issues stay maintainable for us.
Of course, as always don't hesitate to open a new issue if you encounter any problem!

[2020-12-17 16:52] kfox1111 commented on #252
Awesome. Thank you. :)

[2020-12-18 08:12] LEDfan commented on #210
The issue with POST request is now fixed in the [2.4.2 release](https://shinyproxy.io/downloads/#242

Documentation relating to the original issue is updated.

I'll lock this issue, so that the issues stay maintainable for us.
Of course, as always don't hesitate to open a new issue if you encounter any problem!

[2020-12-21 21:27] kuzmenkov111 opened #257 "Can't remove cookie on ShinyProxy 2.4.2"
Hi!

It was possible to remove cookies JSESSIONID on the previous version of ShinyProxy 2.3.0. by using
[code]

On current version 2.4.2, this expression doesn't work. It can't delete JSESSIONID  cookie.

What's wrong?

OR
How to logout from inside the app (I mean from an inside the container)?

[2020-12-22 07:51] LEDfan commented on #257
Hi @kuzmenkov111

Starting from ShinyProxy 2.3.1, the session cookie (`JSESSIONID`) is created with the `httponly` flag. This means that you cannot edit the cookie using JavaScript. This is an important security feature. If you really want you can turn this off using the
`server.servlet.session.cookie.http-only=false ` property (you have to expand this in your yaml file).

However, as I said befor

[2020-12-22 07:55] LEDfan commented on #255
Hi, as explained [here](https://blog.chromium.org/2020/08/protecting-google-chrome-users-from.html) this error by Chrome means that you are on a HTTPs protected page, but you are trying submit a form to a HTTP page.
This could happen when ShinyProxy doesn't know you are accessing the page over HTTPs. Did you properly configure ShinyProxy to use forward-headers, as explained in [our documentation](

[2020-12-22 07:57] LEDfan commented on #254
Hi @jkh1

This typically happens when loading the JS and CSS files gives an error and therefore the webserver returns a HTML response body. Could you try going to `http://myserver:8080/webjars/bootstrap/3.3.7/css/bootstrap.min.css` and see what is outputted there? It should be a css fie, but I think that in your case some error page in HTML will be shown.

[2020-12-22 07:58] LEDfan commented on #253
Hi

As pointed out above you could find the template file in the containerproxy.jar file. However, it also available at our ContainerProxy repo: https://github.com/openanalytics/containerproxy/tree/master/src/main/resources/templates

[2020-12-22 09:03] jkh1 commented on #254
Thanks. I get the css file with no error. Whatever the problem was seems to have resolved itself during the last week. I had given up on it and didn't touch the server in the last 8 days or so and only came back to it to test your suggestion.

[2020-12-22 09:07] LEDfan commented on #254
Thanks for reporting back. In that case it was probably a temporary issue (e.g. 503).
I'm closing this issue now, but don't hesitate to open a new one if you encounter any issue.

[2020-12-22 09:07] #254 closed

[2020-12-22 12:07] kuzmenkov111 commented on #257
Many thanks! It works!

[2020-12-22 12:07] #257 closed

[2020-12-22 14:55] Data-Mastery commented on #255
Hello! The error does not appear anymore, it also was only on chrome. I guess it was more a chrome issue, than an issue of my setup. forward-headers are set, and now everything works smooth again. Not sure if we can close it for now?!

[2020-12-28 09:06] LEDfan commented on #255
Thanks for reporting back, let's close this issue for now.

[2020-12-28 09:06] #255 closed

[2021-01-01 11:42] shrektan commented on #197
@tdeenes OK, I've updated this method in https://github.com/shrektan/shinyproxy-docker-compose-example. Please take a look.

[2021-01-01 23:20] tdeenes commented on #197
@shrektan , thanks!

[2021-01-05 02:25] lucius-verus-fan opened #258 "Mounting shinyproxy to host filesystem."
I have a shiny app in which users can upload data, manipulate the data in the app, and then save the manipulated data to their local filesystem. I can get this to run locally with shinyproxy by using

    container-volumes: ["/Users:/app_data"]

in application.yml. This mounts the host users filesystem (/Users) to the container (/app_data). However, when I deploy the app on a remote server I can n

[2021-01-05 09:47] mnazarov commented on #258
yes, you can do that with the syntax like:
[code]

[2021-01-05 13:37] filpro commented on #242
Hi @micheljung
Have you managed to find the solution?

[2021-01-05 14:26] micheljung commented on #242
Hi @filpro
Unfortunately not, for now we continue without Kerberos.

@Dusan-Dingarac could you respond to my initial question?

[2021-01-05 20:33] lucius-verus-fan commented on #258
Using:
container-volumes: ["/home/#{proxy.userId}:/app_data"]
still results in me not being able to access to host filesystem when the app is deployed on a remote server. For context, I am using shinyFileSave within the shiny app and that code is as follows:
roots <- c("Home Directory" = "/app_data")
shinyFileSave(input = input, id = 'save', roots = roots, session = session)
When I deploy my app v

[2021-01-06 09:58] mnazarov commented on #258
Yes, correct. If the shinyproxy is running on a linux remote server, the host system is that remote server, which you can access with volume mounts.

Wouldn't a `downloadButton` be sufficient in this case? (https://shiny.rstudio.com/articles/download.html)

[2021-01-07 06:06] lucius-verus-fan commented on #258
The `downloadButton` and `downloadHandler` solution is not ideal but it will work. I think this is likely the only solution given the nature of ShinyProxy and that it would be impossible to mount to the desktop of a users computer. Thank you for the help!

[2021-01-07 17:40] shrektan commented on #258
The “host filesystem” is the remote sever’s file system. What you want to achieve is to save file to the client’s filesystem? It’s not possible in my opinion.

[2021-01-07 17:52] lucius-verus-fan commented on #258
Yes the original goal was to save a file to the client's filesystem with `shinyFileSave` but I agree that this is impossible.

[2021-01-08 11:48] Dusan-Dingarac commented on #242
Hi Michel,

my idea was to use Keycloak with Shinyproxy and to try to connect Kerberos as Identity provider for Keycloak... But, I think that you are right that group are part of LDAP not Kerberos itself....
But, you mentioned that you are using AD (which is in kind of Kerberos + LDAP combination). With one command you can start Keycloak docker container (you need some database also) and try to co

[2021-01-14 08:04] LEDfan commented on #258
Hi @lucius-verus-fan

I think that you question is answered now, therefore I'm closing this issue. As always, feel free to open a new issue if you have any other question or issue.

[2021-01-14 08:04] #258 closed

[2021-01-14 08:05] LEDfan commented on #253
Hi @nbbn

I think that you question is answered now, therefore I'm closing this issue. As always, feel free to open a new issue if you have any other question or issue.

[2021-01-14 08:05] #253 closed

[2021-01-14 10:25] jaysnm commented on #225
Hi @tverbeke @LEDfan

I have run a couple of tests using current release 2.4.3 and everything looks fine including authentication for SQL based databases. Kindly confirm this is the case (and as well close the issue).

[2021-01-14 22:01] Andryas opened #259 "When I use container-network: host, the app doesn't lauched"
I don't know why but when I use this configuration for the app

proxy:
  title: TSER
  # logo-url:
  landing-page: /
  template-path: ./templates
  heartbeat-rate: 10000
  heartbeat-timeout: 50000
  port: 8080
  authentication: none
  # bind-address: 127.0.0.1
  container-wait-time: 60000
  hide-navbar: true

  docker:
    cert-path: /home/none
    url: http://127.0.0.1:2375
    port-range-start:

[2021-01-14 22:02] Andryas opened #260 "when I use container-network: host, the app doesn't launch"
I don't know why but when I use this configuration for the app

proxy:
  title: TSER
  landing-page: /
  template-path: ./templates
  heartbeat-rate: 10000
  heartbeat-timeout: 50000
  port: 8080
  authentication: none
  container-wait-time: 60000
  hide-navbar: true

  docker:
    cert-path: /home/none
    url: http://127.0.0.1:2375
    port-range-start: 20000

  specs:
  - id: teste
    display-

[2021-01-14 22:22] #259 closed

[2021-01-15 04:30] lucius-verus-fan opened #261 "nginx reverse proxy not working"
I am attempting to deploy an app to the internet via nginx reverse proxy. My app is completely containerized and my nginx configuration file in /etc/nginx/sites-available matches the shinyproxy example here: https://www.shinyproxy.io/security/

server {
  listen                80;
  server_name           shinyproxy.yourdomain.com;
  rewrite     ^(.*)     https://$server_name$1 permanent;
}

server

[2021-01-15 06:51] jaysnm commented on #261
Your reverse engine proxy_pass directive is routing to host machine local network (127.0.0.1). When you containerize your applications, you are shifting from localhost network to docker ecosystem network. Thus, how you start and publish your shinyproxy to host matters. Check this article on [networking in docker](https://docs.docker.com/network/)

[2021-01-15 07:26] lucius-verus-fan commented on #261
Thank you for the help. I still haven't found a solution after reading the article and doing some more troubleshooting. Do I need to change the 127.0.0.1 portion of the proxy pass? Or do I need to spin up my docker container to listen somewhere other than 8080:8080?

[2021-01-15 08:07] jaysnm commented on #261
How do you start your shinyproxy?

[2021-01-15 08:10] LEDfan commented on #260
Hi @Andryas

Thanks for checking out ShinyProxy! The issue you are facing is actually the expected behavior. When you tell ShinyProxy to use the `host` network for a container, the container runs more like a normal process on your computer (/server). In other words, it doesn't has the network isolation you normally have when using Docker. Therefore, it is impossible for ShinyProxy to forward any p

[2021-01-15 08:17] LEDfan commented on #261
Hi @lucius-verus-fan

Just to be sure, with the following command you are trying to start ShinyProxy, right?
[code]
So the `wind_container` is a customer container you created containing ShinyProxy?

In that case I don't think the problem has to do with Docker networking, the `-p 8080:8080` part of the command ensures that port 8080 is forwarded to your local machine, independently of in which doc

[2021-01-15 08:25] LEDfan commented on #225
Hi @jaysnm

Unfortunately, the `usage-stats-username ` and `usage-stats-password` properties are still only used by the SQL based usage-statistics backends. It's not yet used when connecting with influxdb. So authentication with influxdb will not yet work.

[2021-01-15 09:39] fmmattioni opened #262 "Digitalocean app platform deployment"
Hi all!

Does anyone have suggestions/tips about the Digitalocean app platform? (https://www.digitalocean.com/products/app-platform/).

As far as I understand, this is run with Kubernetes in the background. Therefore, I was wondering if I can use `shinyproxy` there, and if so, what would be the most adequate config.

Thanks in advance!
Felipe

[2021-01-15 13:27] Andryas commented on #260
Thank you @LEDfan for the answer.

Yes, I tried it before but I had an unexpected behavior.
When I launch an app it usually works, but when I go back to the home page of shinyproxy and run another, the same app, that I just launch, appears again, not which I just selected.
Besides that, if I launch an app and then go back to the home page and wait for a while and then run another app everything wo

[2021-01-15 16:54] lucius-verus-fan commented on #261
Hello @LEDfan and @jaysnm

The command I am using to start ShinyProxy is:
` docker run -d -v /var/run/docker.sock:/var/run/docker.sock --net wind_net -p 8080:8080 wind_container`

The nginx configuration that I attached in my first comment is not the nginx configuration that I am using, that is the example given on the shinyproxy website. I will attach the nginx configuration file that I am using

[2021-01-15 19:35] creativde commented on #166
I also have this bug, and it only occurs when I add a template-path. The login page works but I get the same error when logging in - fixed when refreshing.

Seems to be a missing file (fonts / js / css issue). Is there a folder that has all the relevant docs for template-path when using containerproxy?

[2021-01-16 17:46] Andryas commented on #260
If anyone in the future wants to access a local MySQL server inside a container using the bridge network I solve the problem with this:

[code]

[2021-01-16 17:47] #260 closed

[2021-01-17 03:15] lucius-verus-fan commented on #261
I have solved the issue. Nginx was not displaying the shinyproxy app because I had neglected to link my nginx configuration file in /etc/nginx/sites-available/ to /etc/nginx/sites-enabled. After linking my configuration in both directories with the `ls -s` command and removing the default configuration file from /etc/nginx/sites-enabled the shinyproxy app was displayed at my domain.

[2021-01-17 03:15] #261 closed

[2021-01-17 12:20] tverbeke commented on #261
For the record it is `ln -s` [sic], but thanks for sharing the feedback and good that your issue is solved!

[2021-01-18 07:36] LEDfan commented on #260
Thanks @Andryas for sharing your solution!

[2021-01-18 13:11] django-datama commented on #166
Can you re-open this issue ? @freaknils @tverbeke

[2021-01-18 18:45] fmmattioni opened #263 "SHINYPROXY_USERNAME"
Hi, I am currently using AWS cognito for my authentication.

I was wondering if I can have multiple scopes returned, like `username`, and `sub` returned in an environment variable like `SHINYPROXY_USERNAME` in addition to the `SHINYPROXY_USERGROUPS` env var?

In summary, I was looking for a way to have something like:

`SHINYPROXY_USERNAME[1] = username`
`SHINYPROXY_USERNAME[2] = sub`
`SHINYPROXY_

[2021-01-18 19:03] jaysnm commented on #225
Tested on auth-disabled influxdb. Sorry and thanks for intervening.

[2021-01-19 03:11] lucius-verus-fan opened #264 "usage statistics to InfluxDB"
Hello,

My application.yml has the line `usage-stats-url: http://localhost:8086/write?db=shinyproxy_usagestats` but the influxDB database on my server named shinyproxy_usagestats is not receiving any data. I have a hunch that this is occurring because my shiny application is completely containerized and is being run as one container. Does `usage-stats-url:` need to be adjusted because of this? If

[2021-01-21 14:56] LEDfan commented on #117
Hi all

I encountered this issue today and tried to investigate it. As reported above the error does not happen when using Chromium/Chrome. It also only seems to happen when using a container that takes a bit longer to startup. With the following  container I can easily reproduce it:

[code]

More interesting, this only happens when you access ShinyProxy from the server host. It doesn't happen whe

[2021-01-21 16:00] LEDfan commented on #263
Hi

Currently we don't support this and we also don't really have plans to do this.
I'll keep this issue open as a feature request and we will keep this in mind!

[2021-01-21 17:09] fmmattioni commented on #263
Thank you very much for the reply!

Do you know if there is a hacky way to achieve this? Can I perhaps point the `SHINYPROXY_OIDC_ACCESS_TOKEN` var to another scope variable?

[2021-01-21 19:49] jat255 opened #265 "SAML error: SAML message intended destination endpoint did not match the recipient endpoint"
I am fairly naive about SAML and the spring framework in general, but I am trying to configure our ShinyProxy server to use my organization's SAML server, and I'm receiving the following error after what appears to be a successful authentication:

`2021-01-21 19:22:52.748 ERROR 1 --- [  XNIO-1 task-1] o.o.c.b.decoding.BaseSAMLMessageDecoder  : SAML message intended destination endpoint 'https://my

[2021-01-22 09:14] LEDfan commented on #265
Hi @jat255

This error typically happens when you access ShinyProxy through a load balancer or reverse proxy on a different path (/URL) than that is configured in ShinyProxy. I think this is also the case here.
For example, this is the case when you access ShinyProxy using `https://mydomain/scheduler` and the proxy forwards these requests to `https://mydomain/myapp`.

There are two solutions to th

[2021-01-22 16:31] jat255 commented on #265
@LEDfan thanks for the response!

RE: your first point, I believe I have all my configuration set up correctly, not changing `scheduler` to `myapp` in my posted apache config was just an artifact of not fully redacting my config files, whoops! What I *don't think* I have set up is the `X-Forwarded-Proto` and `X-Forwarded-For` headers on apache. I believe I have it working using the `SAMLContextPro

[2021-01-22 21:28] jat255 commented on #265
Ok, I've added those headers and confirmed things seem to be working properly. Thank you for your help!

[2021-01-22 21:28] #265 closed

[2021-01-23 21:44] lucius-verus-fan commented on #264
Hello @LEDfan

Thank you for the response, it pointed me in the right direction. I ended up opting to run influxdb, grafana, telegraf, and my shiny app all in containers and then combining them with docker-compose.

There is a useful tutorial on how to do this here: https://dev.to/project42/install-grafana-influxdb-telegraf-using-docker-compose-56e9

In case it is of use to someone in the future,

[2021-01-23 21:44] #264 closed

[2021-01-25 10:24] aupadh12 opened #266 "Usage statistics for shinyproxy running on Kubernetes"
Hi Team,

I am running shinyproxy on EKS and have setup Prometheus and Grafana for system metrics.
However, I am also looking at setting up the usage metrics for each shinyapp running on shinyproxy using EKS.
Has anyone implemented any of the available solutions for usage statistics on Kubernetes? If yes, then any help would be much appreciated.

[2021-01-27 00:09] jat255 opened #267 "Username not showing in navbar"
I have an interesting issue on the tap navbar where there is no username next to the user icon. This does not work when using either LDAP or SAML for authentication. This looks like it might be a problem with ThymeLeaf, as this is the code that controls that in the navbar fragment:

[code]

Any ideas why this is happening? I figure I’m just missing a config setting somewhere. (Note, the `SHINYPROX

[2021-01-27 08:14] LEDfan commented on #267
Hi

Thanks for opening this issue, this is indeed a bug we discovered. It's already fixed in the development version and we plan to release it with the next release. This the commit that fixed the issue: https://github.com/openanalytics/containerproxy/commit/0b79bcc539bf6b5ac7a8a7aaed727d9716538d99

I build a fresh ShinyProxy with only this change for you: https://cloud.openanalytics.eu/s/wQNwaQJp

[2021-01-27 15:24] jat255 commented on #267
Great, thanks. For now I'll just wait until the next release. Thank you!

[2021-01-27 15:24] #267 closed

[2021-01-27 20:43] baswanders commented on #82
+100. It took me a long time to understand this.
It would be great if it could pull the images.

[2021-01-28 11:18] erossini opened #268 "Authentication error with IdentityServer4"
HI,
I'm trying to connect the ShinyProxy with my IdentityServer4. The `application.yml` is the following one:

[code]

When I open the ShinyProxy page, I redirect to the login page of the IdentityServer. Good. I login and the IdentityServer redirects me to

as in the [documentation](https://www.shinyproxy.io/configuration/#register-with-an-oidc-provider). Unfortunately, ShinyProxy has an error.

T

[2021-01-28 13:03] kuzmenkov111 commented on #237
@chienyuchuan Hi! May you tell me what R package do you use for connection with pgbouncer ?

And my you please share an example of a string connection?

[2021-01-28 21:04] fmmattioni opened #269 "landing-page"
I was wondering if there is a way that, after authentication, if the user belongs to a group that has only **one app**, this user could be already redirected to the app without having to click the link on the landing page?

If there isn't a way right now, what would be the source file that I could modify in order to achieve that?

Thank you!
Felipe

[2021-01-29 01:06] chienyuchuan commented on #237
Dear @kuzmenkov111 , I still use shiny pool package, but connect to pgbouncer.
After you edit /etc/pgbouncer/pgbouncer.ini, inputing [databases] section, you can write R program connecting to dbname and port of [databases] section with pool package.

Here's some reference site for you, hope you can learn from it...

PgBouncer + Ubuntu 18.04
https://www.willandskill.se/en/how-to-setup-pgbouncer-on-

[2021-01-29 01:54] shrektan commented on #237
Just add my two cents.

I actually deployed somewhat similar services but using the Plumber API, as I commented above.

It's a little bit more complicated and you have to write a wrapper function to use it. But it allows to connect multiple different databases and not limited to PostgreSQL.

The way I'm doing it:

1. Server: Set up a docker-compose service that runs a Plumber API. The Plumber API

[2021-02-02 19:17] FrankCRoth opened #270 "spring-web library outdated with CVE-2016-1000027 high severity issue"
Hi,

Looks like the used /opt/shinyproxy/shinyproxy.jar:BOOT-INF/lib/spring-web-5.2.12.RELEASE.jar has a nastily security issue CVE-2016-1000027 with high severity.

Would it be possible to use a more recent version.

[2021-02-03 07:19] LEDfan commented on #270
Hi

Thanks for reaching out for this issue. The referenced CVE is not a vulnerability in the Spring framework per se, only when using the `org.springframework.remoting.httpinvoker.*` classes in a wrong (i.e. insecure) way makes your application vulnerable. Luckily we are not using any of the `org.springframework.remoting.httpinvoker` classes, beans or code.

Unfortunately currently lots of vulnera

[2021-02-03 07:58] jaysnm opened #271 "Working with API"
Hi Shinyproxy team, thank you for this amazing project. We have found it very useful.

I have configured two instances of shinyproxy, one where no authentication is required and the other one protected. Thought the API is the perfect way I can bring apps on both instances in a single website where by default users see a list of apps from no-auth-required instance and once they log-in other apps in

[2021-02-03 20:52] aupadh12 commented on #266
Hi All,

I was able to launch the influxdb to run on kubernetes and I can see the events getting logged into the influxdb.
I am currently trying to create a dashboard in Grafana and ty to make some sense out of it.
Can someone please help?

[2021-02-03 22:20] aupadh12 commented on #266
Hi all,

Closing this one. Telegraph is not needed. I was able to get the data into Grafana. Everything is working fine.

[2021-02-03 22:20] #266 closed

[2021-02-09 18:33] psolymos opened #272 "Issue when jsessionid cookie is disabled and authentication is set none"
Dear OpenAnalytics!

First of all, thank you for making and supporting ShinyProxy, it is an incredibly useful tool that we have been using for many years without issues. The problem I (and others that I have been in touch with) have been having relates to ShinyProxy configured with `authentication: none`, i.e. when non-authenticated users (general public) can open apps.

We have noticed that Shiny

[2021-02-10 09:08] LEDfan commented on #272
Hi @psolymos

Thank you for the kind words!

Exactly, that's what is happening.
I understand you issue, but I don't think there is any secure way to make it work without cookies.
You could try two workarounds:
 - change the cookie name, maybe the cookie doesn't get blocked with a different name:
[code]
 - if you are using TLS you could try to set:
[code]
This will re-use the TLS session for managi

[2021-02-10 09:10] LEDfan commented on #270
Hi

Since I believe your question is answered, I'm closing this question.
However, as always feel free to re-open this issue or open a new issue if you encounter any issue

[2021-02-10 09:10] #270 closed

[2021-02-10 09:16] LEDfan commented on #271
Hi @jaysnm

Currently we don't have any way to configure CORS for ShinyProxy. I added this as a feature request in our internal tracker. However, I believe you could also configure this using a reverse-proxy (e.g. nginx).

For the issue with the API, I think I agree that the API may expose too much information in some situations. I also created a feature request for this. Again you could tweak you

[2021-02-10 09:33] LEDfan commented on #269
Hi @fmmattioni

AFAIK there is currently no standard way to do this in ShinyProxy. However, you could try to create a template that does this.
See https://github.com/openanalytics/shinyproxy-config-examples/tree/master/04-custom-html-template for how to configure ShinyProxy to use custom templates.

For example you could add the following code in the `index.html` template, just before `</head>`

[

[2021-02-10 09:36] fmmattioni commented on #269
This is fantastic!!!

Thank you!!!

[2021-02-10 09:43] LEDfan commented on #268
Hi

I don't have experience with IdentityServer4 and I don't see anything strange in your configuration.

Your ShinyProxy configuration for logging to a file seems to be wrong, please change it to the following, restart ShinyProxy and try again.

[code]

Now a useful error should be logged and this should help you to debug the issue.
Good luck!

[2021-02-10 09:45] LEDfan commented on #263
Hi @fmmattioni

We re-considered this and similarly to https://github.com/openanalytics/containerproxy/issues/47 we are working on a way to make this possible without causing other issues.

Unfortunately, like the other issue this will not be part of the next release. I'll let you know when we are going to release this (or when you can try it out)

[2021-02-10 09:48] LEDfan commented on #262
Hi

I don't think we have any experience with this platform. But, I think if the Kubernetes API is available to the applications running it, it should be possible to use ShinyProxy on it.

Were you able to try this out in the mean time? Of course, we are very curious whether you had success with using ShinyProxy on this platform.

[2021-02-10 09:48] fmmattioni commented on #263
Thank you so much!

[2021-02-10 09:50] fmmattioni commented on #262
I ended up moving everything to AWS - but I have another testing project that I am going to try it out. I will post the updates here. Thank you for the reply!

[2021-02-10 09:52] Dusan-Dingarac commented on #269
Tobia,

maybe you can add second solution to list of features for next version. Together with one switch in application.yml file.

It is really much better solution for users with one app than landing page or direct link to app.

Dusan

[2021-02-10 10:04] LEDfan commented on #244
Hi @yusfilpulungan

Can you provide some more information on what exactly isn't working? I don't see any errors in the log and you configuration looks OK. E.g. what happens when you try to login? Is there more information in the log after you tried to login, etc?

[2021-02-10 14:34] shosaco commented on #114
Would if be worth mentioning that on https://www.shinyproxy.io/security/?

[2021-02-10 15:55] LEDfan commented on #114
Hi @shosaco this is already added to our new website: https://www.shinyproxy.io/documentation/security/#forward-headers . The URL your pointing to is an remainder from the old website, which I now cleaned up.

[2021-02-10 20:08] psolymos commented on #272
Thanks @LEDfan !

[2021-02-10 20:08] #272 closed

[2021-02-10 22:38] hcstubbe opened #273 "traefik https redirect does not work on docker swarm with shinyproxy"
I was following this great [tutorial ](https://www.databentobox.com/2020/05/31/shinyproxy-with-docker-swarm/)to set up a shinyproxy (v.2.4.1) on docker-swarm using traefik (v.2.2) with keycloak for authentication on an ubuntu 20.04 LTS server. For some reason, I do not get to work the https redirect for the shinyproxy. I tried this with and without the keycloak authentication.

https redirect work

[2021-02-12 07:49] psolymos commented on #262
@fmmattioni you can use your Dockerfile and follow this template: https://github.com/digitalocean/sample-dockerfile it is pretty straightforward.

[2021-02-12 08:27] jaysnm commented on #271
Hi @LEDfan
Thank you very much for reverting. You and your team are amazing. Also, thank you for supporting shinyproxy, it is incredible compared to what have been using for app deployments.
Looking forward to testing the features.

[2021-02-12 08:41] fmmattioni commented on #262
Yeah, I was more wondering which one of these configs would be more appropriate:

- https://github.com/openanalytics/shinyproxy-config-examples/tree/master/02-containerized-docker-engine
- https://github.com/openanalytics/shinyproxy-config-examples/tree/master/03-containerized-kubernetes

[2021-02-15 05:44] jat255 opened #274 "SAML authentication timeout (?) error"
Hello again! As we're progressing through development of our app using SAML, we've found an issue with authentication that only appears to happen if a tab is left open for some amount of time (haven't figured out exact timespan that causes the issue) and a user then refreshes their tab (not sure if a new window also triggers it at this point). It appears that after this time of inactivity, ShinyPr

[2021-02-15 05:53] jat255 commented on #274
I found the following [issue](https://stackoverflow.com/questions/46540224/samlexception-response-has-invalid-status-code-status-message-is-null), which points to similar error messages indicating a mismatch between SHA-1 and SHA-256 signing algorithms, but if that were the case in our installation, I'm not sure why it would work most of the time, but then fail intermittently after a long period o

[2021-02-16 07:38] LEDfan commented on #262
Hi @fmmattioni

If possible I would always advise to use our [official Docker image](https://hub.docker.com/r/openanalytics/shinyproxy). This image has some security enhancements (i.e. running ShinyProxy under a non-root user).

[2021-02-16 13:04] fmmattioni commented on #262
Hmm, good point! I didn't know that! Thanks for the heads up!

Just a question: I have been using an older version of shinyproxy, because the latest release does not work with AWS Cognito authentication. Can I simply grab this older version through the tag in there too - or do these security enhancements only exist in the latest version?

[2021-02-16 17:53] jat255 commented on #274
As a followup, I set the SAML portion of the app to `DEBUG` level logging, and saw the following from one of these timeout events:

[code]

This sequence is repeated 7 times in about 2 seconds before ShinyProxy gives up and dumps me to a generic springboot error page as shown above. Two curiosities:

1) `org.springframework.security.authentication.CredentialsExpiredException: Authentication statem

[2021-02-16 17:59] jat255 commented on #274
Related links:

1) https://stackoverflow.com/questions/48289763/spring-security-infinite-loop-after-initial-login-and-timeout
2) https://stackoverflow.com/questions/30528636/idp-initiated-saml-login-error-authentication-statement-is-too-old-to-be-used

Link 2 suggests a couple solutions: (1) align `maxAuthenticationAge` to the lifetime of the ADFS or (2) set `forceAuthN` to true

Are these possibl

[2021-02-17 08:07] LEDfan commented on #274
Hi @jat255

Thank you for your extensive report and research! This is quite a coincidence: I experienced the exact same issue on one our deployments as well. Yesterday I found the same solutions as you, I only had to test it :)

Setting the `forceAuthN` option indeed solves the issue on our end. The only downside that this has is that the user is forced to provide its full credentials again, where

[2021-02-18 04:13] jat255 commented on #274
@LEDfan thanks so much for your prompt reply, and solution! I've implemented that change, but now I must wait 24 hours to see if it worked :smirk:

I think the `forceAuthN` option will not be too hard on our users, since most of our users use enterprise authentication hooked in with the automatic Windows credential management, so they don't have to enter any passwords to get access to SAML-protect

[2021-02-18 15:09] erossini opened #275 "Get roles from OIDC authentication"
I'm trying to connect ShinyProxy with the IdentityServer. How can I read the roles? How can I configure the `application.yml`?

[2021-02-19 10:22] LEDfan commented on #262
Hi @fmmattioni

The security enhancements are included in any version.

You mentioned that the latest version of ShinyProxy does not work with AWS Cognito. We are not aware of any problems with OIDC in the latest version (2.4.3). Could you open a new issue with more details about this? (e.g. what behavior you experience, any errors logged etc). We really want ShinyProxy to seamlessly work with any

[2021-02-19 10:39] LEDfan commented on #166
Hi @django-datama @creativde @nbbn

Unfortunately, I'm not able to reproduce this issue. I tried with various broken and outdated templates and wrong config, but it all results in proper error messages. Of course I"m interested in fixing this issue, but I suspect it may have to do something with your templates. Could one of you provide me with your (redacted) templates? Please also mention your Sh

[2021-02-19 10:49] LEDfan commented on #268
Hi @erossini

Since you opened a new issue regarding IdentityServer, is this issue solved? If so, could you explain how you managed to fix it? This could be interesting for the whole community.

[2021-02-19 10:56] LEDfan commented on #275
You'll have to configure IdentityServer so that it adds a custom claim to the ID token, which contains an array of roles.
See our documentation on this: https://shinyproxy.io/documentation/configuration/po_index/#group-based-authorization
Then you can add the name of this claim to the ShinyProxy configuration:
[code]

I don't have experience with IdentityServer, so I cannot tell you exactly how to

[2021-02-19 11:40] erossini commented on #268
Finally, I fixed the issue with the IdentityServer (oidc). The configuration in the screenshot about are correct. The problem was in the configuration file `application.yml`.

[code]

What I have to implement now is the `roles` for the users. When I found a solution, I will post it and create a full explanation on my [blog](https://www.puresourcecode.com/).

[2021-02-19 12:08] LEDfan commented on #268
Thanks for sharing the solution. Because I think the issue is solved now, I'm going to close the issue.
Have a nice day.

[2021-02-19 12:08] #268 closed

[2021-02-19 12:27] fmmattioni commented on #262
Just to make sure I get it, this is what I should have in my Dockerfile, correct?

[code]

As for the issue with AWS Cognito, I remember that last time I was setting it up, the logs mentioned that the `server.useForwardHeaders` option was still not working in the latest version. I do not remember whether this was **2.4.3**, though. Let me run a quick test, and I will let you know.

Thanks for the

[2021-02-19 12:37] LEDfan commented on #262
Yes that's a proper Docker file to use with ShinyProxy, although you can even make it shorter:
[code]
If you don't specify the `WORKDIR` or `CMD` directives, Docker will take them from the base image. Our base image specifies `/etc/shinyproxy` as working directory, so you can place the config file there.

https://shinyproxy.io/documentation/security/#forward-headers

[2021-02-19 12:38] LEDfan commented on #262
Regarding the `server.useForwardHeaders` property. You probably got the following warning message:
[code]
So starting from 2.4.0, the property that configures the forwarding headers has changed, but the forwarding headers still works. You only need to use the following config:

[code]
instead of the old property.
I noticed the warning message should actually point to https://shinyproxy.io/document

[2021-02-19 12:43] nbbn commented on #166
HI, I upgraded my shinyproxy to the newest version and rewritten my template, so I don't have this problem anymore.
IMO problem is mainly with paths to external resources inside template (like fonts, css, etc.). I will try to find my older template and check on which versions it trigger this error messages.

[2021-02-19 13:06] fmmattioni commented on #262
That is exactly the warning I was getting!

I am sorry, I didn't even bother to read the page more carefully... I am going to test it again - if I have any issues I will let you guys know!

Thank you!

[2021-02-19 14:12] fmmattioni commented on #262
Quick update: the `server.forward-headers-strategy` is indeed working properly with AWS Cognito! Thanks a lot for pointing me in the right direction!

[2021-02-19 18:34] django-datama commented on #166
Hi @nbbn @LEDfan, @freaknils and @tverbeke,

We are running shinyproxy v2.0.0.RELEASE (java -jar in a custom docker container),  and it's seems that some resources are not loaded properly (attached image). As mentioned by @nbbn, we are going to upgrade our version and change our config and see how it works.

Thank you @LEDfan and @nbbn for your help.
We'll keep you informed.

Kind regards,

![Capt

[2021-02-19 19:42] fmmattioni commented on #262
Hey @LEDfan, while setting up my new config as suggested with the `openanalytics/shinyproxy` docker image, I noticed that I always get the following error:

![image](https://user-images.githubusercontent.com/36630619/108553123-855c4180-72f2-11eb-8cb2-4ea99fb51985.png)

This is my Dockerfile:

[code]

However, when I change my Dockerfile to:

[code]

everything works as expected.

Is there anything

[2021-02-22 06:38] jat255 commented on #274
This seems to be working over the past few days (haven't seen the error again), so I'll go ahead and close this out. Thanks again!

[2021-02-22 06:38] #274 closed

[2021-02-22 09:58] LEDfan commented on #166
Thanks for investigating, would be helpful if I can reproduce the issue.

@django-datama regarding the messages in your screenshots: those aren't errors. It simply are messages by the Spring framework that indicates how URLs are handled. For example, that `/error` is handled by the `ErrorController` etc.
You can ignore these messages.

[2021-02-22 21:37] FrankSchiro opened #276 "server start time increase when switching from version 2.3.0 to 2.4.3"
I just switched from ShinyProxy 2.3.0 to 2.4.3

The startup time for the server went from maybe 3 seconds to 30 seconds.

I get this message as well:

[code]

I'm wondering if this is an error of some kind? I never got this message at startup with 2.3.0.

I also notice for version 2.3.0, it says ```Spring boot v2.0.0.RELEASE```, and for version 2.4.3, it says: ```Spring boot v2.3.4 release```

[2021-02-24 18:02] erossini-chi commented on #275
After a lot of research and study, I found how to implement `Identity Server` with ShinyProxy. I have created a complete step-by-step guide in [my blog](https://www.puresourcecode.com/programming-languages/r/authentication-in-shinyproxy-with-identityserver/).

I hope it could help other guys.

[2021-02-25 14:19] LEDfan commented on #262
Hi @fmmattioni

I forgot to mention that, since our image is using a non-root user, it doesn't have access to the docker socket by default.
You'll have to run the ShinyProxy docker image using the following command:
[code]

The ` $(getent group docker | cut -d: -f3)` part determines the group-id of docker. The `--group-add` parameter ensures that the user running inside the ShinyProxy docker conta

[2021-02-25 14:20] LEDfan commented on #275
Hi @erossini-chi

Many thanks for your efforts and for clearly documenting your setup! I'm sure it will help other users when they need to set ShinyProxy with IdentityServer.

I'm closing this issue now, but feel free to open a new issue if you encounter any issue.

[2021-02-25 15:28] LEDfan commented on #276
Hi @FrankSchiro

I just did a quick test: I adapted ShinyProxy to exit the process as soon as ShinyProxy emits the `ContextRefreshedEvent` event. This event is emitted when ShinyProxy is completely stared up. Using the linux `time` command I then measured the time it takes for ShinyProxy to startup.

For ShinyProxy 2.3.0 this gives 8.14s and for ShinyProxy 2.4.3 11.36s. Indeed this is a bit slower

[2021-02-25 18:08] fmmattioni commented on #262
Sweet! Thanks a lot for the detailed info! I can confirm that this is working now.

Thank you!

[2021-02-25 22:16] jat255 opened #277 "Clarification about heartbeat for docker containers"
As we're rolling out testing to users, I am starting to notice some containers that do not shut down as I would expect. I have reached out to a few of these users to see what behavior they have (i.e. are they leaving tabs open, etc.):

![image](https://user-images.githubusercontent.com/1278301/109226017-5541f200-777b-11eb-9a10-21427529d313.png)

In the meantime, I was wondering if there are any ti

[2021-02-26 05:40] kuzmenkov111 commented on #277
+1

[2021-02-26 08:55] LEDfan commented on #277
Hi @jat255

ShinyProxy currently works as follows:
 - every `proxy.heartbeat-rate` ShinyProxy sends a hearbeat to the client. If the client answers, the internal state is updated with the current time. The default of `heartbeat-rate` is 10 seconds. These hearbeats are sent over the websocket channel (if any).
 - every HTTP request to an app also updates the internal state.
 - if the last hearbeat

[2021-02-26 08:57] LEDfan commented on #277
BTW, we have some plans for a `max-lifetime` feature, that kills app after a certain amount of time, regardless whether it is in use. This isn't yet implemented and will probably not make it in the next release. I'll keep you informed if we start working on it.

[2021-02-26 15:36] jat255 commented on #277
@LEDfan thanks so much for the clarification. I'm not certain if the long-running session is a bug, or if someone left a tab running on their office computer (trying to get more info from the user). This limited session lifetime is a security concern for our IT sec team (they don't like seeing something logged in for a long time without a user sitting there). Something like `max-lifetime` would in

[2021-02-26 15:36] #277 closed

[2021-02-28 17:04] jtpoirier commented on #235
I can't reproduce this fix with Dash 1.17.0 and ShinyProxy 2.4.1. The Dash Demo works fine with older version of Dash, but it's not clear to me how the above solution should be implemented for the Dash Demo:

https://github.com/openanalytics/shinyproxy-dash-demo

Can you provide some more details?

[2021-03-01 07:42] LEDfan commented on #235
Hi @jtpoirier

When creating a Dash application, you can specify some parameters. In order to make Dash work properly with ShinyProxy you''ll have to specify two parameters, with the same value. These parameters are:
- `routes_pathname_prefix`
- `requests_pathname_prefix`

The value of these parameters should be as follows:

[code]
proxy:
  title: Open Analytics Shiny Proxy
  logo-url: https://www

[2021-03-01 07:45] LEDfan commented on #235
Hi @jfrubioz

We made a change that will be included in the next ShinyProxy release to make working with Dash apps easier. From that release on, every ShinyProxy app will have an environment variable `SHINYPROXY_PUBLIC_PATH` that basically contains the value your specified in your workaround. For the example above that thus would be `/app_direct/dash-demo/`.
The advantage is that you can make your

[2021-03-01 15:11] jtpoirier commented on #235
Thanks for the fast responses. It sounds like your planned improvement will help.

The above code does not seem to successfully launch dash-demo with the latest version of Dash, potentially for a few reasons. "server" is not defined in the dash-demo app.py, so it won't run. If that line is removed, the app will start in the command line as below, but the container will never respond in time via th

[2021-03-01 16:02] jfrubioz commented on #235
@jtpoirier

Yes, I realized that I did not include any reference to the server. I updated the update to include the `server = flask.Flask(__name__)` line. Make sure you import flask into your module.

As @LEDfan explained, the solution relies simply on adding '/app_direct/dash-demo/' to your 'requests_pathname_prefix'. But I do not think you need to enter it into 'routes_pathname_prefix' as well.

[2021-03-01 16:25] jtpoirier commented on #235
Starting with the latest dash-demo release, I replaced the line 'app=dash.Dash()' with the below code as suggested. Again the server will run in command line but times out when launched from shinyproxy. I confirm that the id of the app is 'dash-demo' in my application.yml file.

[code]

[2021-03-02 15:37] jtelleriar commented on #191
@vpanfilov Have you managed to make it work something like this?:

[code]

I want to pass the secret to the Docker images triggered by ShinyProxy, but I am not able to achieve it.

[2021-03-02 15:46] LEDfan commented on #267
Hi @jat255

We released ShinyProxy 2.5.0 in which this bug was fixed.

[2021-03-02 15:53] LEDfan commented on #190
Hi @jat255

We released ShinyProxy 2.5.0 in which the SAML metadata is now exposed on the `/saml/metadata` path, e.g.: `localhost:8080/saml/metadata`.

Since this is fixed now, I'm closing this issue. As always, feel free to open a new issue if you encounter any problem.

[2021-03-02 15:53] #190 closed

[2021-03-02 15:55] LEDfan commented on #235
Hi @jtpoirier , great that you managed to solve the issue!

@jfrubioz we released ShinyProxy 2.5.0 in which each container now has the `SHINYPROXY_PUBLIC_PATH` environment. As you can see in [our demo](https://github.com/openanalytics/shinyproxy-dash-demo) it should now be easier to support newer Dash versions.
Thank you for contributing the solution to us!

Since this is fixed now, I'm closing th

[2021-03-02 15:55] #235 closed

[2021-03-02 16:13] LEDfan commented on #220
Hi @kfox1111

ShinyProxy 2.5.0 is now able to expose Prometheus metrics! You can find all information here https://shinyproxy.io/documentation/usage-statistics/#micrometer .
Although we tried to design and test this feature in a good way, we are looking for some feedback on it. Please open an issue when you have some feedback on it.

[2021-03-02 16:13] #220 closed

[2021-03-02 16:15] LEDfan commented on #198
Hi @advanalyticsamateur

Since this seems to be fixed now, I'm closing this issue. As always, feel free to open a new issue if you encounter any problem.

[2021-03-02 16:15] #198 closed

[2021-03-02 16:17] LEDfan commented on #192
Hi @mskyttner

In ShinyProxy 2.5.0, we included the contribution by @johannestang. Please check [our documentation](https://shinyproxy.io/documentation/configuration/#saml-loadbalancer-configuration) on how to configure it.

I'm looking forward whether this solves your issue.

[2021-03-02 18:54] mskyttner commented on #192
Hi @LEDfan I will test the release and ping back here with results.

Looking at the documentation I think it looks like two links may need repointing:

- https://shinyproxy.io/documentation/securirty (should be https://shinyproxy.io/documentation/security)
- https://shinyproxy.io/faq/#invalid-redirect_uri-when-using-openid-connect-or-keycloak (should be https://shinyproxy.io/documentation/faq/#inv

[2021-03-03 08:01] LEDfan commented on #192
Thanks for reminding me about the broken links, they are all fixed now.

[2021-03-03 08:10] #275 closed

[2021-03-03 08:13] LEDfan commented on #161
Hi

This is now fixed in the 2.5.0 release. Thank you for your report.

[2021-03-03 08:13] #161 closed

[2021-03-03 08:18] LEDfan commented on #159
Hi all

It's indeed correct that no loading screen is shown when using the `app_direct` endpoint, this is the intended behavior. The idea of this endpoint is to integrate it in some other application and then also create your own loading page.
Since ShinyProxy 2.5.0, you can now also load an application with the `sp_hide_navbar=true` query parameter. For example:
[code]
This still uses an iframe t

[2021-03-03 08:18] #159 closed

[2021-03-03 09:03] LEDfan commented on #148
Hi, as pointed out by @kuzmenkov111 the login template is part of ContainerProxy.
I updated our documentation with direct links to all templates: https://github.com/openanalytics/shinyproxy-config-examples/tree/master/04-custom-html-template#where-to-find-the-original-template-files

[2021-03-03 09:03] #148 closed

[2021-03-03 14:24] LEDfan commented on #169
Hi all

With recent versions of ShinyProxy (I'm not sure which version exactly, but at least ShinyProxy 2.3.1) there is no need to use a kube-proxy sidecar. ShinyProxy automatically detects the location and authentication of the Kubernetes API.
Therefore I think this problem is automatically solved.
Nevertheless, thank you for your time and investigation!

[2021-03-03 14:24] #169 closed

[2021-03-03 14:59] kuzmenkov111 commented on #231
Dear @LEDfan

Do you have any plans for implementing this feature?

[2021-03-03 16:10] erossini opened #278 "Info performances"
This is an open question. I'm creating a ShinyProxy with a consistent number of Shiny applications. I'm using an Ubuntu machine hosted on Azure. What I'm trying to understand is the performances of a ShinyProxy with its apps.

Do you have any tests (performance or stress test) or test result I can use?

Thank you in advance
Enrico

[2021-03-09 06:40] jat255 commented on #149
I just noticed we're experiencing this same issue. @donarus did you ever implement this change for your own use?

[2021-03-11 07:40] LEDfan commented on #278
Hi

We don't have any concrete results ready, but we do have some large deployments with many users and apps, but I don't know the exact numbers.
Note that the amount of apps doesn't really matter for the performance of a ShinyProxy server, instead it's the amount of concurrent users that will make a difference. In addition the underlying hardware (be it virtualised) also plays a role in the perfo

[2021-03-11 07:41] LEDfan commented on #276
Hi

Since I believe this question is answered and you don't seem to have any further questions, I'm closing this issue.

As always feel free to re-open it or report a new issue if you encounter any problem with ShinyProxy.

[2021-03-11 07:41] #276 closed

[2021-03-11 19:01] NealXie opened #279 "Shinyproxy with Flask App Prefix Issue"
I have built a Flask app with some templates and static files like css, js, local csv, db, etc. And then I create a docker image for this app.

I also put this app image into my application.yml file for my shinyproxy. My shinyproxy can load my landing page without css, js, or other files because they are in different url. My Flask is looking for url_for 'statics' but the proxy can't find it.

I th

[2021-03-11 20:40] robsonyeg commented on #82
Any roadmap to have this feature?

[2021-03-11 20:50] robsonyeg opened #280 "o.k.adapters.OAuthRequestAuthenticator : failed to turn code into token"
Hello,

I am running shinypoxy 2.5.0 on docker swarm. I am using keycloak(12.0.4) for authentication. After I log in it stays on the page /auth-error. But actually, the login is successful. I can manually go back to the root of my website and all applications will show up. I can also start the application which I have permissions.

Here is the screenshot of the error.
![image](https://user-images.

[2021-03-11 22:05] robsonyeg commented on #280
don't know if it is because of some cache issue or not. the error disappeared.

[2021-03-11 22:05] #280 closed

[2021-03-12 07:49] LEDfan commented on #280
Hi @robsonyeg

I have seen similar behavior when setting up ShinyProxy with Keycloak. I think it happens when I'm logged into to the admin console of Keycloak using the default admin account, setup a client for ShinyProxy and then go to ShinyProxy in the same browser. If I open ShinyProxy in a private window everything works as expected. I suspect it is some stale state in the session of the Keycl

[2021-03-12 16:45] ziyunxiao opened #281 "App started then become inactive, It looks like the app is terminated for some reason."
Hello

I have shinyproxy(2.5.0) runs on docker swarm.

The apps started and quickly become inactive(greyed out) with some information as the following.
[code]
After that, the container of the app also gets removed after a while.  I also tested the app itself by bringing it up with the docker run command. And the apps works without issue.

Could someone help take look ? and how to get around it?

T

[2021-03-12 21:30] ziyunxiao commented on #281
I also sometimes get  "Failed to start container" error.

In my application.xml I set
[code]
Anyone can help?

Thanks,
Robin

[2021-03-14 19:49] lyndonbird opened #282 "Micrometer monitoring - Internal Server Error"
Hi there,

I have updated to shinyproxy 2.5.0 and have tried implementing the micrometer monitoring without any luck. For context this is being used alongside the [dockprom](https://github.com/stefanprodan/dockprom) stack.

I have updated dockprom so that prometheus is using port 7070, and included the scrape_config for shinyproxy as it's defined [here](https://shinyproxy.io/documentation/usage-st

[2021-03-17 15:28] #281 closed

[2021-03-17 15:29] ziyunxiao commented on #281
found the error that could not start the container. Need work on that issue first

[2021-03-18 12:48] pstdenis opened #283 "Roles-claim for Google openid?"
I see examples for how to uses roles-claim for 0auth and cognito but I don't see anything for Google openid,
can anyone offer a sample application.yml using google openid?

[2021-03-23 21:57] skitcattCRUKMI opened #285 "Docker container run --user option set directly from shinyproxy config"
Hi all

Usually when I run a docker container I can do so with the command `docker container run  --user uid:gid` to run it as a specified user. With the shiny app I'm working on, we need it to run the container as the user who has logged into shinyproxy ($SHINYPROXY_USERNAME). I was hoping to set this from the shinyproxy config file, something like this:

[code]
But it looks like this isn't an op

[2021-03-24 11:59] daniel1608 opened #286 "Need to press sign in twice after logout"
We use ShinyProxy 2.5.0 on Kubernetes. As authentication method we use LDAP.
Our problem is that we need to press the button "Sign in" twice after a logout.
Steps:
1) Sign in -> works
2) Sign out -> works
3) Sign in -> page reloads
4) Sign in -> works

If we deploy ShinyProxy on a regular VM the problem does not occur. I'm not sure if the cause is on your side or on ours (some configuration not re

[2021-03-31 15:55] rashmead opened #287 "Websocket Workaround?"
We are trying to implement shinyproxy but are running into a websockets error in our production environment - mainly that they are not allowed by the security team.  The error causes the app to crash right after launching.  Has anyone encountered this issue before and found a workaround?  We have been able to get shiny server products to work successfully in the past in the same environment.  Whil

[2021-03-31 16:27] tverbeke commented on #287
Hi @rashmead Thank you for your question. When secured properly WebSockets are not more unsafe than HTTP. ShinyProxy does not support the alternatives based on SockJS (and this is not planned), so the remaining option is to educate your security team (or ask them to use proper configuration of their proxies, see e.g. https://shinyproxy.io/documentation/security/#https-ssl--tls). Many of our corpor

[2021-03-31 22:27] jat255 opened #288 "Accessing ID of proxy from inside container?"
As a workaround for #149, we have implemented some tooling within our app for users to report an issue. I would like to be able to attach the value of the proxy ID assigned by ShinyProxy to this message so our admins know which log file to look at (we're storing these using the `container-log-path` option). From inside the container, I can get the docker container ID (via `hostname`), but the logf

[2021-04-01 07:00] LEDfan commented on #288
Hi

Thanks for opening this issue. You can provide the proxy-id as an environment variable using the following application configuration:

[code]

Regarding exposing all labels as env variable: I think this is a good idea, I think the main idea of not doing this was that it should be easy to add these variables yourself. On the other hand, there is not really a reason no to do it. In addition it m

[2021-04-01 14:19] jat255 commented on #288
Of course! Thank you so much for the follow-up. Adding some of this to the documentation would certainly be helpful (maybe it's there and I just missed it, but I think I read through pretty carefully).

[2021-04-09 00:32] lyndonbird commented on #282
Self-resolved, worked out one of the containers wasn't resolving a service correctly.

[2021-04-09 00:32] #282 closed

[2021-04-09 08:03] nbbn opened #289 "TLS cookie without secure flag set"
Hi,
I've got shinyproxy behind nginx reverse proxy with https.
I recently noted that TLS cookie set by shinyproxy is without secure flag set, what is recommended in this case.
I think it would be good to have some option in config file to inform shinyproxy that we are behind secure connection.
Tested on shinyproxy 2.5.0.

[2021-04-09 08:52] cristianburca opened #290 "[question] Mount k8s projected volumes"
Hi guys,

I'm looking for a possibility to mount some **projected** cert secret **volumes** as below since my shiny app requires a ssl connection. Can you please let me know if there is a way using **kubernetes-pod-patches**?
Thank you.

[code]

[2021-04-09 09:28] cristianburca commented on #290
Nevermind.

[code]

[2021-04-09 09:28] #290 closed

[2021-04-09 09:30] tverbeke commented on #289
Hello @nbbn

See https://shinyproxy.io/documentation/configuration/#security

Best,
Tobias

[2021-04-09 12:10] nbbn commented on #289
This is what I need, thank you!

[2021-04-09 12:10] #289 closed

[2021-04-12 07:29] LEDfan commented on #286
Hi @daniel1608

I don't think I ever saw this exact issue before (i.e. with LDAP). But I have a feeling this could be caused by the CSRF check on the login form. When this check fails, you get the (unexpected) behavior of filling in the form and after submitting getting an empty form back. I saw this happening during development, e.g. when restarting ShinyProxy while not reloading the login form.

[2021-04-12 09:51] cristianburca opened #291 "Error validating SAML message"
Hello guys,

I'm trying to setup SAML for my application using Shinyproxy. I got stuck with the following error.

[code]

My SAML props can be found below.
[code]

Any help in debugging the issue would be very appreciated. Thank you.

[2021-04-12 15:09] LEDfan commented on #291
Hi @cristianburca

This error typically means that the value of `proxy.saml.app-entity-id` is not the same as the one configured in the SAML provider. For example, in Active Directory, you have to provide an `app entity id`. This value should be equal to the value of the  `proxy.saml.app-entity-id` property.
If it still doesn't work, you can have use an addon such as https://addons.mozilla.org/en-

[2021-04-13 09:47] cristianburca commented on #291
I was able to use SAML trace and find entity id into AudienceRestriction.

[code]

and updated in shinyproxy properties.

[code]

Thanks @LEDfan.
Once updated the SP Entity ID to match Audience in SAML Response it worked.

[2021-04-13 09:47] #291 closed

[2021-04-13 20:02] #287 closed

[2021-04-15 13:36] ziyunxiao commented on #273
"Unfortunately, the automatic redirect from http to https"

That's pure Traefik features, has nothing to do with Shinyproxy.

here is the example for traefik labels.

The key is you need to define two routers, shiny-http and shiny-https. on router shiny-http set middlewareto https-redirect.

[code]

[2021-04-15 13:45] ziyunxiao commented on #214
The error "No such image" identifies the root cause.

Is your image in the public repo(no auth) or private(need auth)? If it is in private, this is the limitation of the current version.
The workaround is to pull the image on all nodes( as part of the deployment process for an app).

If it is a public repo, check why the docker swarm could not download the image. You use the docker stack deploy co

[2021-04-15 17:06] adellam commented on #250
I removed haproxy from the equation, and it seems that a specific shiny app that we run make  the whole service hang after some activations. We'll try to debug it and eventually report what we found

[2021-04-19 13:27] D3SL opened #292 "Using a static containerized DB with shinyproxy apps"
This may fall under #260 or #237. I've got some shinyproxy apps which rely on a running stream of realtime external data that is consistent for all users. Doing this per-app means using a lot of extra memory on the host machine, and redundant database calls that scale with number of users.

What I'd like to do is offload all of that to one single central dockerized database and connect to that ins

[2021-04-19 19:04] aupadh12 opened #293 "Usage statistics using Micrometer and Prometheus"
Hello,

We have Prometheus and Grafana running on EKS in monitoring namespace while we have shinyproxy running in a separate namespace. We are looking to implement the usage statistics using micrometer and push the metrics in the already running.
As per the documentation, we need to add below for the configuration:

scrape_configs:
  - job_name: 'shinyproxy'
    metrics_path: '/actuator/prometheus

[2021-04-20 07:49] LEDfan commented on #293
Hi

Since the operator dynamically generates ShinyProxy servers, it is impossible to hard-code the target in the scrape config of Prometheus. Therefore, you need to configure some way to autodiscover the ShinyProxy servers.  We use the following configuration for this:
[code]

Note that you'll have to give Prometheus permission (using Kubernetes RBAC) to use the Kube API for retrieving pods.

[2021-04-22 09:11] aupadh12 commented on #293
Hi @LEDfan ,
This worked. Thank you very much for the help here. It would be good to have this added to the documentation of usage statistics when using shinyproxy-operator.

[2021-04-22 09:11] #293 closed

[2021-04-22 12:20] shosaco opened #294 "Update nginx config for shiny 1.3 and above"
According to [this shiny blog post](https://community.rstudio.com/t/shiny-v1-3-known-regressions-and-serious-issues/28180/3) the Nginx configuration given on [this page](https://shinyproxy.io/documentation/security/#https-ssl--tls) is incorrect, concerning the line

[code]

This has implications on WebSockets behind Nginx proxies, i.e. Shiny Apps are not functioning properly when served by shinypr

[2021-04-22 12:33] shosaco commented on #294
By experiment, this seems to be outdated and the advice given in the blog post is **not** working, but the config given at shinyproxy.io (link in issue). Closing this issue.

[2021-04-22 12:33] #294 closed

[2021-04-23 07:02] serk12 commented on #50
I tried this in a "internal production server by IP" and yes, ports greater than 20.000 are accessible if you have direct access to the machine. WIth IPtables you should be able to fix this.

[2021-04-23 11:13] Emelieh21 commented on #152
Thanks @LEDfan this solution is really great - just see it now!

After some trial and error I managed to get it to work for adding IAM role annotations in the following way:

[code]

[2021-05-06 23:57] jino-varghese opened #298 "shinyproxy LDAP Role based authentication possible"
Hello Team,

Do we have an option to make AD Group-based access can provide to each application within Shiny proxy?
If I have 5 applications in ShinyProxy, can I restrict each application based on the AD group?

Thank You ,
Jino.

[2021-05-07 08:52] mversiani commented on #174
Hi, is there any update on this issue? regards

[2021-05-07 13:58] grazioli opened #295 "Connecting Shiny app to MySQL database running on host gives "Container did not respond in time""
I have a MySQL database running on Ubuntu and I try to connect to it from a Shiny app running in Shinyproxy. However, I cannot get it to work. Whenever I try to connect to the database I get the 500 Error (Container did not respond in time). The lines that create the error are:

`
stuffDB <- dbPool(
    RMySQL::MySQL(),
    user = "USERNAME",
    password = "PASSWORD",
    dbname = "DB_NAME",

[2021-05-10 08:42] grazioli commented on #295
Hi @dseynaev, I'm using ShinyProxy v. 2.5.0 and I have set `container-network` to `host` so that my R application can connect to MySQL server using `127.0.0.0` (or `localhost`, I have tried both).

[2021-05-11 22:22] decat7 commented on #279
Hi,

My colleague solved this issue with workaround in flask. See https://flask-assets.readthedocs.io/en/latest/

[2021-05-12 08:43] jtelleriar opened #296 "FEATURE REQUEST: Generic User / Password"
First of all, thank you all for your excellent work with ShinyProxy!

As a feature request:

We might have scenarios in which we would like to have a generic user (User / Password), which is shared across multiple persons, and these have the chance to connect simultaneously to ShinyProxy Applications.

For example:

- Imagine one co-worker does not have its Microsoft Active Directory User Created

[2021-05-12 09:09] mattinbits opened #297 "ShinyProxy behind a trusted authenticating proxy"
I am planning to run ShinyProxy behind a reverse proxy which authenticates the user and makes the user's ID and group information available in HTTP headers added to the request. I think I can use `authentication: none` to instruct ShinyProxy to trust the incoming requests from the proxy, but ideally I would also like ShinyProxy to adopt the user and group information from the HTTP headers. This wo

[2021-05-12 09:20] tverbeke commented on #296
Hi @jtelleriar

I don't think this is something that would be good to solve at the ShinyProxy level:  if this is a requirement, you could ask to create a permanent user in AD for this purpose only and then manage it as you say.

Kind regards,
Tobias

[2021-05-12 10:53] grazioli commented on #295
@dseynaev if you need any other info about my configuration please let me know. Thanks.

[2021-05-12 17:07] jtelleriar commented on #296
Thank you Tobias for your feedback.

The motivation of my request is that, even if we have this generic AD user, if this is used say, an app is used by 2 persons simultaneously, the would be working within the same Docker container, and it would be better to spin off 2 containers.

[2021-05-17 06:49] LEDfan commented on #296
I understand your use-case. However, currently this really goes against the current design of ShinyProxy. It's by design that an user can only run one instance of every app. Without this limitation it would become much harder to manage the different instances of apps. We can keep this issue open as a feature-request but I'm afraid that we won't solve this in the near-future. Maybe if other users h

[2021-05-17 07:23] LEDfan commented on #297
Hi

This is currently not possible. I think this is a common feature in other web-applications, so I do see the value of this. In addition it should be able to nicely integrate this in the existing code.

A PR implementing this is always welcome. Here are a few notes to get you started:

 - you'll have to implement a custom [`IAuthenticationBackend`](https://github.com/openanalytics/containerproxy

[2021-05-17 07:31] LEDfan commented on #298
Hi

Yes, this is possible. As you can see in the [documentation](https://shinyproxy.io/documentation/configuration/#example-active-directory) you'll have to provide a `group-search-filter` and `group-search-base` which tell ShinyProxy how to parse the groups out of the LDAP information (https://shinyproxy.io/documentation/configuration/#ldap). This configuration depends on your configuration of LD

[2021-05-17 13:21] jtelleriar commented on #296
For this "generic shared user" maybe a random ID could be mapped, only under those scenarios in which within the application.yml file, such "feature" is enabled because, as you pointed out, not everybody may need it.

Thank you in advance!

[2021-05-17 13:48] michaelhogersnplm commented on #296
@jtelleriar a hacky solution might be to create multiple specs with different id's but using the same docker image

[2021-05-17 15:04] shosaco opened #299 "Keycloak group in shiny app"
Dear all,

I am using Shinyproxy with Keycloak authentification which is working fine. I know how to see the Keycloak Client Role in my Shiny app (using `Sys.getenv("SHINYPROXY_GROUP")`) - but is it possible to see the **Keycloak Group** (not the Keykloak client rule) for a user?

That would enable more fine-grained data-filtering and authentication methods.

Best regards
sandro

[2021-05-17 16:09] dseynaev commented on #299
Hi @shosaco

you could try connecting to keycloak via the OIDC (`openid`) backend instead of the `keycloak` one.

Then, you can use a custom claim for the shinyproxy group membership: https://shinyproxy.io/documentation/configuration/#group-based-authorization

In keycloak, you would then use a client mapper to map the group membership to that claim

Best,
Daan

[2021-05-17 16:12] jtelleriar commented on #296
@michaelhogersnplm jajajjaa But the suggestion is about not being Hacky, and having an official way of doing it from the .yml ;)

Thank you for your proposal however Michael,

Regards,
Juan

[2021-05-17 23:08] jino-varghese commented on #298
Thank you, Yes this document shows the LDAP group can access / login to the Shiny Proxy, but can we able to restrict  people to access application within the proxy using this group ?
I saw Simple authentication method : groups: scientists ;   access-groups: [scientists],
Those who are all belogs to this group - scientists - can access to that applicaion. like wise do we have an option in LDAP  - A

[2021-05-19 06:53] LEDfan commented on #298
You can use the same configuration options (i.e. `access-groups`) for LDAP. Here is a full example with a public LDAP server:

[code]

Try running this example. You can login with username `gauss` and password `password`, you'll see only the `Hello Application`. Then you can try logging in with `tesla` and `password` and you'll see both apps.

[2021-05-19 19:50] jino-varghese commented on #298
Thank you so much;. Its works well.
I think this is the problem with my side.  the AD group which I am part of specified in the application.yaml file,  i can not see the app.

[2021-05-19 20:19] jino-varghese commented on #298
Quick Question: is ' scientists' and 'mathematicians' an AD distribution list?  I do have an AD Distribution list which will help to provide it in the group session to allow users to access the application?

[2021-05-20 18:21] jino-varghese commented on #298
I do see different types AD groups:
1.  'Mail-EnabledSecurity',
2. 'Security',
3.  'Distribution'

which one should Shiny proxy use to work?

[2021-05-21 07:30] LEDfan commented on #298
Unfortunately my knowledge about AD is limited and I'm not aware of these types of AD groups. From my experience (when using LDAP with AD) you need to configure AD to provide the correct groups as LDAP groups, and it does not matter for ShinyProxy which groups you are passing.

If you have Active Directory Federation Services available, you could also choose to use connect ShinyProxy using SAML to

[2021-05-21 09:23] LEDfan commented on #174
The next version of ShinyProxy will have support for running Jupyer notebooks! I created a snapshot release, so that you can already test it. See the dedicated repository for more information: https://github.com/openanalytics/shinyproxy-jupyter-notebook-demo

[2021-05-25 05:13] obenno commented on #197
Hi,

I'm also interested in the topic. Is there a way to make shinyproxy pre-load some containers for the app waiting for user connection?

Thanks,
obenno

[2021-05-25 21:42] nlarusstone opened #300 "No support for bookmarking"
Following up from the comment here: https://support.openanalytics.eu/t/shiny-bookmarking-the-state-in-url/394/10 about creating a Github issue.

Basically, Shiny Proxy doesn't respect Shiny's bookmarking (apparently because it's running the Shiny app in an iframe...). That means something like:
[code]

Works if you run the app directly, but doesn't change the URL when deployed via Shiny Proxy.

Th

[2021-05-26 07:11] LEDfan commented on #300
Hi thanks for opening this interesting feature, I see the great value of this request.
I investigated the technical aspects of this a bit and I believe we should be able to implement a solution for this.
However, I cannot make any promises when we will be able to do this and in which release it will be included.

In order to test the implementation (and to make sure it fits your use-case) it would

[2021-05-26 16:22] nlarusstone commented on #300
Great, thanks for the response! I'll leave a demo app below. One note for other people finding this issue is that I was able to work around it by adding a custom JS file to my shiny app:

[code]
and the corresponding call in my Shiny app:
[code]

I could then see bookmark params in the URL when I navigated to `<domain>.com/app_direct/<application>`

[2021-05-26 20:54] PauloJhonny commented on #158
I have the same issue when i try to login the first time. The second time works well and i can access the main apps page.
I'm using LDAP for authentication. (I'm not using the k8s and /app-direct/ URL).

Error print:

![image](https://user-images.githubusercontent.com/14023635/119729579-33740c00-be4b-11eb-91da-d5e0169802f7.png)

[2021-05-27 06:01] tverbeke commented on #158
Hi @PauloJhonny Can you check with ShinyProxy 2.5.0? 2.3.0 is almost two years old and there have been 6 releases since (with numerous fixes).

[2021-05-27 06:36] LEDfan commented on #300
Thanks for the example and the workaround. It's interesting to know there is a way to handle it in Shiny. Nevertheless we strive to make ShinyProxy work as seamlessly as possible, so we will still look into a built-in solution sometime.

[2021-05-27 08:35] nbbn opened #301 "secure cookies with webservice auth"
Hi,
I try to use secure flag on cookies set by Shinyproxy.
In general, I just add to my existing, working config:
[code]

AFAIK, it should not influence Shinyproxy working without ssl proxy (this flag should then be ignored by browser).

I tested this flag on shinyproxy without any proxy in front of it, and the flag is present.
However, I have problem with logging in. I receive no error message ab

[2021-05-27 13:35] PauloJhonny commented on #158
Hi @tverbeke. I'm having a problem when upgrading to 2.5.0 :(
That's why i haven't done it yet.
If i just change Dockerfile to get the 2.5.0 version, I can access the login page, but it is not responsive...

Since i customized shinyproxy templates (app.html, index.html, login.html, navbar.html), i think there's something to do with it... where can i have access to the templates of shinyproxy 2.5.0

[2021-05-28 13:27] ekoepplin commented on #286
Hello! Is there any progress on that topic? Or any recommendations on how to deal with that?

[2021-06-01 17:07] jino-varghese commented on #298
Thank you so much. This works well.

[2021-06-01 17:07] #298 closed

[2021-06-02 07:36] LEDfan commented on #301
Hi

So the secure flag on HTTP cookies tells the browser to only use the cookie if and only if the connection to the server is using HTTPS (i.e. it's a secure connection). Therefore if you enable the secure-cookies feature and you load ShinyProxy over HTTP, all cookies are ignored by your browser and you won't be able to login. (this is also the reason it's not enabled by default). You can read mo

[2021-06-03 15:26] anoop7181 opened #302 "Azure AD Open ID setup issue - PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target; nested exception is javax.net.ssl.SSLHandshakeException"
I am trying setup Azure AD authentication with Shinyproxy deployed through Shiny Operator (https://github.com/openanalytics/shinyproxy-operator).
The setup has nginx as initial ingress and is one more ingress skipper for shinyproxy.

I used below config
openid:
    auth-url: https://login.microsoftonline.com/tenant-id/oauth2/authorize
    token-url: https://login.microsoftonline.com/tenant-id/oaut

[2021-06-03 16:39] anoop7181 commented on #302
The issue was with my proxy but after resolving that i am getting below error. Does the shinyproxy support Azure AD (B2B
)  openId authentication. The documentation talks about Azure AD B2C only.

Authentication failure [user: ] [error: No AuthenticationProvider found for org.springframework.security.oauth2.client.authentication.OAuth2LoginAuthenticationToken]
2021-06-03 09:51:33.765 ERROR 1 --- [

[2021-06-03 19:55] anoop7181 commented on #302
The error was occurring as my local K8s cluster clock skew had a great variation due with JWT token decode was failing . Got the detail from this page https://shinyproxy.io/shinyproxy_roles .

Deployed to my cloud cluster and authentication works like charm

[2021-06-03 19:55] #302 closed

[2021-06-04 10:07] nbbn commented on #301
Thank you! It's well explained and makes sense.

On 6/2/21 9:36 AM, Tobia De Koninck wrote:

[2021-06-08 14:02] Pulkit078 opened #303 "SAML: Need to configure local file path for idp-metadata configuration"
Hi, I'm trying to integrate saml with one of our applications but our vm doesn't have connectivity to internet, just internal network. I have the idp metadata file stored on the vm. How do I reference the local file for saml configuration in application.yml file? I only see idp-metadata-url config option.

[2021-06-18 09:39] yannick-dactika opened #304 "Problem with Keycloak authentication on Kubernetes / "failed to turn code into token" "status 308""
Hi all,

My setup :
- cluster Kubernetes on Azure Cloud
- Nginx ingress controller that redirects all incoming requests to shinyproxies (multiple public apps so one shinyproxy per application)
- shinyproxy is running inside a pod and redirects authentication to keycloak server
- keycloak server is running inside a pod too (one for all apps)

For Keycloak server, proxy_adress_forwarding is set to t

[2021-06-25 09:32] LEDfan commented on #149
Hi, this will be fixed in the next release.
The form is now a client-side only form. So after submitting the form, the modal is closed and the user stays on the same page (without redirect or reload).

[2021-06-25 09:53] LEDfan commented on #304
Hi

Can you try these two things:

 - if you Keycloak server is using HTTPS, also specify https in the `proxy.keycloak.auth-server-url` field.
 - use the correct setting instead of `useForwardHeaders`, see: https://shinyproxy.io/documentation/security/#forward-headers

[2021-06-25 11:03] yannick-dactika commented on #304
Hi,

Thank you for your answer, my keycloak server is under https, key and cert are defined in kubernetes cluster, I already tried with https://keycloak.xxx.com/auth, I have same problem, it's playing ping/pong between urls app.xxx.com and keycloak.xxx.com, then a file is downloaded and I have another log error :
[code]
For that, I tried to copy key and cert files in docker image of shinyproxy, de

[2021-06-25 11:33] LEDfan commented on #286
Hi

I looked into this issue and found a possible cause, but I'm not sure this is the issue you have:

1. the user goes to the login page (either straight to the login page or because they clicked the logout button)
2. the user keeps the login page open for some time longer than the max time of a session (e.g. if the `server.servlet.session.timeout` property is set to 1hour, the login page must be

[2021-06-28 16:04] markwsac opened #305 "Multiple pods opened in Iframe"
Thanks for your great open source service in data science community.

I have multiple shiny apps running in shinyproxy framework. I am trying to embed shinyproxy URL in the other static app (run by IT team) via Iframe. When one user visits the link it opens more than 10 containers (should be ideally 2 one for shinyproxy and shiny app). I tested on both docker compose and kubernete based deployment

[2021-06-30 12:45] alex-d13 opened #306 "shinyproxy whitescreen after page reload"
Hi,

I am having issues with shinyproxy:
When my container is started and running and I reload the browser page, I get a whitescreen (in the network console: error 503; service not availabe). Then after 6s (I reduced the heartbeat to 6000), after the container is released due to inactivity and I reload the page again, a new container is started.
Is there a way to connect to the original container,

[2021-07-07 06:42] LEDfan commented on #306
Hi @alex-d13

Reloading the page should work. Unfortunately, I don't know what is causing your problem. Could you check the logs of nginx and ShinyProxy when the 503 error happens?

[2021-07-07 06:46] LEDfan commented on #305
Hi

I think the issue is that every request in the iframe (e.g. for css, js, .. files) ShinyProxy is starting a new container. This could be caused because ShinyProxy is identifying every request as a different user. I suspect some isolation or misconfiguration of cookies could cause this. You could try the following to debug the issue:

- open the network tab of your browser (a.k.a developer tool

[2021-07-07 06:53] LEDfan commented on #279
Recently I had to setup a Flask app inside ShinyProxy. The information in this blog was very helpful: https://dlukes.github.io/flask-wsgi-url-prefix.html

If you are using ShinyProxy 2.5.0, you can add the following code to your `app.py`:

[code]

Then every time you refer to a static file in your templates, you have to use:

[code]

Also every time you make a link to another page in your app, you

[2021-07-08 09:15] alex-d13 commented on #306
Nothing really going on in the shinyproxy console:
[code]
I also found this error in the browser network console, might have something to do with it?

[code]

[2021-07-09 09:14] algo-se opened #307 "Mobile view"
Hi, when using ShinyProxy instead of deploying the apps directly through Docker, the responsiveness of the apps in mobile devices is lost.

I´ve seen there is a [PR](https://github.com/openanalytics/shinyproxy/pull/179) that tries to solve this. Any ETA on when this could be implemented?

[2021-07-12 09:41] dseynaev commented on #307
Hi @algo-se,

the linked PR only makes changes to the default theme. You can achieve the same result with a custom theme. More info and examples [here](https://github.com/openanalytics/shinyproxy-config-examples/tree/master/04-custom-html-template)

there is also a workaround where you can use `/app_direct/<app_name>` endpoints which will serve the app content directly without the iframe that can

[2021-07-12 12:50] algo-se commented on #307
Oh I see, thank you for the clarification @dseynaev! So do you have to use a custom theme in order to enable `app_direct` endpoints in the landing page? Is there any other way, can you do it from the application.yml?

[2021-07-13 08:30] dseynaev commented on #307
`app_direct` endpoints are be available by default (provided you are using a recent enough version of shinyproxy)

the suggestion to use a custom theme is a completely separate workaround I meant that you could try out the fix implemented in https://github.com/openanalytics/shinyproxy/pull/179 by copying the app.html from that PR and use it as a custom theme

[2021-07-13 08:39] dseynaev commented on #307
to have the landing page use `app_direct` links you would need a custom theme indeed. There is afaik no way to do it from the `application.yaml` (unless you only have one app, in which case you could use the `landing-page` setting to skip the landing page)

[2021-07-13 12:46] algo-se commented on #307
I´ve followed [these steps](https://github.com/openanalytics/shinyproxy-config-examples/tree/master/04-custom-html-template) but I can´t see any changes.

To set up Shiny Proxy I used [this tutorial](https://www.databentobox.com/2020/05/31/shinyproxy-with-docker-swarm/) , so I´m using Docker Swarm.

My folder structure is:
//home/myuser/shinyproxy-docker-swarm-demo/
├── application
│   ├── applica

[2021-07-13 14:44] dseynaev commented on #307
Looking at the tutorial you linked my guess would be that you need to mount the templates folder into the shinyproxy container in docker-compose configuration `shinyproxy.yml`

[2021-07-13 19:22] PauloJhonny opened #308 "Authentication taking too long (+-40 secs) in login page"
Hi,

I'm using shinyproxy 2.5.0 and LDAP authentication.

Sometimes when I try to login it takes about 40 seconds. It only returns to normal time when I restart the shinyproxy service.

I'm trying to figure out the exact time this happens again after restarting the shinyproxy service.

I couldn't find in the log file what could be happening. Also, when we were using shinyproxy version 2.3.0 this n

[2021-07-14 09:52] algo-se commented on #307
Awesome guess! 😉   That worked perfectly, thank you.

In case it´s useful for other people, here is what I've done:

1. Add `./application/templates:/opt/shinyproxy/templates` to `volumes` in `shinyproxy.yml`
![image](https://user-images.githubusercontent.com/72490678/125596723-f54fbc7a-0250-4399-9f35-37fde0c9f9ed.png)

2. Add [all the templates](https://github.com/openanalytics/shinyproxy-config-

[2021-07-14 09:52] #307 closed

[2021-07-14 11:31] ivokwee commented on #117
Same problem. But if you wait and reload it continues. Anyone has a fix?

[2021-07-15 14:48] pvictor opened #309 "Failed to start container: unix://localhost:80: Permission denied"
Hello,

I have an application that used to work fine with ShinyProxy but stop working, it now display an error 500:

[code]

I tried restarting docker and shinyproxy without success.

Here's my `application.yml` :

<details>
<summary>application.yml</summary>

[code]
</details>

I have an `/etc/systemd/system/docker.service.d/override.conf` file with:

[code]

And I use Nginx with default configur

[2021-07-16 07:27] LEDfan commented on #117
Hi everyone

First of all: this issue should only be happening if you are using ShinyProxy with docker in combination with Firefox on the same host that ShinyProxy and docker are running on. This is an inconvenient problem, but it should not affect your production environments.

However, I again did some research on this issue and it seems to be a bug in Firefox. I found this bug report on bugzill

[2021-07-16 07:33] LEDfan commented on #309
Hi

I'm not sure what is causing the issue in the first log message. However, in the last log file you attached, you can see the following error:

[code]
This means that a container is already using port 20000. Therefore I think you have some old containers running, which you should cleanup.
You can list the current running containers using:
[code]
This will output something similar to:
[code]
Her

[2021-07-16 07:42] LEDfan commented on #308
Hi

I never experienced this problem myself and don't really have a clue what could cause this. You could enable more verbose logging for the ldap component using:

[code]

Maybe that will give a useful error/debug message.

[2021-07-16 07:45] LEDfan commented on #306
Hi

Can you provide your `application.yml` file? (with the sensitive parts removed). Are you using `none` as authentication type (i.e. no-login)? And finally: are you running a proxy or load-balancer in front of ShinyProxy? Thanks!

[2021-07-16 12:21] nishantlnmiit opened #310 "Failed to load docker container shiny dashboard"
We have shinyproxy where we have deployed multiple shiny dashboards.

Few dashboards are not loaded , get 504 timeout error after 1 minute.

Tried to increase container wait time configuration in application.yml file but nothing happened.

Could you please help me to resolve this issue.

However when we try to refresh it 2-3 times , dashboard is loaded.

Please help me to fund resolution for this.

[2021-07-16 12:36] nishantlnmiit commented on #310
@LEDfan  , Please help me on this

[2021-07-16 23:11] jino-varghese opened #311 "Shiny Proxy application healthcheck from Kubernetes."
Hello Team,

I would successfully deploy Shiny Proxy on Kubernetes. Thanks for your great help and valuable advice to get me here.
I have 7 Shiny applications run under proxy and all works well, but i am experiencing an issue like, if i do not use this application in 1 or 2 days and later i tried to access,  the proxy page says:

Error
Status code: 500
Message: Failed to start the container

Hence

[2021-07-19 03:52] nishantlnmiit commented on #310
@LEDfan @oflasch - Please help me out .

[2021-07-19 12:51] alex-d13 commented on #306
Hi,

the application.yml is provided in my first post, and yes, I am using `none` as authentication.
I am using nginx as a proxy in front, the config file is also added in my first post.

Alex

[2021-07-20 15:02] LEDfan commented on #306
Hi

Which version of ShinyProxy are you using? If you are using 2.4.0 or later, please change the configuration for the forward headers: https://shinyproxy.io/documentation/security/#forward-headers .
If that doesn't solve the issue, can you try opening the `http://localhost:3848/app_direct/namco` directly and see if that works? Unfortunately I don't exactly know what is causing the issue, so we w

[2021-07-20 15:03] LEDfan commented on #310
Hi

Are you running any reverse proxies or loadbalancer in front of ShinyProxy? If so, these are causing the 504 timeout errors. You should update the configuration of the proxy to allow for a longer timeout.

[2021-07-20 15:06] LEDfan commented on #311
Hi

ShinyProxy does not keep applications indefinitely running, so it's not really possible to use healthcheck on them. If the application is not used (e.g. because the user logged out or closed the tab), ShinyProxy removes the app and thus also the underlying pod.

Can you provide the full stack trace of the error message you get? Usually there is some more information in there on what is causing

[2021-07-20 15:49] nishantlnmiit commented on #310
Thank you very much for your reply on my query.

Yes we are using nginx as reverse proxy, first request goes to nginx and
then it forwarded to shinyproxy.
I tried to add some timeout configuration in nginx conf file and reload
nginx conf but nothing happened.

What other solution can be fruitful here ?

On Tue, 20 Jul 2021, 20:33 Tobia De Koninck, ***@***.***>
wrote:

[2021-07-22 07:03] alex-d13 commented on #306
Hi

I tried out both suggestions (I am using version 2.4.0 and was using `foreward-headers: true`, so I changed that).
Do you think it would help if I send you the Docker image I am using? I am working togther with other people which did not have this issue for other shiny applications but we basically are using the same shinyproxy setup, so maybe the issue lies within the shiny image?

[2021-07-22 11:18] LEDfan commented on #306
Hi

Yes you can pass me the docker image. Nevertheless, can you you explain/show what happened when you opened `http://localhost:3848/app_direct/namco`? Can you maybe take a screenshot of the network tab of the browser developer tools (e.g. F12 -> click Network tab and reload the page). Thanks!

[2021-07-22 11:19] LEDfan commented on #310
Can you post your `application.yml` file and the configuration of nginx? How long does it takes to load the page before you get the timeout?

[2021-07-22 11:24] nishantlnmiit commented on #310
it takes 1 minutes to load then we get timeout error.

On Thu, Jul 22, 2021 at 4:49 PM Tobia De Koninck ***@***.***>
wrote:

[2021-07-26 06:40] Adt-HamzahJamal commented on #138
What was the resolution of this closure. I am facing the same problem.

[2021-07-27 13:18] nik-humphries opened #312 "Datetime in logs"
A previous issue #69 changed logs to include a timestamp, but it seems this process has changed?

In the latest version, logs are given in the format <appid>_<proxyid>_<YYYYMMDD>_stdxxx.log. I'm not sure where this is done in the code as have tried to have a look through, but is there an option or easy option to make this so it is YYYYMMDD_HHMMSS so it's easier to search through for specific logs